Repository Azure/ResourceModules, pull requests merged in 2022-11, with the labels that each got.

#2259 [Modules] Updates ServiceFabric to use storage resource ID & implemented a required fix for the readme script
  modules/Microsoft.ServiceFabric/clusters/.test/common/dependencies.bicep
  modules/Microsoft.ServiceFabric/clusters/.test/common/deploy.test.bicep
  modules/Microsoft.ServiceFabric/clusters/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Labels: enhancement, [cat] modules, [cat] utilities

#2203 [Modules] Updated Insight ActivityLogAlerts to new dependencies approach
  .github/workflows/ms.insights.activitylogalerts.yml
  modules/Microsoft.Insights/activityLogAlerts/.test/common/dependencies.bicep
  modules/Microsoft.Insights/activityLogAlerts/.test/common/deploy.test.bicep
  modules/Microsoft.Insights/activityLogAlerts/.test/parameters.json
  modules/Microsoft.Insights/activityLogAlerts/readme.md
Labels: [cat] modules, [cat] testing

#2262 Managed instance support TLS setting (Fixes #2261)
  modules/Microsoft.Sql/managedInstances/deploy.bicep
  modules/Microsoft.Sql/managedInstances/readme.md
Labels: enhancement, [cat] modules

#2102 [Modules] Updated Insight ActionGroups to new dependencies approach
  .github/workflows/ms.insights.actiongroups.yml
  modules/Microsoft.Insights/actionGroups/.test/common/dependencies.bicep
  modules/Microsoft.Insights/actionGroups/.test/common/deploy.test.bicep
  modules/Microsoft.Insights/actionGroups/.test/min/deploy.test.bicep
  modules/Microsoft.Insights/actionGroups/.test/parameters.json
  modules/Microsoft.Insights/actionGroups/readme.md
Labels: [cat] modules, [cat] testing

#1820 [Modules] Updated Batch/BatchAccounts to new dependency approach
  .github/workflows/ms.batch.batchaccounts.yml
  modules/Microsoft.Batch/batchAccounts/.test/common/dependencies.bicep
  modules/Microsoft.Batch/batchAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Batch/batchAccounts/.test/encr.parameters.json
  modules/Microsoft.Batch/batchAccounts/.test/encr/dependencies.bicep
  modules/Microsoft.Batch/batchAccounts/.test/encr/deploy.test.bicep
  modules/Microsoft.Batch/batchAccounts/.test/min.parameters.json
  modules/Microsoft.Batch/batchAccounts/.test/min/dependencies.bicep
  modules/Microsoft.Batch/batchAccounts/.test/min/deploy.test.bicep
  modules/Microsoft.Batch/batchAccounts/.test/parameters.json
  modules/Microsoft.Batch/batchAccounts/readme.md
Labels: [cat] modules, [cat] testing

#1844 [Modules] Updated virtualNetworkGateways to support AAD VPN
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  modules/Microsoft.Network/virtualNetworkGateways/.test/aadvpn.parameters.json
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/15.vnetGateway.parameters.json.json
Labels: enhancement, [cat] modules

#2264 [Modules] Update the API version for Virtual Hubs to latest version
  modules/Microsoft.Network/virtualHubs/deploy.bicep
  modules/Microsoft.Network/virtualHubs/hubRouteTables/deploy.bicep
  modules/Microsoft.Network/virtualHubs/hubRouteTables/readme.md
  modules/Microsoft.Network/virtualHubs/hubVirtualNetworkConnections/deploy.bicep
  modules/Microsoft.Network/virtualHubs/hubVirtualNetworkConnections/readme.md
  modules/Microsoft.Network/virtualHubs/readme.md
Labels: enhancement, [cat] modules

#2272 [Modules] Updated AzureSecurityCenter module to new dependencies approach
  .github/workflows/ms.security.azuresecuritycenter.yml
  modules/Microsoft.Security/azureSecurityCenter/.test/common/dependencies.bicep
  modules/Microsoft.Security/azureSecurityCenter/.test/common/deploy.test.bicep
  modules/Microsoft.Security/azureSecurityCenter/.test/parameters.json
  modules/Microsoft.Security/azureSecurityCenter/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#2013 [Modules] Updated OperationsManagement Solutions to new dependency approach
  .github/workflows/ms.operationsmanagement.solutions.yml
  modules/Microsoft.OperationsManagement/solutions/.test/min.parameters.json
  modules/Microsoft.OperationsManagement/solutions/.test/min/dependencies.bicep
  modules/Microsoft.OperationsManagement/solutions/.test/min/deploy.test.bicep
  modules/Microsoft.OperationsManagement/solutions/.test/ms.parameters.json
  modules/Microsoft.OperationsManagement/solutions/.test/ms/dependencies.bicep
  modules/Microsoft.OperationsManagement/solutions/.test/ms/deploy.test.bicep
  modules/Microsoft.OperationsManagement/solutions/.test/nonms.parameters.json
  modules/Microsoft.OperationsManagement/solutions/.test/nonms/dependencies.bicep
  modules/Microsoft.OperationsManagement/solutions/.test/nonms/deploy.test.bicep
  modules/Microsoft.OperationsManagement/solutions/readme.md
Labels: [cat] modules, [cat] testing

#2283 [Modules] KeyVault: Changed resource names to account for conflicts
  modules/Microsoft.KeyVault/vaults/.test/common/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/.test/min/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
Labels: enhancement, [cat] modules

#2286 [Module] Lighthouse - fix group object IDs
  modules/Microsoft.ManagedServices/registrationDefinitions/.test/common/deploy.test.bicep
  modules/Microsoft.ManagedServices/registrationDefinitions/.test/rg/deploy.test.bicep
  modules/Microsoft.ManagedServices/registrationDefinitions/readme.md
Labels: bug, [cat] modules

#2289 [Modules] Updated RSV to latest API version & added test
  modules/Microsoft.RecoveryServices/vaults/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.RecoveryServices/vaults/.test/common/deploy.test.bicep
  modules/Microsoft.RecoveryServices/vaults/backupStorageConfig/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/readme.md
Labels: enhancement, [cat] modules

#1832 [Modules] Updated Network/VirtualNetworkGateways to new dependency approach
  .github/workflows/ms.network.virtualnetworkgateways.yml
  modules/.shared/dependencyConstructs/diagnostic.dependencies.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/aadvpn.parameters.json
  modules/Microsoft.Network/virtualNetworkGateways/.test/aadvpn/dependencies.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/aadvpn/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/expressRoute.parameters.json
  modules/Microsoft.Network/virtualNetworkGateways/.test/expressRoute/dependencies.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/expressRoute/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/vpn.parameters.json
  modules/Microsoft.Network/virtualNetworkGateways/.test/vpn/dependencies.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/vpn/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
Labels: [cat] modules, [cat] testing

#2282 [Utilities] Updated the deployment name generation to be more detailed
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
Labels: enhancement, [cat] utilities

#2303 [Modules] Recovery Services Vault : Added replication alerts
  modules/Microsoft.RecoveryServices/vaults/.test/common/deploy.test.bicep
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.RecoveryServices/vaults/replicationAlertSettings/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/replicationAlertSettings/readme.md
  modules/Microsoft.RecoveryServices/vaults/replicationAlertSettings/version.json
Labels: enhancement, [cat] modules

#2273 [Modules] Converted Network NetworkWatcher to new dependencies approach
  .azuredevops/modulePipelines/ms.network.networkwatchers.yml
  .github/workflows/ms.network.networkwatchers.yml
  docs/wiki/The CI environment - Deployment validation.md
  modules/Microsoft.Network/networkWatchers/.test/common/dependencies.bicep
  modules/Microsoft.Network/networkWatchers/.test/common/deploy.test.bicep
  modules/Microsoft.Network/networkWatchers/.test/min.parameters.json
  modules/Microsoft.Network/networkWatchers/.test/min/deploy.test.bicep
  modules/Microsoft.Network/networkWatchers/.test/parameters.json
  modules/Microsoft.Network/networkWatchers/readme.md
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Labels: [cat] modules, [cat] testing

#2313 [CI environment] Update removal to support Azure Security Center module
  .azuredevops/modulePipelines/ms.security.azuresecuritycenter.yml
  .github/workflows/ms.security.azuresecuritycenter.yml
  docs/wiki/The CI environment - Deployment validation.md
  modules/Microsoft.Security/azureSecurityCenter/deploy.bicep
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Labels: documentation, [cat] pipelines, [cat] testing

#2315 [Utiltities] Updated `Set-ModuleReadMe` script to work with latest PowerShell version
  modules/Microsoft.Web/connections/readme.md
  modules/Microsoft.Web/sites/readme.md
  utilities/tools/helper/ConvertTo-OrderedHashtable.ps1
Labels: enhancement, [cat] utilities

#2312 [Modules] Update AKS Orchestrator version when upgrade.
  modules/Microsoft.ContainerService/managedClusters/.test/azure/dependencies.bicep
  modules/Microsoft.ContainerService/managedClusters/.test/azure/deploy.test.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
Labels: bug, [cat] modules

#2316 [Modules] Update SQL MI to new dependencies approach
  .github/workflows/ms.sql.managedinstances.yml
  modules/Microsoft.Sql/managedInstances/.test/common/dependencies.bicep
  modules/Microsoft.Sql/managedInstances/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/managedInstances/.test/min.parameters.json
  modules/Microsoft.Sql/managedInstances/.test/min/dependencies.bicep
  modules/Microsoft.Sql/managedInstances/.test/min/deploy.test.bicep
  modules/Microsoft.Sql/managedInstances/.test/parameters.json
  modules/Microsoft.Sql/managedInstances/deploy.bicep
  modules/Microsoft.Sql/managedInstances/readme.md
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: enhancement, [cat] modules, [cat] testing

#2328 [Fixes] Update version of platform pipelines external actions
  .github/workflows/platform.assignPrToAuthor.yml
  .github/workflows/platform.linkcheck.yml
Labels: enhancement, [cat] pipelines

#2325 [Modules] Updated Compute Image API Version
  modules/Microsoft.Compute/images/.test/common/dependencies.bicep
  modules/Microsoft.Compute/images/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/images/deploy.bicep
  modules/Microsoft.Compute/images/readme.md
Labels: enhancement, [cat] modules

#2322 [Wiki] Update Fetch latest updates section and fix broken links
  docs/wiki/Fetching latest changes - Scenario 1 Consume library.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
Labels: documentation, enhancement

#2306 [Fixes] Fixed incorrect parameter usage example
  modules/Microsoft.Web/sites/readme.md
Labels: bug, documentation, [cat] modules

#2311 [Utilities] Aligned deployment name generation of `Test-TemplateDeployment` & `New-TemplateDeployment`
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Labels: [cat] testing, [cat] utilities

#2294 [Utilities] `Set-ModuleReadMe` Improved function identification regex
  modules/Microsoft.ApiManagement/service/readme.md
  modules/Microsoft.Authorization/policyDefinitions/readme.md
  modules/Microsoft.Authorization/policyExemptions/readme.md
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Compute/disks/readme.md
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.DesktopVirtualization/scalingplans/readme.md
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/scheduledQueryRules/readme.md
  modules/Microsoft.Network/applicationGateways/readme.md
  modules/Microsoft.Network/frontDoors/readme.md
  modules/Microsoft.Network/loadBalancers/readme.md
  modules/Microsoft.Network/networkWatchers/readme.md
  modules/Microsoft.Network/virtualHubs/readme.md
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
  modules/Microsoft.PowerBIDedicated/capacities/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.Resources/resourceGroups/readme.md
  modules/Microsoft.Resources/tags/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.Web/connections/readme.md
  modules/Microsoft.Web/hostingEnvironments/readme.md
  modules/Microsoft.Web/sites/readme.md
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/helper/ConvertTo-OrderedHashtable.ps1
Labels: [cat] utilities

#2341 [Modules] Updated ReadMes based on latest main
  modules/Microsoft.Authorization/policyExemptions/managementGroup/readme.md
  modules/Microsoft.Authorization/policyExemptions/resourceGroup/readme.md
  modules/Microsoft.Authorization/policyExemptions/subscription/readme.md
  modules/Microsoft.EventHub/namespaces/eventhubs/readme.md
  modules/Microsoft.Resources/tags/resourceGroups/readme.md
  modules/Microsoft.Resources/tags/subscriptions/readme.md
  modules/Microsoft.ServiceBus/namespaces/queues/readme.md
  modules/Microsoft.ServiceBus/namespaces/topics/readme.md
Labels: documentation, enhancement, [cat] modules

#2275 [Modules] Updated dependency references to not pass a resource ID unless required
  modules/Microsoft.Compute/virtualMachines/.test/linux/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows/deploy.test.bicep
  modules/Microsoft.DataProtection/backupVaults/deploy.bicep
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/common/dependencies.bicep
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/common/deploy.test.bicep
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/min/dependencies.bicep
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/min/deploy.test.bicep
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.ServiceFabric/clusters/.test/common/dependencies.bicep
  modules/Microsoft.ServiceFabric/clusters/.test/common/deploy.test.bicep
Labels: [cat] modules, [cat] testing

#2317 [Modules] Updated Policy Exemption API version
  modules/Microsoft.Authorization/policyExemptions/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/rg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/deploy.bicep
  modules/Microsoft.Authorization/policyExemptions/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/policyExemptions/managementGroup/readme.md
  modules/Microsoft.Authorization/policyExemptions/readme.md
  modules/Microsoft.Authorization/policyExemptions/resourceGroup/deploy.bicep
  modules/Microsoft.Authorization/policyExemptions/resourceGroup/readme.md
  modules/Microsoft.Authorization/policyExemptions/subscription/deploy.bicep
  modules/Microsoft.Authorization/policyExemptions/subscription/readme.md
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/tools/helper/ConvertTo-OrderedHashtable.ps1
Labels: enhancement, [cat] modules

#2307 [Fixes] Fix DataProtection Backup Vaults
  modules/Microsoft.DataProtection/backupVaults/backupPolicies/deploy.bicep
  modules/Microsoft.DataProtection/backupVaults/backupPolicies/readme.md
  modules/Microsoft.DataProtection/backupVaults/deploy.bicep
  modules/Microsoft.DataProtection/backupVaults/readme.md
Labels: [cat] modules

#2333 [Modules] Updated to new dependencies approach SignalRService #2230
  .github/workflows/ms.signalrservice.webpubsub.yml
  modules/Microsoft.SignalRService/webPubSub/.test/common/dependencies.bicep
  modules/Microsoft.SignalRService/webPubSub/.test/common/deploy.test.bicep
  modules/Microsoft.SignalRService/webPubSub/.test/min.parameters.json
  modules/Microsoft.SignalRService/webPubSub/.test/min/deploy.test.bicep
  modules/Microsoft.SignalRService/webPubSub/.test/parameters.json
  modules/Microsoft.SignalRService/webPubSub/.test/pe.parameters.json
  modules/Microsoft.SignalRService/webPubSub/.test/pe/dependencies.bicep
  modules/Microsoft.SignalRService/webPubSub/.test/pe/deploy.test.bicep
  modules/Microsoft.SignalRService/webPubSub/readme.md
Labels: [cat] modules, [cat] testing

#2342 [Modules] Updated Private Link Services to new dependencies approach
  .github/workflows/ms.network.privatelinkservices.yml
  modules/Microsoft.Network/privateLinkServices/.test/common/dependencies.bicep
  modules/Microsoft.Network/privateLinkServices/.test/common/deploy.test.bicep
  modules/Microsoft.Network/privateLinkServices/.test/min.parameters.json
  modules/Microsoft.Network/privateLinkServices/.test/min/dependencies.bicep
  modules/Microsoft.Network/privateLinkServices/.test/min/deploy.test.bicep
  modules/Microsoft.Network/privateLinkServices/.test/parameters.json
  modules/Microsoft.Network/privateLinkServices/readme.md
Labels: [cat] modules

#2343 [Modules] Enable Key Vault Purge Protection per default (disable in tests)
  modules/Microsoft.KeyVault/vaults/.test/common/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/.test/min/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/.test/pe/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
Labels: enhancement, [cat] modules

#1869 [Modules] Updated AAD Domain Services module to new dependency approach
  .github/workflows/ms.aad.domainservices.yml
  modules/Microsoft.AAD/DomainServices/.test/.scripts/New-Certificate.ps1
  modules/Microsoft.AAD/DomainServices/.test/common/dependencies.bicep
  modules/Microsoft.AAD/DomainServices/.test/common/deploy.test.bicep
  modules/Microsoft.AAD/DomainServices/.test/parameters.json
  modules/Microsoft.AAD/DomainServices/deploy.bicep
  modules/Microsoft.AAD/DomainServices/readme.md
Labels: [cat] modules, [cat] testing

#2345 Updated PowerBI Dedicated - capacities to new dependencies approach
  .github/workflows/ms.powerbidedicated.capacities.yml
  SUPPORT.md
  modules/Microsoft.PowerBIDedicated/capacities/.test/common/dependencies.bicep
  modules/Microsoft.PowerBIDedicated/capacities/.test/common/deploy.test.bicep
  modules/Microsoft.PowerBIDedicated/capacities/.test/min.parameters.json
  modules/Microsoft.PowerBIDedicated/capacities/.test/min/dependencies.bicep
  modules/Microsoft.PowerBIDedicated/capacities/.test/min/deploy.test.bicep
  modules/Microsoft.PowerBIDedicated/capacities/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#2349 [CI environment] Broken links pipeline update
  .github/workflows/platform.linkcheck.yml
  .lycheeignore
  README.md
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/media/CIEnvironment/dependencyPipelineInput.png
  docs/wiki/media/CIEnvironment/modulePipelineInput.png
  docs/wiki/media/GettingStarted/cloneDownloadRepo.png
  modules/Microsoft.ApiManagement/service/portalSettings/deploy.bicep
  modules/Microsoft.ApiManagement/service/portalSettings/readme.md
  modules/Microsoft.ApiManagement/service/portalSettings/version.json
  modules/Microsoft.EventHub/namespaces/eventHubs/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.EventHub/namespaces/eventHubs/authorizationRules/deploy.bicep
  modules/Microsoft.EventHub/namespaces/eventHubs/authorizationRules/readme.md
  modules/Microsoft.EventHub/namespaces/eventHubs/authorizationRules/version.json
  modules/Microsoft.EventHub/namespaces/eventHubs/consumerGroups/deploy.bicep
  modules/Microsoft.EventHub/namespaces/eventHubs/consumerGroups/readme.md
  modules/Microsoft.EventHub/namespaces/eventHubs/consumerGroups/version.json
  modules/Microsoft.EventHub/namespaces/eventHubs/deploy.bicep
  modules/Microsoft.EventHub/namespaces/eventHubs/readme.md
  modules/Microsoft.EventHub/namespaces/eventHubs/version.json
Labels: enhancement, [cat] pipelines, [cat] github

#2352 [Fixes] Updated the way child module readmes are referenced
  modules/Microsoft.Network/privateDnsZones/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Labels: documentation, [cat] modules, [cat] utilities

#2354 [Fixes] Update home readme status badges
  README.md
Labels: documentation, enhancement

#2357 [Fixes] Fixed incorrect child module references
  modules/Microsoft.ApiManagement/service/deploy.bicep
  modules/Microsoft.EventHub/namespaces/deploy.bicep
  modules/Microsoft.EventHub/namespaces/eventHubs/deploy.bicep
Labels: bug, [cat] modules

#2356 [Utilities] Update REST2CARML to leverage AzureAPICrawler module
  modules/Microsoft.AVS/privateClouds/deploy.bicep
  utilities/tools/REST2CARML/REST2CARML.psd1
  utilities/tools/REST2CARML/private/extension/Get-DiagnosticOptionsList.ps1
  utilities/tools/REST2CARML/private/extension/Get-RoleAssignmentsList.ps1
  utilities/tools/REST2CARML/private/extension/Get-SupportsLock.ps1
  utilities/tools/REST2CARML/private/extension/Get-SupportsPrivateEndpoint.ps1
  utilities/tools/REST2CARML/private/extension/Set-DiagnosticModuleData.ps1
  utilities/tools/REST2CARML/private/extension/Set-LockModuleData.ps1
  utilities/tools/REST2CARML/private/extension/Set-PrivateEndpointModuleData.ps1
  utilities/tools/REST2CARML/private/extension/Set-RoleAssignmentsModuleData.ps1
  utilities/tools/REST2CARML/private/module/Get-LinkedChildModuleList.ps1
  utilities/tools/REST2CARML/private/module/Get-TemplateChildModuleContent.ps1
  utilities/tools/REST2CARML/private/module/Get-TemplateDeploymentsContent.ps1
  utilities/tools/REST2CARML/private/module/Get-TemplateParametersContent.ps1
  utilities/tools/REST2CARML/private/module/Get-TemplateVariablesContent.ps1
  utilities/tools/REST2CARML/private/module/Set-Module.ps1
  utilities/tools/REST2CARML/private/module/Set-ModuleTemplate.ps1
  utilities/tools/REST2CARML/private/shared/Get-DataUsingCache.ps1
  utilities/tools/REST2CARML/private/specs/Copy-CustomRepository.ps1
  utilities/tools/REST2CARML/private/specs/Get-FolderList.ps1
  utilities/tools/REST2CARML/private/specs/Get-ServiceSpecPathData.ps1
  utilities/tools/REST2CARML/private/specs/Get-SpecsPropertiesAsParameterList.ps1
  utilities/tools/REST2CARML/private/specs/Get-SpecsPropertyAsParameter.ps1
  utilities/tools/REST2CARML/private/specs/Resolve-ModuleData.ps1
  utilities/tools/REST2CARML/private/specs/Resolve-SpecPropertyReference.ps1
  utilities/tools/REST2CARML/private/specs/Set-OptionalParameter.ps1
  utilities/tools/REST2CARML/public/Get-AzureApiSpecsData.ps1
  utilities/tools/REST2CARML/public/Invoke-REST2CARML.ps1
Labels: enhancement, [cat] utilities

#2353 [Fixes] Fixed usage of deployment name in Test-Deployment script
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
Labels: bug, [cat] utilities

#2360 [Fixes] Fix Network Watcher dependency ubuntu VM offer update
  modules/Microsoft.Network/networkWatchers/.test/common/dependencies.bicep
Labels: bug, [cat] modules, [cat] testing

#1833 [Modules] Updated Network/VPNGateways to new dependency approach
  .github/workflows/ms.network.vpngateways.yml
  modules/Microsoft.Network/vpnGateways/.test/common/dependencies.bicep
  modules/Microsoft.Network/vpnGateways/.test/common/deploy.test.bicep
  modules/Microsoft.Network/vpnGateways/.test/min.parameters.json
  modules/Microsoft.Network/vpnGateways/.test/min/dependencies.bicep
  modules/Microsoft.Network/vpnGateways/.test/min/deploy.test.bicep
  modules/Microsoft.Network/vpnGateways/.test/parameters.json
  modules/Microsoft.Network/vpnGateways/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2364 [Modules] Update dependency & documentation for module
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  modules/Microsoft.Web/sites/.test/functionAppCommon/dependencies.bicep
  modules/Microsoft.Web/sites/.test/functionAppCommon/deploy.test.bicep
Labels: enhancement, [cat] modules

#2366 [Modules] Improve disk encryption options to VM and VMSS
  constructs/Microsoft.Compute/virtualMachinesMultiple/deploy.bicep
  constructs/Microsoft.Compute/virtualMachinesMultiple/readme.md
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/The library - Module design.md
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/linux.ssecmk/dependencies.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/linux.ssecmk/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/linux/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/windows/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
  modules/Microsoft.Compute/virtualMachineScaleSets/version.json
  modules/Microsoft.Compute/virtualMachines/.test/linux/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.ssecmk/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.ssecmk/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.Compute/virtualMachines/version.json
Labels: documentation, enhancement, [cat] modules, [cat] testing

#2371 [Modules] Added Elastic Pool support to SQL Server
  modules/Microsoft.Sql/servers/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/servers/databases/deploy.bicep
  modules/Microsoft.Sql/servers/databases/readme.md
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/elasticPools/deploy.bicep
  modules/Microsoft.Sql/servers/elasticPools/readme.md
  modules/Microsoft.Sql/servers/elasticPools/version.json
  modules/Microsoft.Sql/servers/readme.md
Labels: enhancement, [cat] modules

#2365 [Modules] Update reference usage in template
  modules/Microsoft.VirtualMachineImages/imageTemplates/deploy.bicep
Labels: enhancement, [cat] modules

#2346 [Fixes] Fixed location of settings
  settings.yml
Labels: [cat] pipelines

#2369 [Utilities] Fixing Update-NestedRoleAssignmentList.ps1 script to support 'Microsoft.Authorization/roleAssignments' module
  modules/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  modules/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  utilities/tools/Get-RoleAssignmentList.ps1
  utilities/tools/Update-RoleAssignmentList.ps1
Labels: enhancement, [cat] utilities

#2372 [Modules] Update of the built-in roles across the module library
  modules/Microsoft.ContainerService/managedClusters/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Insights/actionGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Insights/activityLogAlerts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Insights/components/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Insights/metricAlerts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Insights/privateLinkScopes/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Insights/scheduledQueryRules/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.RecoveryServices/vaults/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Resources/resourceGroups/.bicep/nested_roleAssignments.bicep
Labels: enhancement, [cat] utilities

#2380 [Fixes] Fixed failing pipelines
  modules/Microsoft.Network/natGateways/.test/common/deploy.test.bicep
  modules/Microsoft.PowerBIDedicated/capacities/deploy.bicep
  modules/Microsoft.PowerBIDedicated/capacities/readme.md
Labels: bug, [cat] modules

#2350 [Modules] Update Synapse Worskpace to new dependencies approach
  .github/workflows/ms.synapse.workspaces.yml
  modules/Microsoft.ServiceFabric/clusters/.test/common/deploy.test.bicep
  modules/Microsoft.ServiceFabric/clusters/readme.md
  modules/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
  modules/Microsoft.Synapse/workspaces/.test/common/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/common/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwsai/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwsai/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwuai/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwuai/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/encryptionwsai.parameters.json
  modules/Microsoft.Synapse/workspaces/.test/encryptionwuai.parameters.json
  modules/Microsoft.Synapse/workspaces/.test/managedvnet.parameters.json
  modules/Microsoft.Synapse/workspaces/.test/managedvnet/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/managedvnet/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/min.parameters.json
  modules/Microsoft.Synapse/workspaces/.test/min/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/min/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/parameters.json
  modules/Microsoft.Synapse/workspaces/deploy.bicep
  modules/Microsoft.Synapse/workspaces/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#2383 [Wiki] Re-apply suggested changes
  docs/wiki/The CI environment - Deployment history cleanup.md
Labels: documentation, enhancement

#2330 [Utilities] Fix for test name prefix availability
  utilities/tools/Test-NamePrefixAvailability.ps1
Labels: enhancement, [cat] utilities

#2385 [Utilities] Renamed Deployment History Removal functions & fixed reference
  .azuredevops/platformPipelines/platform.deployment.history.cleanup.yml
  .github/workflows/platform.deployment.history.cleanup.yml
  docs/wiki/The CI environment - Deployment history cleanup.md
  docs/wiki/The CI environment - Deployment removal.md
  utilities/pipelines/deploymentRemoval/Clear-ManagementGroupDeploymentHistory.ps1
  utilities/pipelines/deploymentRemoval/Clear-SubscriptionDeploymentHistory.ps1
Labels: bug, enhancement, [cat] pipelines, [cat] utilities

#2362 [Modules] Updated MS.AuthZ namespace modules to use `.id` for ResourceID outputs
  modules/Microsoft.Authorization/policyAssignments/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/resourceGroup/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/subscription/deploy.bicep
  modules/Microsoft.Authorization/policyDefinitions/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyDefinitions/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyDefinitions/.test/sub.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyDefinitions/deploy.bicep
  modules/Microsoft.Authorization/policyDefinitions/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/policyDefinitions/managementGroup/readme.md
  modules/Microsoft.Authorization/policyDefinitions/readme.md
  modules/Microsoft.Authorization/policyDefinitions/subscription/deploy.bicep
  modules/Microsoft.Authorization/policyDefinitions/subscription/readme.md
  modules/Microsoft.Authorization/policyExemptions/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/rg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/rg.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/sub.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/deploy.bicep
  modules/Microsoft.Authorization/policyExemptions/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/policyExemptions/managementGroup/readme.md
  modules/Microsoft.Authorization/policyExemptions/readme.md
  modules/Microsoft.Authorization/policyExemptions/resourceGroup/deploy.bicep
  modules/Microsoft.Authorization/policyExemptions/resourceGroup/readme.md
  modules/Microsoft.Authorization/policyExemptions/subscription/deploy.bicep
  modules/Microsoft.Authorization/policyExemptions/subscription/readme.md
  modules/Microsoft.Authorization/policySetDefinitions/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policySetDefinitions/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/policySetDefinitions/.test/sub.min/deploy.test.bicep
  modules/Microsoft.Authorization/policySetDefinitions/deploy.bicep
  modules/Microsoft.Authorization/policySetDefinitions/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/policySetDefinitions/managementGroup/readme.md
  modules/Microsoft.Authorization/policySetDefinitions/readme.md
  modules/Microsoft.Authorization/policySetDefinitions/subscription/deploy.bicep
  modules/Microsoft.Authorization/policySetDefinitions/subscription/readme.md
  modules/Microsoft.Authorization/roleAssignments/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/roleAssignments/resourceGroup/deploy.bicep
  modules/Microsoft.Authorization/roleAssignments/subscription/deploy.bicep
  modules/Microsoft.Authorization/roleDefinitions/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/roleDefinitions/subscription/deploy.bicep
Labels: bug, [cat] modules

#2390 [Fixes] Fixes Role Assignment module tests
  modules/Microsoft.Authorization/roleAssignments/.test/mg.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/rg.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/sub.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/readme.md
Labels: bug, [cat] modules

#2375 [Utilties] Updated compatability of `ConvertTo-ARMTemplate` utility to new dependencies approach
  docs/wiki/Contribution guide - Generate module readme.md
  docs/wiki/Interoperability - Bicep to ARM conversion.md
  utilities/tools/ConvertTo-ARMTemplate.ps1
  utilities/tools/tests/ConvertTo-ARMTemplate.Tests.ps1
Labels: [cat] testing, [cat] utilities

#2394 [Fixes] Fix deployment error with flexible server configurations
  modules/Microsoft.DBforPostgreSQL/flexibleServers/deploy.bicep
Labels: bug, [cat] modules

#2389 [Wiki] Updated deployment & usage examples & further cleanup
  .azuredevops/pipelineTemplates/jobs.getModuleTestFiles.yml
  docs/wiki/Solution creation.md
  docs/wiki/The library - Module usage.md
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Get-ResourceIdsAsFormattedObjectList.ps1
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/tools/Test-ModuleLocally.ps1
Labels: documentation, enhancement, [cat] pipelines

#2381 [Utilities] `Set-ModuleReadme` Several smaller improvements for the JSON-Template case
  utilities/tools/Set-ModuleReadMe.ps1
Labels: bug, [cat] utilities
