Repository Azure/ResourceModules, pull requests merged in 2022-08, with the labels that each got.

#1711 [Fixes] Update VM domainJoin parameter usage
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
Labels: documentation, enhancement, [cat] modules

#1734 [Modules] Update Microsoft.Storage modules API version
  modules/Microsoft.Storage/storageAccounts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/readme.md
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/readme.md
  modules/Microsoft.Storage/storageAccounts/blobServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/fileServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/fileServices/readme.md
  modules/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/fileServices/shares/readme.md
  modules/Microsoft.Storage/storageAccounts/managementPolicies/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/managementPolicies/readme.md
  modules/Microsoft.Storage/storageAccounts/queueServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/queueServices/queues/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Storage/storageAccounts/queueServices/queues/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/queueServices/queues/readme.md
  modules/Microsoft.Storage/storageAccounts/queueServices/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Storage/storageAccounts/tableServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/tableServices/readme.md
  modules/Microsoft.Storage/storageAccounts/tableServices/tables/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/tableServices/tables/readme.md
Labels: bug, [cat] modules, [cat] testing

#1738 [Fixes] ADO pipeline typo fix
  .github/workflows/ms.aad.domainservices.yml
Labels: bug, [cat] pipelines, [cat] azure devops

#1733 [Utility] Small update to management group deployments removal script to better handle small number of deployments
  utilities/tools/Clear-ManagementGroupDeployment.ps1
Labels: bug, [cat] utilities

#1730 [Modules] Microsoft.Network API version update
  modules/Microsoft.Network/applicationSecurityGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/applicationSecurityGroups/deploy.bicep
  modules/Microsoft.Network/applicationSecurityGroups/readme.md
  modules/Microsoft.Network/azureFirewalls/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/azureFirewalls/deploy.bicep
  modules/Microsoft.Network/azureFirewalls/readme.md
  modules/Microsoft.Network/bastionHosts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/bastionHosts/deploy.bicep
  modules/Microsoft.Network/bastionHosts/readme.md
  modules/Microsoft.Network/firewallPolicies/readme.md
  modules/Microsoft.Network/firewallPolicies/ruleCollectionGroups/deploy.bicep
  modules/Microsoft.Network/firewallPolicies/ruleCollectionGroups/readme.md
  modules/Microsoft.Network/ipGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/ipGroups/deploy.bicep
  modules/Microsoft.Network/ipGroups/readme.md
  modules/Microsoft.Network/loadBalancers/backendAddressPools/deploy.bicep
  modules/Microsoft.Network/loadBalancers/backendAddressPools/readme.md
  modules/Microsoft.Network/loadBalancers/inboundNatRules/deploy.bicep
  modules/Microsoft.Network/loadBalancers/inboundNatRules/readme.md
  modules/Microsoft.Network/loadBalancers/readme.md
  modules/Microsoft.Network/networkSecurityGroups/readme.md
  modules/Microsoft.Network/networkSecurityGroups/securityRules/deploy.bicep
  modules/Microsoft.Network/networkSecurityGroups/securityRules/readme.md
  modules/Microsoft.Network/routeTables/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/routeTables/deploy.bicep
  modules/Microsoft.Network/routeTables/readme.md
  modules/Microsoft.Network/virtualHubs/deploy.bicep
  modules/Microsoft.Network/virtualHubs/hubRouteTables/deploy.bicep
  modules/Microsoft.Network/virtualHubs/hubRouteTables/readme.md
  modules/Microsoft.Network/virtualHubs/hubVirtualNetworkConnections/deploy.bicep
  modules/Microsoft.Network/virtualHubs/hubVirtualNetworkConnections/readme.md
  modules/Microsoft.Network/virtualHubs/readme.md
  modules/Microsoft.Network/virtualNetworks/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/virtualNetworks/deploy.bicep
  modules/Microsoft.Network/virtualNetworks/readme.md
  modules/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  modules/Microsoft.Network/virtualNetworks/subnets/readme.md
  modules/Microsoft.Network/virtualNetworks/virtualNetworkPeerings/deploy.bicep
  modules/Microsoft.Network/virtualNetworks/virtualNetworkPeerings/readme.md
  modules/Microsoft.Network/virtualWans/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/virtualWans/deploy.bicep
  modules/Microsoft.Network/virtualWans/readme.md
Labels: bug, [cat] modules, [cat] testing

#1743 [Modules] Update the Application Gateway test parameter files to support mandatory properties after an API version update
  modules/Microsoft.Network/applicationGateways/.test/parameters.json
  modules/Microsoft.Network/applicationGateways/readme.md
Labels: bug, [cat] modules

#1721 [Modules] Uplifted ADF module to support managed Private endpoints
  modules/Microsoft.DataFactory/factories/.test/min.parameters.json
  modules/Microsoft.DataFactory/factories/.test/parameters.json
  modules/Microsoft.DataFactory/factories/deploy.bicep
  modules/Microsoft.DataFactory/factories/managedVirtualNetwork/deploy.bicep
  modules/Microsoft.DataFactory/factories/managedVirtualNetwork/managedPrivateEndpoints/deploy.bicep
  modules/Microsoft.DataFactory/factories/managedVirtualNetwork/managedPrivateEndpoints/readme.md
  modules/Microsoft.DataFactory/factories/managedVirtualNetwork/managedPrivateEndpoints/version.json
  modules/Microsoft.DataFactory/factories/managedVirtualNetwork/readme.md
  modules/Microsoft.DataFactory/factories/readme.md
  utilities/pipelines/staticValidation/module.tests.ps1
Labels: enhancement, [cat] modules

#1746 [Fixes] Fixing ADO removal for role assignments
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Labels: bug, [cat] testing

#1747 [Fixes] Ensure $profile is always available
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Labels: bug, [cat] pipelines

#1726 [CI environment] Template orchestration for dependencies pipeline - Store VHD to blob container
  .azuredevops/pipelineTemplates/jobs.dependenciesModuleDeployment.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/workflows/platform.dependencies.yml
  modules/Microsoft.Compute/disks/.test/import.parameters.json
  modules/Microsoft.Compute/disks/readme.md
  modules/Microsoft.Compute/images/.test/parameters.json
  modules/Microsoft.Compute/images/readme.md
  modules/Microsoft.VirtualMachineImages/imageTemplates/deploy.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/readme.md
  utilities/pipelines/dependencies/Microsoft.VirtualMachineImages/imageTemplates/parameters/parameters.json
  utilities/pipelines/dependencies/constructs/StoreVhdToStorage/deploy.bicep
  utilities/pipelines/dependencies/constructs/StoreVhdToStorage/deploymentScripts/Copy-VhdToStorageAccount.ps1
  utilities/pipelines/dependencies/constructs/StoreVhdToStorage/deploymentScripts/Remove-ImageTemplate.ps1
  utilities/pipelines/dependencies/constructs/StoreVhdToStorage/deploymentScripts/Start-ImageTemplate.ps1
  utilities/pipelines/resourceRemoval/helper/Get-DependencyResourceNameList.ps1
  utilities/pipelines/tokensReplacement/Convert-TokensInFileList.ps1
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/Test-NamePrefixAvailability.ps1
Labels: enhancement, [cat] pipelines, [cat] testing

#1758 [Modules] Update App config tests
  modules/Microsoft.AppConfiguration/configurationStores/.test/parameters.json
  modules/Microsoft.AppConfiguration/configurationStores/.test/pe.parameters.json
  modules/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#1757 [Modules] Remove autogenerated unique name from KV
  modules/Microsoft.KeyVault/vaults/.test/min.parameters.json
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.KeyVault/vaults/version.json
Labels: enhancement, [cat] modules

#1759 [Fixes] Extend vscode settings with json specific
  .vscode/settings.json
Labels: enhancement, [cat] modules

#1640 [Wiki] Home page updates to documentation
  docs/wiki/Home.md
Labels: documentation, enhancement

#1760 [Modules] VM: Added proximityPlacementGroup test + changed param format
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/windows.parameters.json
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
  modules/Microsoft.Compute/virtualMachineScaleSets/version.json
  modules/Microsoft.Compute/virtualMachines/.test/windows.parameters.json
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.Compute/virtualMachines/version.json
  utilities/pipelines/dependencies/Microsoft.Compute/proximityPlacementGroups/parameters/vm.parameters.json
  utilities/pipelines/dependencies/Microsoft.Compute/proximityPlacementGroups/parameters/vmss.parameters.json
Labels: enhancement, [cat] modules

#1768 [Bug Fix] Updated helper to reference the new script for cross reference
  utilities/pipelines/staticValidation/helper/helper.psm1
Labels: bug, [prio] high

#1771 [Modules] Adds zoneRedundant property to serverfarms module
  modules/Microsoft.Web/serverfarms/deploy.bicep
  modules/Microsoft.Web/serverfarms/readme.md
Labels: enhancement, [cat] modules

#1776 [Fixes] Fixed subscription ID reference in dependency construct
  utilities/pipelines/dependencies/constructs/StoreVhdToStorage/deploy.bicep
Labels: bug, [cat] modules

#1777 Users/lsnoddy/vmss
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/linux.min.parameters.json
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/linux.parameters.json
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/windows.min.parameters.json
  modules/Microsoft.Compute/virtualMachineScaleSets/.test/windows.parameters.json
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
Labels: bug, [cat] modules

#1775 [CI environment] Added subscription context for supporting MG scope service connections
  .azuredevops/platformPipelines/platform.dependencies.yml
Labels: enhancement, [cat] pipelines, [cat] azure devops

#1780 [Fixes] Resource removal stage attempts to remove dependency resources
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
Labels: bug, [prio] high, [cat] pipelines, [cat] github, [cat] azure devops

#1783 [Fixes] Improved compatibility with Linux & improved robustness
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/tools/Get-CrossReferencedModuleList.ps1
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/Test-ModuleLocally.ps1
Labels: bug, enhancement, [cat] utilities

#1785 [Fixes] Small working fixes and updates to quotation
  .github/actions/templates/getModuleTestFiles/action.yml
  .github/actions/templates/getWorkflowInput/action.yml
  .github/actions/templates/publishModule/action.yml
  .github/actions/templates/setEnvironmentVariables/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
  .github/workflows/ms.analysisservices.servers.yml
  .github/workflows/ms.apimanagement.service.yml
  .github/workflows/ms.web.serverfarms.yml
Labels: bug, [cat] pipelines

#1779 [Module]: Azure Database for PostgreSQL Flexible Servers Module
  .azuredevops/modulePipelines/ms.dbforpostgresql.flexibleservers.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/ms.dbforpostgresql.flexibleservers.yml
  .github/workflows/platform.dependencies.yml
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/min.parameters.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/private.parameters.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/public.parameters.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/configurations/deploy.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/configurations/readme.md
  modules/Microsoft.DBforPostgreSQL/flexibleServers/configurations/version.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/databases/deploy.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/databases/readme.md
  modules/Microsoft.DBforPostgreSQL/flexibleServers/databases/version.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/deploy.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/firewallRules/deploy.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/firewallRules/readme.md
  modules/Microsoft.DBforPostgreSQL/flexibleServers/firewallRules/version.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/readme.md
  modules/Microsoft.DBforPostgreSQL/flexibleServers/version.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/postgres.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/14.postgres.parameters.json
Labels: [cat] modules

#1761 [CI Environment] Align `Join-Path` usage + minor formatting updates
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  .github/workflows/platform.updateReadMe.yml
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/pipelines/tokensReplacement/Convert-TokensInFileList.ps1
  utilities/pipelines/tokensReplacement/helper/Convert-TokenInFile.ps1
  utilities/tools/ConvertTo-ARMTemplate.ps1
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/Test-NamePrefixAvailability.ps1
Labels: enhancement, [cat] pipelines, [cat] utilities

#1794 [Modules]: Bug fix for Automation account using uniqueString() instead of newGuid() for the job schedule name
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/jobSchedules/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/jobSchedules/readme.md
Labels: bug, [cat] modules

#1790 [Modules] Update automationAccounts API Version & Include `disableLocalAuth`
  modules/Microsoft.Automation/automationAccounts/.test/parameters.json
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/readme.md
Labels: [cat] modules

#1789 [Modules] Adds defaultHostname output to Microsoft.Web/sites and Microsoft.Web/staticSites modules
  modules/Microsoft.Web/sites/deploy.bicep
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/staticSites/deploy.bicep
  modules/Microsoft.Web/staticSites/readme.md
Labels: enhancement, [cat] modules

#1801 [Modules] Adding Standard SKU Options to bastionHosts
  modules/Microsoft.Network/bastionHosts/.test/parameters.json
  modules/Microsoft.Network/bastionHosts/deploy.bicep
  modules/Microsoft.Network/bastionHosts/readme.md
Labels: [cat] modules

#1763 [Modules] Private Link Services: Add module.
  .azuredevops/modulePipelines/ms.network.privatelinkservices.yml
  .github/workflows/ms.network.privatelinkservices.yml
  modules/Microsoft.Network/privateLinkServices/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/privateLinkServices/.test/min.parameters.json
  modules/Microsoft.Network/privateLinkServices/.test/parameters.json
  modules/Microsoft.Network/privateLinkServices/deploy.bicep
  modules/Microsoft.Network/privateLinkServices/readme.md
  modules/Microsoft.Network/privateLinkServices/version.json
Labels: enhancement, [cat] modules

#1804 Added new dependencies and updated pls resources references
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/platform.dependencies.yml
  modules/Microsoft.Network/privateLinkServices/.test/min.parameters.json
  modules/Microsoft.Network/privateLinkServices/.test/parameters.json
  modules/Microsoft.Network/privateLinkServices/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/loadBalancers/parameters/pls.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/virtualNetworks/parameters/parameters.json
Labels: bug, [cat] modules

#1805 [Bug Fix] Corrected Private Endpoint Parameter Usage documentation
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.DataFactory/factories/managedVirtualNetwork/managedPrivateEndpoints/readme.md
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.Logic/workflows/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Synapse/workspaces/readme.md
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/staticSites/readme.md
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
Labels: bug, documentation, [cat] modules

#1806 [Modules] Default value for IpConfiguration name
  modules/Microsoft.Network/networkInterfaces/.test/parameters.json
  modules/Microsoft.Network/networkInterfaces/deploy.bicep
  modules/Microsoft.Network/networkInterfaces/readme.md
Labels: enhancement, [cat] modules

#1624 [CI Environment] Enabled CI environment to handle DeploymentTest (bicep) files for new self-contained dependency approach
  .azuredevops/pipelineTemplates/jobs.getModuleTestFiles.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/getModuleTestFiles/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  docs/wiki/Contribution guide - Validate module locally.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
  docs/wiki/Getting started - Check NamePrefix availability.md
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/Known issues.md
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/The CI environment - Token replacement.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - CARML library.md
  docs/wiki/The library - Module design.md
  modules/.shared/dependencyConstructs/diagnostic.dependencies.bicep
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourcePostRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/tools/Clear-ManagementGroupDeployment.ps1
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/Test-ModuleLocally.ps1
Labels: [prio] high, [cat] pipelines, [cat] modules, [cat] testing, [cat] github, [cat] azure devops
