Repository Azure/ResourceModules, pull requests merged in 2022-07, with the labels that each got.

#1582 [Modules] Redis cache module
  .azuredevops/modulePipelines/ms.cache.redis.yml
  .github/workflows/ms.cache.redis.yml
  arm/Microsoft.Cache/redis/.bicep/nested_rbac.bicep
  arm/Microsoft.Cache/redis/.test/full.parameters.json
  arm/Microsoft.Cache/redis/.test/min.parameters.json
  arm/Microsoft.Cache/redis/deploy.bicep
  arm/Microsoft.Cache/redis/readme.md
  arm/Microsoft.Cache/redis/version.json
Labels: enhancement, [cat] modules

#1611 [Utilities] Updated DevOps Registration
  utilities/tools/AzureDevOps/Register-AzureDevOpsPipeline.ps1
Labels: documentation, enhancement

#1636 [Modules] Aligned privateEndpoints description metadata across modules
  docs/wiki/The library - Module design.md
  modules/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.CognitiveServices/accounts/deploy.bicep
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.EventGrid/topics/deploy.bicep
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/deploy.bicep
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/deploy.bicep
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Web/sites/deploy.bicep
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/staticSites/deploy.bicep
  modules/Microsoft.Web/staticSites/readme.md
Labels: enhancement, [cat] modules

#1622 [Utilities] Added ManagementGroup-Deployment removal script
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Management Group Deployment removal utility.md
  utilities/tools/Clear-ManagementGroupDeployment.ps1
  utilities/tools/helper/Split-Array.ps1
Labels: enhancement

#1566 [Modules] Added CosmosDB Gremlin API and updated mongodb to…
  .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml
  arm/Microsoft.DocumentDB/databaseAccounts/.test/gremlindb.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.test/mongodb.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.test/plain.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/.test/sqldb.parameters.json
  arm/Microsoft.DocumentDB/databaseAccounts/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/deploy.bicep
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/readme.md
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/version.json
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/readme.md
  arm/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/version.json
  arm/Microsoft.DocumentDB/databaseAccounts/readme.md
Labels: enhancement, [cat] modules

#1637 [Fixes] Fixed DiskEncryption Dependency Parameters
  .github/workflows/platform.dependencies.yml
  utilities/pipelines/dependencies/Microsoft.Compute/diskEncryptionSets/parameters/parameters.json
Labels: bug, [prio] high

#1584 [Modules] MachineLearningWorkspace: Updated Customer-Managed-Key implementation
  .azuredevops/modulePipelines/ms.machinelearningservices.workspaces.yml
  modules/Microsoft.MachineLearningServices/workspaces/.test/encr.parameters.json
  modules/Microsoft.MachineLearningServices/workspaces/.test/parameters.json
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
Labels: enhancement, [cat] modules

#1453 [Modules] Service bus private networking ACL
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/version.json
  modules/Microsoft.ServiceBus/namespaces/readme.md
Labels: enhancement, [cat] modules

#1638 [Modules] Added CosmosDB Gremlin API & updated mongodb to current version
  .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml
  modules/Microsoft.DocumentDB/databaseAccounts/.test/gremlindb.parameters.json
  modules/Microsoft.DocumentDB/databaseAccounts/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/readme.md
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/version.json
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/readme.md
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/version.json
  modules/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/collections/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/readme.md
Labels: enhancement, [cat] modules

#1646 [Fixes] ServiceBus regenerate readme
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
Labels: bug, [cat] modules

#1654 [Modules] Batch accounts: Add private endpoint support with updated parameters file.
  modules/Microsoft.Batch/batchAccounts/.test/encr.parameters.json
  modules/Microsoft.Batch/batchAccounts/.test/parameters.json
  modules/Microsoft.Batch/batchAccounts/deploy.bicep
  modules/Microsoft.Batch/batchAccounts/readme.md
Labels: enhancement, [cat] modules

#1588 [Modules] LogAnalytics: Setting secure value & add linked storage accounts child module
  modules/Microsoft.OperationalInsights/workspaces/.test/parameters.json
  modules/Microsoft.OperationalInsights/workspaces/deploy.bicep
  modules/Microsoft.OperationalInsights/workspaces/linkedStorageAccounts/deploy.bicep
  modules/Microsoft.OperationalInsights/workspaces/linkedStorageAccounts/readme.md
  modules/Microsoft.OperationalInsights/workspaces/linkedStorageAccounts/version.json
  modules/Microsoft.OperationalInsights/workspaces/readme.md
Labels: enhancement, [cat] modules

#1644 [Modules] Policy assignment updated nonCompliance messages
  .lycheeignore
  modules/Microsoft.Authorization/policyAssignments/.test/mg.parameters.json
  modules/Microsoft.Authorization/policyAssignments/.test/rg.parameters.json
  modules/Microsoft.Authorization/policyAssignments/.test/sub.parameters.json
  modules/Microsoft.Authorization/policyAssignments/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/managementGroup/readme.md
  modules/Microsoft.Authorization/policyAssignments/readme.md
  modules/Microsoft.Authorization/policyAssignments/resourceGroup/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/resourceGroup/readme.md
  modules/Microsoft.Authorization/policyAssignments/subscription/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/subscription/readme.md
Labels: bug, [cat] modules

#1586 [Modules] Servicebus: Added Customer-Managed-Key & additional resource type handling for removal
  modules/Microsoft.ServiceBus/namespaces/.test/parameters.json
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/readme.md
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Labels: enhancement, [cat] modules

#1635 [Modules] Redis cache module
  .azuredevops/modulePipelines/ms.cache.redis.yml
  .github/workflows/ms.cache.redis.yml
  modules/Microsoft.Cache/redis/.bicep/nested_rbac.bicep
  modules/Microsoft.Cache/redis/.test/min.parameters.json
  modules/Microsoft.Cache/redis/.test/parameters.json
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.Cache/redis/version.json
Labels: enhancement, [cat] modules

#1658 [Modules] Leave out not supported throughput field in Cosmos
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/collections/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/deploy.bicep
Labels: enhancement, [cat] modules

#1661 [Modules] Align public network access implementation across modules
  modules/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Batch/batchAccounts/deploy.bicep
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.ContainerRegistry/registries/deploy.bicep
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.DataFactory/factories/deploy.bicep
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.EventGrid/topics/deploy.bicep
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: enhancement, [cat] modules

#1621 [Modules] Added Web PubSub module
  .azuredevops/modulePipelines/ms.signalrservice.webpubsub.yml
  .github/workflows/ms.signalrservice.webpubsub.yml
  modules/Microsoft.SignalRService/webPubSub/.bicep/nested_rbac.bicep
  modules/Microsoft.SignalRService/webPubSub/.test/min.parameters.json
  modules/Microsoft.SignalRService/webPubSub/.test/parameters.json
  modules/Microsoft.SignalRService/webPubSub/deploy.bicep
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.SignalRService/webPubSub/version.json
Labels: enhancement, [cat] modules

#1667 [Fixes] Replaced non ASCII characters
  docs/wiki/The context - CARML library.md
  docs/wiki/The context - Logical layers and personas.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
  modules/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  modules/Microsoft.Network/applicationGateways/deploy.bicep
  modules/Microsoft.Network/applicationGateways/readme.md
  modules/Microsoft.Network/firewallPolicies/deploy.bicep
  modules/Microsoft.Network/firewallPolicies/readme.md
  modules/Microsoft.Storage/storageAccounts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Storage/storageAccounts/fileServices/shares/.bicep/nested_roleAssignments.bicep
Labels: bug, [cat] modules

#1668 [Fixes] SQL - Changed login away from secret as user name is not defined as secure()
  modules/Microsoft.Sql/servers/.test/parameters.json
  modules/Microsoft.Sql/servers/readme.md
Labels: bug, [cat] modules

#1670 [Modules] Adding private DNS zones dependencies
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/ms.cache.redis.yml
  .github/workflows/platform.dependencies.yml
  docs/wiki/The CI environment - Pipeline design.md
  modules/Microsoft.KeyVault/vaults/.test/parameters.json
  modules/Microsoft.KeyVault/vaults/readme.md
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/automation.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/azconfig.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/azurecr.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/azureml.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/azurestaticapps.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/azuresynapse.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/azurewebsites.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/batch.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/blob.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/cognitiveservices.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/database.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/datafactory.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/eventgrid.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/file.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/monitor.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/queue.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/redis.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/servicebus.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/siterecovery.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/table.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/vaultcore.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/webpubsub.parameters.json
Labels: documentation, enhancement, [cat] modules

#1673 [Modules] Update private endpoint to optionally deploy only one private DNS zone group
  docs/wiki/The library - Module design.md
  modules/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/deploy.bicep
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.CognitiveServices/accounts/deploy.bicep
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.ContainerRegistry/registries/deploy.bicep
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.EventGrid/topics/deploy.bicep
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/deploy.bicep
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/deploy.bicep
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/.test/parameters.json
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.Network/privateEndpoints/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/privateEndpoints/.test/parameters.json
  modules/Microsoft.Network/privateEndpoints/deploy.bicep
  modules/Microsoft.Network/privateEndpoints/privateDnsZoneGroups/deploy.bicep
  modules/Microsoft.Network/privateEndpoints/privateDnsZoneGroups/readme.md
  modules/Microsoft.Network/privateEndpoints/privateDnsZoneGroups/version.json
  modules/Microsoft.Network/privateEndpoints/readme.md
  modules/Microsoft.Network/privateEndpoints/version.json
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.SignalRService/webPubSub/deploy.bicep
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/deploy.bicep
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Web/sites/deploy.bicep
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/staticSites/deploy.bicep
  modules/Microsoft.Web/staticSites/readme.md
Labels: enhancement, [cat] modules

#1677 [Fixes] VM - Update NIC IP Address handover
  modules/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.Network/networkInterfaces/deploy.bicep
Labels: bug, [cat] modules

#1690 [Modules] Configure privateDnsZoneGroups on storage account
  modules/Microsoft.Storage/storageAccounts/.test/encr.parameters.json
  modules/Microsoft.Storage/storageAccounts/.test/nfs.parameters.json
  modules/Microsoft.Storage/storageAccounts/.test/parameters.json
  modules/Microsoft.Storage/storageAccounts/.test/v1.parameters.json
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#1679 [Fixes] Linter fixes
  constructs/Microsoft.Compute/virtualMachinesMultiple/deploy.bicep
  constructs/Microsoft.Compute/virtualMachinesMultiple/readme.md
  modules/Microsoft.Batch/batchAccounts/deploy.bicep
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.Compute/disks/deploy.bicep
  modules/Microsoft.Compute/disks/readme.md
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.Web/staticSites/deploy.bicep
  modules/Microsoft.Web/staticSites/readme.md
Labels: documentation, enhancement, [cat] modules

#1684 [Modules] NIC: Updated subnetID to subnetResourceId for consistency
  modules/Microsoft.Compute/virtualMachines/.bicep/nested_networkInterface.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux.autmg.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/linux.min.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/linux.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/windows.autmg.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/windows.min.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/windows.parameters.json
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.Network/networkInterfaces/.test/min.parameters.json
  modules/Microsoft.Network/networkInterfaces/.test/parameters.json
  modules/Microsoft.Network/networkInterfaces/deploy.bicep
  modules/Microsoft.Network/networkInterfaces/readme.md
Labels: enhancement, [cat] modules

#1693 [Modules] Configure privateDnsZoneGroups on automation account
  modules/Microsoft.Automation/automationAccounts/.test/encr.parameters.json
  modules/Microsoft.Automation/automationAccounts/.test/parameters.json
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#1686 [CI Environment] Removed temporal no-restore flag following the CLI fix
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Labels: enhancement, [cat] pipelines

#1696 [Modules] Configure privateDnsZoneGroups on Web PubSub Service
  modules/Microsoft.SignalRService/webPubSub/.test/parameters.json
  modules/Microsoft.SignalRService/webPubSub/.test/pe.parameters.json
  modules/Microsoft.SignalRService/webPubSub/deploy.bicep
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.SignalRService/webPubSub/version.json
Labels: enhancement, [cat] modules, [cat] testing

#1685 [Wiki] Update contribution guide to reference latest board approach
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/media/ContributionGuide/projectsTab.jpg
  docs/wiki/media/ContributionGuide/projectsTab.png
Labels: documentation, enhancement

#1682 [Modules] WebApp: Set serverfarm resource ID as required & minor formatting update for serverfarm module
  modules/Microsoft.Web/serverfarms/deploy.bicep
  modules/Microsoft.Web/sites/deploy.bicep
  modules/Microsoft.Web/sites/readme.md
Labels: bug, documentation, [cat] modules

#928 [Modules] Add Synapse Workspace module
  .azuredevops/modulePipelines/ms.synapse.workspaces.yml
  .azuredevops/platformPipelines/platform.dependencies.yml
  .github/workflows/ms.synapse.workspaces.yml
  .github/workflows/platform.dependencies.yml
  docs/wiki/The CI environment - Pipeline design.md
  modules/Microsoft.Synapse/workspaces/.bicep/nested_cmkRbac.bicep
  modules/Microsoft.Synapse/workspaces/.bicep/nested_rbac.bicep
  modules/Microsoft.Synapse/workspaces/.test/encryptionwsai.parameters.json
  modules/Microsoft.Synapse/workspaces/.test/encryptionwuai.parameters.json
  modules/Microsoft.Synapse/workspaces/.test/managedvnet.parameters.json
  modules/Microsoft.Synapse/workspaces/.test/min.parameters.json
  modules/Microsoft.Synapse/workspaces/.test/parameters.json
  modules/Microsoft.Synapse/workspaces/deploy.bicep
  modules/Microsoft.Synapse/workspaces/keys/deploy.bicep
  modules/Microsoft.Synapse/workspaces/keys/readme.md
  modules/Microsoft.Synapse/workspaces/keys/version.json
  modules/Microsoft.Synapse/workspaces/readme.md
  modules/Microsoft.Synapse/workspaces/version.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/azuresynapse.plh.parameters.json
  utilities/pipelines/dependencies/Microsoft.Network/privateDnsZones/parameters/azuresynapse.workspace.parameters.json
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/synapse01.parameters.json
  utilities/pipelines/dependencies/Microsoft.Storage/storageAccounts/parameters/synapse02.parameters.json
Labels: [cat] pipelines, [cat] modules

#1678 [CI Environment] Diverse updates to deployments & removal
  docs/wiki/The CI environment - Pipeline design.md
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/pipelines/sharedScripts/Get-ModuleTestFileList.ps1
  utilities/tools/Test-ModuleLocally.ps1
Labels: [cat] pipelines, [cat] testing

#1687 [CI Environment] Added test case for parameter description
  utilities/pipelines/staticValidation/module.tests.ps1
Labels: enhancement, [cat] testing

#1706 [Wiki] Updated template-orchestrated solution examples
  docs/wiki/Solution creation.md
Labels: documentation, enhancement

#1641 [Utilities] Created utility to get an outline of all module features
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  .github/workflows/platform.updateReadMe.yml
  README.md
  docs/wiki/The library - Module overview.md
  docs/wiki/The library.md
  utilities/tools/Get-ModulesFeatureOutline.ps1
  utilities/tools/platform/Set-ModuleOverviewTable.ps1
  utilities/tools/platform/Set-ReadMeModuleTable.ps1
Labels: documentation, enhancement, [cat] utilities

#1713 [Fixes] Update ReadMe Module Tables Workflow
  .github/workflows/platform.updateReadMe.yml
  docs/wiki/Home.md
  docs/wiki/The library - Module overview.md
  docs/wiki/_Sidebar.md
  utilities/tools/platform/Set-ReadMeModuleTable.ps1
Labels: bug, documentation, [cat] pipelines

#1707 [Modues] Fixed several metadata & API issues
  modules/Microsoft.AppConfiguration/configurationStores/deploy.bicep
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Consumption/budgets/deploy.bicep
  modules/Microsoft.Consumption/budgets/readme.md
  modules/Microsoft.ContainerService/managedClusters/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
  modules/Microsoft.Insights/activityLogAlerts/deploy.bicep
  modules/Microsoft.Insights/activityLogAlerts/readme.md
  modules/Microsoft.NetApp/netAppAccounts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.NetApp/netAppAccounts/deploy.bicep
  modules/Microsoft.NetApp/netAppAccounts/readme.md
  modules/Microsoft.Network/applicationGateways/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/applicationGateways/deploy.bicep
  modules/Microsoft.Network/applicationGateways/readme.md
  modules/Microsoft.Network/azureFirewalls/readme.md
  modules/Microsoft.Network/bastionHosts/readme.md
  modules/Microsoft.Network/connections/deploy.bicep
  modules/Microsoft.Network/connections/readme.md
  modules/Microsoft.Network/expressRouteCircuits/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/expressRouteCircuits/deploy.bicep
  modules/Microsoft.Network/expressRouteCircuits/readme.md
  modules/Microsoft.Network/firewallPolicies/deploy.bicep
  modules/Microsoft.Network/firewallPolicies/readme.md
  modules/Microsoft.Network/firewallPolicies/ruleCollectionGroups/deploy.bicep
  modules/Microsoft.Network/frontDoors/deploy.bicep
  modules/Microsoft.Network/frontDoors/readme.md
  modules/Microsoft.Network/loadBalancers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/loadBalancers/backendAddressPools/deploy.bicep
  modules/Microsoft.Network/loadBalancers/deploy.bicep
  modules/Microsoft.Network/loadBalancers/inboundNatRules/deploy.bicep
  modules/Microsoft.Network/loadBalancers/readme.md
  modules/Microsoft.Network/networkSecurityGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/networkSecurityGroups/deploy.bicep
  modules/Microsoft.Network/networkSecurityGroups/readme.md
  modules/Microsoft.Network/networkSecurityGroups/securityRules/deploy.bicep
  modules/Microsoft.Network/networkWatchers/deploy.bicep
  modules/Microsoft.Network/networkWatchers/readme.md
  modules/Microsoft.Network/publicIPAddresses/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/publicIPAddresses/deploy.bicep
  modules/Microsoft.Network/publicIPAddresses/readme.md
  modules/Microsoft.Network/publicIPPrefixes/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/publicIPPrefixes/deploy.bicep
  modules/Microsoft.Network/publicIPPrefixes/readme.md
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
  modules/Microsoft.Network/vpnSites/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/vpnSites/deploy.bicep
  modules/Microsoft.Network/vpnSites/readme.md
  modules/Microsoft.OperationalInsights/workspaces/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.OperationalInsights/workspaces/deploy.bicep
  modules/Microsoft.OperationalInsights/workspaces/readme.md
  modules/Microsoft.OperationsManagement/solutions/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.ServiceFabric/clusters/deploy.bicep
  modules/Microsoft.ServiceFabric/clusters/readme.md
  utilities/tools/Clear-ManagementGroupDeployment.ps1
Labels: bug, [prio] high, [cat] modules

#1702 [Modules] Configure privateDnsZoneGroups on eventhub namespace
  modules/Microsoft.EventHub/namespaces/.test/parameters.json
  modules/Microsoft.EventHub/namespaces/.test/pe.parameters.json
  modules/Microsoft.EventHub/namespaces/deploy.bicep
  modules/Microsoft.EventHub/namespaces/networkRuleSets/deploy.bicep
  modules/Microsoft.EventHub/namespaces/networkRuleSets/readme.md
  modules/Microsoft.EventHub/namespaces/networkRuleSets/version.json
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.EventHub/namespaces/version.json
  modules/Microsoft.ServiceBus/namespaces/.test/parameters.json
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#1714 [Fixes] Further fixes for static validation failures
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.Network/ddosProtectionPlans/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/ddosProtectionPlans/deploy.bicep
  modules/Microsoft.Network/ddosProtectionPlans/readme.md
  modules/Microsoft.Network/natGateways/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/natGateways/deploy.bicep
  modules/Microsoft.Network/natGateways/readme.md
  modules/Microsoft.Network/networkWatchers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/networkWatchers/connectionMonitors/deploy.bicep
  modules/Microsoft.Network/networkWatchers/connectionMonitors/readme.md
  modules/Microsoft.Network/networkWatchers/deploy.bicep
  modules/Microsoft.Network/networkWatchers/flowLogs/deploy.bicep
  modules/Microsoft.Network/networkWatchers/flowLogs/readme.md
  modules/Microsoft.Network/networkWatchers/readme.md
  modules/Microsoft.Network/virtualNetworkGateways/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
  modules/Microsoft.Network/vpnGateways/connections/deploy.bicep
  modules/Microsoft.Network/vpnGateways/connections/readme.md
  modules/Microsoft.Network/vpnGateways/deploy.bicep
  modules/Microsoft.Network/vpnGateways/natRules/deploy.bicep
  modules/Microsoft.Network/vpnGateways/natRules/readme.md
  modules/Microsoft.Network/vpnGateways/readme.md
  modules/Microsoft.Synapse/workspaces/readme.md
Labels: bug, [prio] high, [cat] modules, [cat] testing

#1722 [Modules] Updated Network Interface module API Version
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.Network/networkInterfaces/deploy.bicep
  modules/Microsoft.Network/networkInterfaces/readme.md
Labels: bug, [prio] high, [cat] modules

#1587 [Wiki] Fetch latest CARML updates for internalized libraries
  docs/wiki/Fetching latest changes - Scenario 1 Consume library.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
  docs/wiki/Fetching latest changes.md
  docs/wiki/Getting started - Scenario 1 Consume library.md
  docs/wiki/Home.md
  docs/wiki/_Sidebar.md
Labels: documentation, enhancement

#1723 [Fixes] VNet Replace json('null') -> null
  modules/Microsoft.Network/virtualNetworks/deploy.bicep
Labels: enhancement, [cat] modules

#1725 [Fixes] Dependencies pipeline VM
  utilities/pipelines/dependencies/Microsoft.Compute/virtualMachines/parameters/parameters.json
Labels: bug, [cat] pipelines, [cat] testing
