Repository Azure/ResourceModules, pull requests merged in 2022-12, with the labels that each got.

#1578 [Modules] Azure Cosmos DB SQL Container Indexing policy
  modules/Microsoft.DocumentDB/databaseAccounts/.test/gremlindb/deploy.test.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/.test/sqldb/deploy.test.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/graphs/readme.md
  modules/Microsoft.DocumentDB/databaseAccounts/readme.md
  modules/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/readme.md
Labels: enhancement, [cat] modules, wait for author

#2399 [Fixes] Fix removal of maintenance config
  .github/workflows/ms.maintenance.maintenanceconfigurations.yml
Labels: bug, [cat] pipelines, [cat] github

#2408 [Fixes] Privatelink ADO pipeline name fix
  .azuredevops/modulePipelines/ms.network.privatelinkservices.yml
Labels: bug, [cat] pipelines, [cat] azure devops

#2406 [Fixes] Improve removal of resources in a retry scenario
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  docs/wiki/The CI environment - Deployment validation.md
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-ResourceList.ps1
Labels: bug, [cat] pipelines

#2402 [Modules] Align CMK implementation for Cognitive Services & cleaned up several allowed values
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/deploy.bicep
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.CognitiveServices/accounts/.test/encr/dependencies.bicep
  modules/Microsoft.CognitiveServices/accounts/.test/encr/deploy.test.bicep
  modules/Microsoft.CognitiveServices/accounts/deploy.bicep
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.ContainerRegistry/registries/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  modules/Microsoft.DataFactory/factories/deploy.bicep
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.EventHub/namespaces/networkRuleSets/deploy.bicep
  modules/Microsoft.EventHub/namespaces/networkRuleSets/readme.md
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.Network/expressRouteCircuits/deploy.bicep
  modules/Microsoft.Network/expressRouteCircuits/readme.md
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/networkRuleSets/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/workspaces/deploy.bicep
  modules/Microsoft.Synapse/workspaces/readme.md
Labels: enhancement, [cat] modules

#2424 [Modules] Added property `anonymousPullEnabled`
  modules/Microsoft.ContainerRegistry/registries/deploy.bicep
  modules/Microsoft.ContainerRegistry/registries/readme.md
Labels: enhancement, [cat] modules

#2451 [Hackaton] Update PSRule suppress rules
  .ps-rule/dep-suppress.Rule.yaml
  .ps-rule/min-suppress.Rule.yaml
  ps-rule.yaml
  utilities/pipelines/PSRuleValidation/Set-PSRuleOutput.ps1
Labels: enhancement, [cat] testing

#2452 [Documention] Improve deployment example for `Register-AzureDevOpsPipeline` utility
  utilities/tools/AzureDevOps/Register-AzureDevOpsPipeline.ps1
Labels: documentation, [cat] utilities

#2466 [Wiki] Update telemetry article
  README.md
  SUPPORT.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The library - Module design.md
Labels: documentation, enhancement

#2467 [Fixes] Telemetry language update
  docs/wiki/The library - Module design.md
Labels: documentation, enhancement

#2438 [Modules] Added Key Module to SQL Server
  modules/Microsoft.Sql/servers/.test/common/dependencies.bicep
  modules/Microsoft.Sql/servers/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/keys/deploy.bicep
  modules/Microsoft.Sql/servers/keys/readme.md
  modules/Microsoft.Sql/servers/keys/version.json
  modules/Microsoft.Sql/servers/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#2344 [Utilities] Improve API version tests through the `AzureAPICrawler` PowerShell module
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .azuredevops/platformPipelines/platform.apiSpecs.yml
  .github/actions/templates/setEnvironmentVariables/action.yml
  .github/actions/templates/validateModulePester/action.yml
  .github/workflows/platform.apiSpecs.yml
  docs/wiki/The CI environment - Static validation.md
  settings.yml
  utilities/pipelines/sharedScripts/Add-YamlListToFile.ps1
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/src/apiSpecsList.json
  utilities/tools/platform/Set-ApiSpecsFile.ps1
Labels: enhancement, [cat] pipelines, [cat] testing

#2465 [Modules] New Child Module Gallery Application
  modules/Microsoft.Compute/galleries/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/galleries/applications/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/galleries/applications/deploy.bicep
  modules/Microsoft.Compute/galleries/applications/readme.md
  modules/Microsoft.Compute/galleries/applications/version.json
  modules/Microsoft.Compute/galleries/deploy.bicep
  modules/Microsoft.Compute/galleries/readme.md
Labels: [cat] modules

#2320 [Modules] Updated Tags API version
  modules/Microsoft.Resources/tags/readme.md
  modules/Microsoft.Resources/tags/resourceGroups/deploy.bicep
  modules/Microsoft.Resources/tags/resourceGroups/readme.md
  modules/Microsoft.Resources/tags/subscriptions/.bicep/readTags.bicep
  modules/Microsoft.Resources/tags/subscriptions/deploy.bicep
  modules/Microsoft.Resources/tags/subscriptions/readme.md
Labels: enhancement, [cat] modules

#2319 [Modules] ResourceGroup: Added new optional parameter & updated API version
  modules/Microsoft.Resources/resourceGroups/deploy.bicep
  modules/Microsoft.Resources/resourceGroups/readme.md
Labels: enhancement, [cat] modules, blocked

#2489 [Modules]: Microsoft.Network/frontdoors - Fix for Static Validation
  modules/Microsoft.Network/frontDoors/readme.md
Labels: [cat] modules

#2490 [Fixes] Update LAW force delete
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourcePostRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Invoke-ResourceRemoval.ps1
Labels: bug, [cat] pipelines

#2429 [Modules] Add support for Virtual Machine Automatic VM Guest Patching
  modules/Microsoft.Compute/virtualMachines/.test/linux/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
Labels: enhancement, [cat] modules

#2492 [Fixes] Switch from `az bicep build` to `bicep build` to avoid rate limits
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/src/apiSpecsList.json
  utilities/tools/ConvertTo-ARMTemplate.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Labels: bug, [cat] testing

#2175 Added more options to Microsoft.ContainerInstances/containergroups module
  modules/Microsoft.ContainerInstance/containerGroups/.test/private/dependencies.bicep
  modules/Microsoft.ContainerInstance/containerGroups/.test/private/deploy.test.bicep
  modules/Microsoft.ContainerInstance/containerGroups/deploy.bicep
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
Labels: [cat] modules

#2497 [Modules]: Updating readme's from generator - whitespace errors fix
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Synapse/workspaces/readme.md
  modules/Microsoft.Web/sites/readme.md
  utilities/src/apiSpecsList.json
Labels: bug, [prio] high, [cat] modules

#2513 [Modules] DevTest Lab Module (API Version: 2018-09-15)
  .azuredevops/modulePipelines/ms.devtestlab.labs.yml
  .github/workflows/ms.devtestlab.labs.yml
  modules/Microsoft.DevTestLab/labs/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.DevTestLab/labs/.test/common/dependencies.bicep
  modules/Microsoft.DevTestLab/labs/.test/common/deploy.test.bicep
  modules/Microsoft.DevTestLab/labs/.test/min/deploy.test.bicep
  modules/Microsoft.DevTestLab/labs/artifactSources/deploy.bicep
  modules/Microsoft.DevTestLab/labs/artifactSources/readme.md
  modules/Microsoft.DevTestLab/labs/artifactSources/version.json
  modules/Microsoft.DevTestLab/labs/deploy.bicep
  modules/Microsoft.DevTestLab/labs/notificationChannels/deploy.bicep
  modules/Microsoft.DevTestLab/labs/notificationChannels/readme.md
  modules/Microsoft.DevTestLab/labs/notificationChannels/version.json
  modules/Microsoft.DevTestLab/labs/policySets/policies/deploy.bicep
  modules/Microsoft.DevTestLab/labs/policySets/policies/readme.md
  modules/Microsoft.DevTestLab/labs/policySets/policies/version.json
  modules/Microsoft.DevTestLab/labs/readme.md
  modules/Microsoft.DevTestLab/labs/schedules/deploy.bicep
  modules/Microsoft.DevTestLab/labs/schedules/readme.md
  modules/Microsoft.DevTestLab/labs/schedules/version.json
  modules/Microsoft.DevTestLab/labs/version.json
  modules/Microsoft.DevTestLab/labs/virtualNetworks/deploy.bicep
  modules/Microsoft.DevTestLab/labs/virtualNetworks/readme.md
  modules/Microsoft.DevTestLab/labs/virtualNetworks/version.json
  utilities/src/apiSpecsList.json
Labels: enhancement, [cat] modules

#2514 [Modules] Storage Accounts : Add SFTP feature to storage account module # 2378
  modules/Microsoft.Storage/storageAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/localUsers/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/localUsers/readme.md
  modules/Microsoft.Storage/storageAccounts/localUsers/version.json
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: enhancement, [cat] modules

#2509 [Modules] Updated VNET Gateway to reference PIP module
  modules/Microsoft.Network/publicIPAddresses/deploy.bicep
  modules/Microsoft.Network/publicIPAddresses/readme.md
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
Labels: [cat] modules
