Repository Azure/ResourceModules, pull requests merged in 2022-09, with the labels that each got.

#1766 [Modules] Removed name generation from diverse modules
  modules/Microsoft.Automation/automationAccounts/jobSchedules/deploy.bicep
  modules/Microsoft.Compute/proximityPlacementGroups/deploy.bicep
  modules/Microsoft.Compute/proximityPlacementGroups/readme.md
  modules/Microsoft.Consumption/budgets/.test/parameters.json
  modules/Microsoft.Consumption/budgets/deploy.bicep
  modules/Microsoft.Consumption/budgets/readme.md
  modules/Microsoft.Network/ddosProtectionPlans/deploy.bicep
  modules/Microsoft.Network/ddosProtectionPlans/readme.md
  modules/Microsoft.Network/networkWatchers/connectionMonitors/deploy.bicep
  modules/Microsoft.Network/networkWatchers/connectionMonitors/readme.md
  modules/Microsoft.ServiceBus/namespaces/.test/min.parameters.json
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.Storage/storageAccounts/.test/min.parameters.json
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: [cat] modules

#1770 [Modules] Introduced several linter-ignore statements for false-positives
  docs/wiki/The CI environment - Bicep configuration file.md
  docs/wiki/The CI environment - Bicep configuration.md
  docs/wiki/The CI environment.md
  modules/Microsoft.AAD/DomainServices/deploy.bicep
  modules/Microsoft.ApiManagement/service/.bicep/nested_authorizationServers.bicep
  modules/Microsoft.ApiManagement/service/authorizationServers/deploy.bicep
  modules/Microsoft.ApiManagement/service/identityProviders/deploy.bicep
  modules/Microsoft.ApiManagement/service/namedValues/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.Network/firewallPolicies/deploy.bicep
  modules/Microsoft.Synapse/workspaces/deploy.bicep
  modules/Microsoft.Web/connections/deploy.bicep
Labels: enhancement, [cat] modules

#1846 [Fixes] CognitiveServices: Updated MSI ref & docs
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  modules/Microsoft.CognitiveServices/accounts/.test/encr.parameters.json
  modules/Microsoft.CognitiveServices/accounts/readme.md
Labels: bug, documentation, [cat] modules

#1855 [Modules] SQL server API version update
  modules/Microsoft.Sql/servers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Sql/servers/databases/deploy.bicep
  modules/Microsoft.Sql/servers/databases/readme.md
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/firewallRules/deploy.bicep
  modules/Microsoft.Sql/servers/firewallRules/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Sql/servers/securityAlertPolicies/deploy.bicep
  modules/Microsoft.Sql/servers/securityAlertPolicies/readme.md
  modules/Microsoft.Sql/servers/vulnerabilityAssessments/deploy.bicep
  modules/Microsoft.Sql/servers/vulnerabilityAssessments/readme.md
Labels: enhancement, [cat] modules

#1854 [Modules] Regenerating Synapse Workspaces module readme
  modules/Microsoft.Synapse/workspaces/readme.md
Labels: bug, [cat] modules, [cat] testing

#1857 [Fixes] Updated KeyVault min test name to resolve conflict
  modules/Microsoft.KeyVault/vaults/.test/min.parameters.json
  modules/Microsoft.KeyVault/vaults/readme.md
Labels: [cat] modules

#1845 [Modules] Upgraded AKS API version to latest non-review
  modules/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
  modules/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/deploy.bicep
Labels: enhancement, [cat] modules

#1859 [Fixes] Fixed Logic App Readme
  modules/Microsoft.Logic/workflows/readme.md
Labels: bug, [cat] modules

#1863 [Modules] Updated ACR name to bypass 'stuck' Azure resource
  modules/Microsoft.ContainerRegistry/registries/.test/parameters.json
  modules/Microsoft.ContainerRegistry/registries/readme.md
Labels: enhancement, [cat] modules

#1852 [Modules] Updated container instance API version
  modules/Microsoft.ContainerInstance/containerGroups/deploy.bicep
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
Labels: enhancement, [cat] modules

#1866 [Modules] Update ContainerService/managedClusters add enableRBAC parameter for multiple authentication options
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
Labels: [cat] modules

#1892 [Modules] SQLMI Added min param
  modules/Microsoft.Sql/managedInstances/.test/min.parameters.json
  modules/Microsoft.Sql/managedInstances/.test/parameters.json
  modules/Microsoft.Sql/managedInstances/administrators/deploy.bicep
  modules/Microsoft.Sql/managedInstances/administrators/readme.md
  modules/Microsoft.Sql/managedInstances/deploy.bicep
  modules/Microsoft.Sql/managedInstances/encryptionProtector/deploy.bicep
  modules/Microsoft.Sql/managedInstances/encryptionProtector/readme.md
  modules/Microsoft.Sql/managedInstances/keys/deploy.bicep
  modules/Microsoft.Sql/managedInstances/keys/readme.md
  modules/Microsoft.Sql/managedInstances/readme.md
Labels: bug, enhancement, [prio] high, [cat] modules, [cat] testing

#1894 [Modules] Configure privateDnsZoneGroups on RSV
  modules/Microsoft.RecoveryServices/vaults/.test/parameters.json
  modules/Microsoft.RecoveryServices/vaults/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#1967 [Modules] Clean up not used baseTime parameter
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: enhancement, [cat] modules

#1970 [Modules] Configure privateDnsZoneGroups on privateLinkScopes
  modules/Microsoft.Insights/privateLinkScopes/.test/min.parameters.json
  modules/Microsoft.Insights/privateLinkScopes/.test/parameters.json
  modules/Microsoft.Insights/privateLinkScopes/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#1973 [Modules] Configure privateDnsZoneGroups on Synapse privateLinkHubs
  modules/Microsoft.Synapse/privateLinkHubs/.test/min.parameters.json
  modules/Microsoft.Synapse/privateLinkHubs/.test/parameters.json
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#1927 [Modules] Configure privateDnsZoneGroups on redisCache
  modules/Microsoft.Cache/redis/.test/min.parameters.json
  modules/Microsoft.Cache/redis/.test/parameters.json
  modules/Microsoft.Cache/redis/readme.md
Labels: [cat] modules, [cat] testing

#1978 [Modules] Microsoft.PowerBIDedicated/capacities module
  .azuredevops/modulePipelines/ms.powerbidedicated.capacities.yml
  .github/workflows/ms.powerbidedicated.capacities.yml
  modules/Microsoft.PowerBIDedicated/capacities/.bicep/nested_rbac.bicep
  modules/Microsoft.PowerBIDedicated/capacities/.test/min.parameters.json
  modules/Microsoft.PowerBIDedicated/capacities/deploy.bicep
  modules/Microsoft.PowerBIDedicated/capacities/readme.md
  modules/Microsoft.PowerBIDedicated/capacities/version.json
Labels: [cat] modules

#1981 [Modules] Configure privateDnsZoneGroups on batchAccount
  modules/Microsoft.Batch/batchAccounts/.test/encr.parameters.json
  modules/Microsoft.Batch/batchAccounts/.test/parameters.json
  modules/Microsoft.Batch/batchAccounts/deploy.bicep
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/version.json
Labels: enhancement, [cat] modules, [cat] testing

#1985 [Modules] Configure privateDnsZoneGroups on cognitiveservices
  modules/Microsoft.CognitiveServices/accounts/.test/parameters.json
  modules/Microsoft.CognitiveServices/accounts/.test/speech.parameters.json
  modules/Microsoft.CognitiveServices/accounts/deploy.bicep
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.CognitiveServices/accounts/version.json
Labels: enhancement, [cat] modules, [cat] testing

#2007 [Modules] Configure privateDnsZoneGroups on web staticSites
  modules/Microsoft.Web/staticSites/.test/parameters.json
  modules/Microsoft.Web/staticSites/deploy.bicep
  modules/Microsoft.Web/staticSites/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#2005 [Modules] Configure privateDnsZoneGroups on web sites
  modules/Microsoft.Web/sites/.test/fa.parameters.json
  modules/Microsoft.Web/sites/.test/wa.parameters.json
  modules/Microsoft.Web/sites/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#2003 [Modules] Configure privateDnsZoneGroups on eventgrid
  modules/Microsoft.EventGrid/topics/.test/min.parameters.json
  modules/Microsoft.EventGrid/topics/.test/parameters.json
  modules/Microsoft.EventGrid/topics/.test/pe.parameters.json
  modules/Microsoft.EventGrid/topics/deploy.bicep
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventGrid/topics/version.json
Labels: enhancement, [cat] modules, [cat] testing

#1999 [Modules] Configure privateDnsZoneGroups on ACR
  modules/Microsoft.ContainerRegistry/registries/.test/parameters.json
  modules/Microsoft.ContainerRegistry/registries/.test/pe.parameters.json
  modules/Microsoft.ContainerRegistry/registries/deploy.bicep
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.ContainerRegistry/registries/version.json
Labels: enhancement, [cat] modules, [cat] testing

#1988 [Modules] Fixed ADF IntegrationRuntime Bug from Required to Optional and changed to Array instead of Object
  modules/Microsoft.DataFactory/factories/.test/parameters.json
  modules/Microsoft.DataFactory/factories/deploy.bicep
  modules/Microsoft.DataFactory/factories/integrationRuntimes/deploy.bicep
  modules/Microsoft.DataFactory/factories/integrationRuntimes/readme.md
  modules/Microsoft.DataFactory/factories/integrationRuntimes/version.json
  modules/Microsoft.DataFactory/factories/managedVirtualNetworks/deploy.bicep
  modules/Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints/deploy.bicep
  modules/Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints/readme.md
  modules/Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints/version.json
  modules/Microsoft.DataFactory/factories/managedVirtualNetworks/readme.md
  modules/Microsoft.DataFactory/factories/managedVirtualNetworks/version.json
  modules/Microsoft.DataFactory/factories/readme.md
Labels: bug, [cat] modules

#2017 [Fixes] Update private endpoint and user assigned identity readme parameter usage templates
  modules/Microsoft.ApiManagement/service/readme.md
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.ContainerService/managedClusters/readme.md
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.DataProtection/backupVaults/readme.md
  modules/Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/readme.md
  modules/Microsoft.DocumentDB/databaseAccounts/readme.md
  modules/Microsoft.EventGrid/systemTopics/readme.md
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.Logic/workflows/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.Network/applicationGateways/readme.md
  modules/Microsoft.Network/firewallPolicies/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.Resources/deploymentScripts/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.Sql/managedInstances/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Synapse/workspaces/readme.md
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/staticSites/readme.md
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
  utilities/tools/moduleReadMeSource/resourceUsage-userAssignedIdentities.md
Labels: documentation, enhancement, [cat] modules

#2021 [Fixes] Fix failing PowerBIDedicated Capacities workflow
  .github/workflows/ms.powerbidedicated.capacities.yml
Labels: bug, [prio] high, [cat] pipelines, [cat] github

#2027 [Fixes] Fix failing dependencies pipeline on VHD creation
  .github/actions/templates/validateModuleDeployment/action.yml
  utilities/pipelines/dependencies/constructs/StoreVhdToStorage/deploymentScripts/Copy-VhdToStorageAccount.ps1
Labels: bug, [cat] pipelines

#2028 [Wiki] Document known issue with DES redeployment in dependencies pipeline
  docs/wiki/Known issues.md
Labels: documentation, enhancement

#2030 [Modules] Update NetApp API version
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/deploy.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/readme.md
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/volumes/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/volumes/deploy.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/volumes/readme.md
  modules/Microsoft.NetApp/netAppAccounts/readme.md
  modules/Microsoft.NetApp/netAppAccounts/version.json
Labels: enhancement, [prio] high, [cat] modules

#2035 [Wiki] Add `Limited job execution time` section to `Known Issues`
  docs/wiki/Known issues.md
Labels: documentation, enhancement

#2002 [Modules] Updated KeyVault vaults to new dependencies approach
  .github/workflows/ms.keyvault.vaults.yml
  modules/Microsoft.KeyVault/vaults/.test/common/dependencies.bicep
  modules/Microsoft.KeyVault/vaults/.test/common/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/.test/min.parameters.json
  modules/Microsoft.KeyVault/vaults/.test/min/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/.test/parameters.json
  modules/Microsoft.KeyVault/vaults/readme.md
  utilities/pipelines/staticValidation/module.tests.ps1
Labels: [cat] modules, [cat] testing

#2063 [Utilities] Update script to generate custom release notes
  utilities/tools/Get-FormattedGitHubRelease.ps1
Labels: [cat] utilities

#2062 [Modules] Updated Resources ResourceGroups to new dependencies approach
  .github/workflows/ms.resources.resourcegroups.yml
  modules/Microsoft.Resources/resourceGroups/.test/common/dependencies.bicep
  modules/Microsoft.Resources/resourceGroups/.test/common/deploy.test.bicep
  modules/Microsoft.Resources/resourceGroups/.test/min/deploy.test.bicep
  modules/Microsoft.Resources/resourceGroups/.test/parameters.json
  modules/Microsoft.Resources/resourceGroups/readme.md
Labels: [cat] modules, [cat] testing

#1884 [Modules] Updated VirtualNetwork to new dependency approach
  .github/workflows/ms.network.virtualnetworks.yml
  modules/Microsoft.Network/virtualNetworks/.test/common/dependencies.bicep
  modules/Microsoft.Network/virtualNetworks/.test/common/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworks/.test/min.parameters.json
  modules/Microsoft.Network/virtualNetworks/.test/min/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworks/.test/parameters.json
  modules/Microsoft.Network/virtualNetworks/.test/vnetPeering.parameters.json
  modules/Microsoft.Network/virtualNetworks/.test/vnetPeering/dependencies.bicep
  modules/Microsoft.Network/virtualNetworks/.test/vnetPeering/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworks/readme.md
Labels: [cat] modules, [cat] testing

#2067 [Hackaton] First test for PSRule exclusions on KeyVault
  .github/workflows/ms.keyvault.vaults.yml
  ps-rule.yaml
Labels: hackathon

#2068 [Hackathon] Token replacement for the resource group module
  .github/workflows/ms.resources.resourcegroups.yml
Labels: hackathon

#2037 [Modules] Update ACR module api version to 2022-02-01-preview
  modules/Microsoft.ContainerRegistry/registries/.test/parameters.json
  modules/Microsoft.ContainerRegistry/registries/deploy.bicep
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.ContainerRegistry/registries/replications/deploy.bicep
  modules/Microsoft.ContainerRegistry/registries/replications/readme.md
  modules/Microsoft.ContainerRegistry/registries/webhooks/deploy.bicep
  modules/Microsoft.ContainerRegistry/registries/webhooks/readme.md
Labels: enhancement, [cat] modules

#2089 [Hackaton] Psrule output on csv format with detailed results
  .github/workflows/ms.keyvault.vaults.yml
  .github/workflows/ms.network.virtualnetworks.yml
  .github/workflows/ms.resources.resourcegroups.yml
  modules/Microsoft.Network/virtualNetworks/.test/vnet-ps-rule.yaml
Labels: hackathon

#2091 [Hackaton] csv output on Keyvault module
  .github/workflows/ms.keyvault.vaults.yml
  ps-rule.yaml
Labels: hackathon

#2110 [Hackaton] Added PSRule Output to job summary
  .github/workflows/ms.network.virtualnetworks.yml
  modules/Microsoft.Network/virtualNetworks/.test/vnet-ps-rule.yaml
  utilities/pipelines/PSRuleValidation/Set-PSRuleOutput.ps1
Labels: hackathon

#2111 [Hackaton] Hack/topic6 virtual network PSrule on GitHub Action
  .github/actions/templates/validateModulePSRule/action.yml
  .github/workflows/ms.network.virtualnetworks.yml
  ps-rule.yaml
Labels: hackathon

#2112 [Hackaton] Fix job summary output in GH action
  .github/actions/templates/validateModulePSRule/action.yml
  .github/workflows/ms.network.virtualnetworks.yml
Labels: hackathon

#2115 [Hackathon] Suppress rules where not required
  .ps-rule/min-suppress.Rule.yaml
  ps-rule.yaml
Labels: hackathon

#2118 [Hackathon] Public Bicep Registry implementation
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .github/actions/templates/publishModule/action.yml
  docs/wiki/Getting started - Scenario 1 Consume library.md
  docs/wiki/Solution creation.md
  settings.yml
  utilities/pipelines/resourcePublish/Publish-ModuleToBicepRegistry.ps1
Labels: hackathon

#2121 [Hackathon] Added psrule to ado pipelines
  .azuredevops/pipelineTemplates/jobs.validateModulePSRule.yml
  .azuredevops/pipelineTemplates/stages.module.yml
Labels: hackathon

#2123 [Hackathon] Refined PSRule results, uncommented Deploy and Publish jobs and added condition to run deployment if psrule fails
  .github/actions/templates/validateModulePSRule/action.yml
  .github/workflows/ms.keyvault.vaults.yml
  .github/workflows/ms.network.virtualnetworks.yml
  .github/workflows/ms.resources.resourcegroups.yml
  modules/Microsoft.Network/virtualNetworks/.test/vnet-ps-rule.yaml
  utilities/pipelines/PSRuleValidation/Set-PSRuleOutput.ps1
Labels: hackathon

#2133 [Utilities] Increased flexibility on parameter table search
  utilities/pipelines/staticValidation/module.tests.ps1
Labels: enhancement, [cat] testing

#2120 [Fixes] Virtual Machine - fixed the subnetId (should be subnetResourceId) old reference for the…
  modules/Microsoft.Compute/virtualMachines/readme.md
Labels: documentation, enhancement, [cat] modules

#1827 [Modules] Updated KubernetesConfiguration/Extensions to new dependency approach
  .github/workflows/ms.kubernetesconfiguration.extensions.yml
  modules/Microsoft.KubernetesConfiguration/extensions/.test/common/dependencies.bicep
  modules/Microsoft.KubernetesConfiguration/extensions/.test/common/deploy.test.bicep
  modules/Microsoft.KubernetesConfiguration/extensions/.test/min.parameters.json
  modules/Microsoft.KubernetesConfiguration/extensions/.test/min/dependencies.bicep
  modules/Microsoft.KubernetesConfiguration/extensions/.test/min/deploy.test.bicep
  modules/Microsoft.KubernetesConfiguration/extensions/.test/parameters.json
  modules/Microsoft.KubernetesConfiguration/extensions/readme.md
Labels: [cat] modules, [cat] testing

#1828 [Modules] Updated KubernetesConfiguration/FluxConfigurations to new dependency approach
  .github/workflows/ms.kubernetesconfiguration.fluxconfigurations.yml
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/.test/common/dependencies.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/.test/common/deploy.test.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/.test/min.parameters.json
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/.test/min/dependencies.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/.test/min/deploy.test.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/.test/parameters.json
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
Labels: [cat] modules, [cat] testing

#2127 Hack/topic4 seseicht
  .azuredevops/modulePipelines/ms.keyvault.vaults.yml
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
  utilities/pipelines/resourcePublish/Publish-ReadmeToDocumentRepo.ps1
Labels: hackathon

#1962 [Modules] Updated Consumption budgets to new dependencies approach
  .github/workflows/ms.consumption.budgets.yml
  modules/Microsoft.Consumption/budgets/.test/common/deploy.test.bicep
  modules/Microsoft.Consumption/budgets/.test/min/deploy.test.bicep
  modules/Microsoft.Consumption/budgets/.test/parameters.json
  modules/Microsoft.Consumption/budgets/deploy.bicep
  modules/Microsoft.Consumption/budgets/readme.md
Labels: [cat] modules, [cat] testing

#2108 [Modules] Updated Insight MetricAlertsto new dependencies approach
  .github/workflows/ms.insights.metricalerts.yml
  modules/Microsoft.Insights/metricAlerts/.test/common/dependencies.bicep
  modules/Microsoft.Insights/metricAlerts/.test/common/deploy.test.bicep
  modules/Microsoft.Insights/metricAlerts/.test/parameters.json
  modules/Microsoft.Insights/metricAlerts/readme.md
Labels: [cat] modules, [cat] testing

#2134 [Utilities] Enabled no-param blocks
  utilities/tools/Set-ModuleReadMe.ps1
Labels: bug, [cat] utilities

#1829 [Modules] Updated Network/Connections to new dependency approach
  .github/workflows/ms.network.connections.yml
  modules/Microsoft.Network/connections/.test/vnet2vnet.parameters.json
  modules/Microsoft.Network/connections/.test/vnet2vnet/dependencies.bicep
  modules/Microsoft.Network/connections/.test/vnet2vnet/deploy.test.bicep
  modules/Microsoft.Network/connections/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#1862 [Wiki] Azure DevOps example for pipeline-orchestration
  docs/wiki/Solution creation.md
  docs/wiki/media/SolutionCreation/ADOSolutionTestFolderStructure.png
  docs/wiki/media/SolutionCreation/MultiRepoTestFolderStructure.png
Labels: documentation, enhancement

#2080 [Modules] Update Network Public IP Addresses to new dependencies approach
  .github/workflows/ms.network.publicipaddresses.yml
  modules/Microsoft.Network/publicIPAddresses/.test/common/dependencies.bicep
  modules/Microsoft.Network/publicIPAddresses/.test/common/deploy.test.bicep
  modules/Microsoft.Network/publicIPAddresses/.test/min/deploy.test.bicep
  modules/Microsoft.Network/publicIPAddresses/.test/parameters.json
  modules/Microsoft.Network/publicIPAddresses/deploy.bicep
  modules/Microsoft.Network/publicIPAddresses/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2141 [Fixes] Consumption Budget readme update
  modules/Microsoft.Consumption/budgets/readme.md
Labels: bug, [cat] modules, [cat] testing

#2146 [Fixes] Fixed incorrect depenency variable reference
  modules/Microsoft.Network/connections/.test/vnet2vnet/dependencies.bicep
Labels: bug, [cat] modules

#2147 [Fixes] Fixed ADO Pipeline & Readme for AppGW WAF Policy
  .azuredevops/modulePipelines/ms.network.applicationgatewaywebapplicationfirewallpolicies.yml
  modules/Microsoft.Network/applicationGatewayWebApplicationFirewallPolicies/readme.md
Labels: bug, documentation, [cat] pipelines, [cat] modules, [cat] azure devops

#1834 [Modules] Updated Network/VPNSites to new dependency approach
  .github/workflows/ms.network.vpnsites.yml
  modules/Microsoft.Network/vpnSites/.test/common/dependencies.bicep
  modules/Microsoft.Network/vpnSites/.test/common/deploy.test.bicep
  modules/Microsoft.Network/vpnSites/.test/min.parameters.json
  modules/Microsoft.Network/vpnSites/.test/min/dependencies.bicep
  modules/Microsoft.Network/vpnSites/.test/min/deploy.test.bicep
  modules/Microsoft.Network/vpnSites/.test/parameters.json
  modules/Microsoft.Network/vpnSites/deploy.bicep
  modules/Microsoft.Network/vpnSites/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#1831 [Modules] Updated Network/VirtualHubs to new dependency approach
  .github/workflows/ms.network.virtualhubs.yml
  modules/Microsoft.Network/virtualHubs/.test/common/dependencies.bicep
  modules/Microsoft.Network/virtualHubs/.test/common/deploy.test.bicep
  modules/Microsoft.Network/virtualHubs/.test/min.parameters.json
  modules/Microsoft.Network/virtualHubs/.test/min/dependencies.bicep
  modules/Microsoft.Network/virtualHubs/.test/min/deploy.test.bicep
  modules/Microsoft.Network/virtualHubs/.test/parameters.json
  modules/Microsoft.Network/virtualHubs/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2148 [CI environment] Extend and optimize resource removal of nested deployments with higher scope than the parent
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/pipelines/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
Labels: enhancement, [cat] pipelines, [cat] testing

#2155 [Pipelines] Removed checkout repository leftovers
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
Labels: bug, [cat] pipelines, [cat] azure devops

#2154 [Modules] Updated web connection to new dependencies approach
  .github/workflows/ms.web.connections.yml
  modules/Microsoft.Web/connections/.test/common/dependencies.bicep
  modules/Microsoft.Web/connections/.test/common/deploy.test.bicep
  modules/Microsoft.Web/connections/.test/parameters.json
  modules/Microsoft.Web/connections/readme.md
Labels: [cat] modules, [cat] testing

#2158 [Fixes] Fixed RBAC File Names & Roles accross multiple modules
  modules/Microsoft.AppConfiguration/configurationStores/keyValues/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Cache/redis/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.CognitiveServices/accounts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/availabilitySets/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/diskEncryptionSets/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/galleries/images/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/images/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/proximityPlacementGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.ContainerRegistry/registries/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.DataProtection/backupVaults/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Databricks/workspaces/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/applicationGateways/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/applicationSecurityGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/azureFirewalls/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/bastionHosts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.PowerBIDedicated/capacities/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.PowerBIDedicated/capacities/deploy.bicep
  modules/Microsoft.SignalRService/webPubSub/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.SignalRService/webPubSub/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/queueServices/queues/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Synapse/workspaces/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Synapse/workspaces/deploy.bicep
Labels: bug, [cat] modules
