Repository Azure/ResourceModules, pull requests merged in 2022-10, with the labels that each got.

#1876 [Modules] Updated DataProtection Backup Vaults to new dependency approach
  .github/workflows/ms.dataprotection.backupvaults.yml
  modules/Microsoft.DataProtection/backupVaults/.test/common/dependencies.bicep
  modules/Microsoft.DataProtection/backupVaults/.test/common/deploy.test.bicep
  modules/Microsoft.DataProtection/backupVaults/.test/min.parameters.json
  modules/Microsoft.DataProtection/backupVaults/.test/min/deploy.test.bicep
  modules/Microsoft.DataProtection/backupVaults/.test/parameters.json
  modules/Microsoft.DataProtection/backupVaults/deploy.bicep
  modules/Microsoft.DataProtection/backupVaults/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2011 [Modules] Updated RecoveryServices Vault to new dependency approach
  .github/workflows/ms.recoveryservices.vaults.yml
  modules/Microsoft.RecoveryServices/vaults/.test/common/dependencies.bicep
  modules/Microsoft.RecoveryServices/vaults/.test/common/deploy.test.bicep
  modules/Microsoft.RecoveryServices/vaults/.test/dr.parameters.json
  modules/Microsoft.RecoveryServices/vaults/.test/dr/deploy.test.bicep
  modules/Microsoft.RecoveryServices/vaults/.test/min.parameters.json
  modules/Microsoft.RecoveryServices/vaults/.test/min/deploy.test.bicep
  modules/Microsoft.RecoveryServices/vaults/.test/parameters.json
  modules/Microsoft.RecoveryServices/vaults/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2104 [Modules] Updated Insight Components to new dependencies approach
  .github/workflows/ms.insights.components.yml
  modules/Microsoft.Insights/components/.test/common/dependencies.bicep
  modules/Microsoft.Insights/components/.test/common/deploy.test.bicep
  modules/Microsoft.Insights/components/.test/min/dependencies.bicep
  modules/Microsoft.Insights/components/.test/min/deploy.test.bicep
  modules/Microsoft.Insights/components/.test/parameters.json
  modules/Microsoft.Insights/components/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2162 [Fixes] Update WAF readme
  modules/Microsoft.Network/applicationGatewayWebApplicationFirewallPolicies/readme.md
Labels: documentation, [cat] modules

#1823 [Modules] Updated ContainerRegistry/Registries to new dependency approach
  .github/workflows/ms.containerregistry.registries.yml
  modules/Microsoft.ContainerRegistry/registries/.test/common/dependencies.bicep
  modules/Microsoft.ContainerRegistry/registries/.test/common/deploy.test.bicep
  modules/Microsoft.ContainerRegistry/registries/.test/encr.parameters.json
  modules/Microsoft.ContainerRegistry/registries/.test/encr/dependencies.bicep
  modules/Microsoft.ContainerRegistry/registries/.test/encr/deploy.test.bicep
  modules/Microsoft.ContainerRegistry/registries/.test/min.parameters.json
  modules/Microsoft.ContainerRegistry/registries/.test/min/deploy.test.bicep
  modules/Microsoft.ContainerRegistry/registries/.test/parameters.json
  modules/Microsoft.ContainerRegistry/registries/.test/pe.parameters.json
  modules/Microsoft.ContainerRegistry/registries/.test/pe/dependencies.bicep
  modules/Microsoft.ContainerRegistry/registries/.test/pe/deploy.test.bicep
  modules/Microsoft.ContainerRegistry/registries/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2019 [Modules] Updated Compute Images to new dependency approach
  .github/workflows/ms.compute.images.yml
  modules/Microsoft.Compute/images/.test/.scripts/Copy-VhdToStorageAccount.ps1
  modules/Microsoft.Compute/images/.test/.scripts/Start-ImageTemplate.ps1
  modules/Microsoft.Compute/images/.test/common/dependencies.bicep
  modules/Microsoft.Compute/images/.test/common/dependencies_rbac.bicep
  modules/Microsoft.Compute/images/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/images/.test/parameters.json
  modules/Microsoft.Compute/images/readme.md
Labels: [cat] modules, [cat] testing

#2167 [Fixes] Fix Web StaticSites readme
  modules/Microsoft.Web/staticSites/customDomains/readme.md
  modules/Microsoft.Web/staticSites/linkedBackends/readme.md
Labels: bug, documentation, [cat] modules

#2084 [Modules] Update Network PrivateDNSZones to new dependencies approach
  .github/workflows/ms.network.privatednszones.yml
  modules/Microsoft.Network/privateDnsZones/.test/common/dependencies.bicep
  modules/Microsoft.Network/privateDnsZones/.test/common/deploy.test.bicep
  modules/Microsoft.Network/privateDnsZones/.test/min.parameters.json
  modules/Microsoft.Network/privateDnsZones/.test/min/deploy.test.bicep
  modules/Microsoft.Network/privateDnsZones/.test/parameters.json
  modules/Microsoft.Network/privateDnsZones/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2106 [Modules] Updated Insight DiagnosticSettings to new dependencies approach
  .github/workflows/ms.insights.diagnosticsettings.yml
  modules/Microsoft.Insights/diagnosticSettings/.test/common/deploy.test.bicep
  modules/Microsoft.Insights/diagnosticSettings/.test/parameters.json
  modules/Microsoft.Insights/diagnosticSettings/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2088 [Modules] Updated EventHub Namespaces to new dependencies approach & extended readme script
  .github/workflows/ms.eventhub.namespaces.yml
  modules/Microsoft.EventHub/namespaces/.test/common/dependencies.bicep
  modules/Microsoft.EventHub/namespaces/.test/common/deploy.test.bicep
  modules/Microsoft.EventHub/namespaces/.test/min.parameters.json
  modules/Microsoft.EventHub/namespaces/.test/min/deploy.test.bicep
  modules/Microsoft.EventHub/namespaces/.test/parameters.json
  modules/Microsoft.EventHub/namespaces/.test/pe.parameters.json
  modules/Microsoft.EventHub/namespaces/.test/pe/dependencies.bicep
  modules/Microsoft.EventHub/namespaces/.test/pe/deploy.test.bicep
  modules/Microsoft.EventHub/namespaces/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2086 [Modules] Updated EventGrid Topics to new dependencies approach
  .github/workflows/ms.eventgrid.topics.yml
  modules/Microsoft.EventGrid/topics/.test/common/dependencies.bicep
  modules/Microsoft.EventGrid/topics/.test/common/deploy.test.bicep
  modules/Microsoft.EventGrid/topics/.test/min.parameters.json
  modules/Microsoft.EventGrid/topics/.test/min/deploy.test.bicep
  modules/Microsoft.EventGrid/topics/.test/parameters.json
  modules/Microsoft.EventGrid/topics/.test/pe.parameters.json
  modules/Microsoft.EventGrid/topics/.test/pe/dependencies.bicep
  modules/Microsoft.EventGrid/topics/.test/pe/deploy.test.bicep
  modules/Microsoft.EventGrid/topics/readme.md
Labels: [prio] high, [cat] modules, [cat] testing

#2164 [Modules] Update VMSS API version
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
Labels: enhancement, [cat] modules

#2082 [Modules] Update Network PrivateEndpoints to new dependencies approach
  .github/workflows/ms.network.privateendpoints.yml
  modules/Microsoft.Network/privateEndpoints/.test/common/dependencies.bicep
  modules/Microsoft.Network/privateEndpoints/.test/common/deploy.test.bicep
  modules/Microsoft.Network/privateEndpoints/.test/min.parameters.json
  modules/Microsoft.Network/privateEndpoints/.test/min/dependencies.bicep
  modules/Microsoft.Network/privateEndpoints/.test/min/deploy.test.bicep
  modules/Microsoft.Network/privateEndpoints/.test/parameters.json
  modules/Microsoft.Network/privateEndpoints/readme.md
Labels: [cat] modules, [cat] testing

#2076 [Modules] Update Network Route Tables to new dependencies approach
  .github/workflows/ms.network.routetables.yml
  modules/Microsoft.Network/routeTables/.test/common/dependencies.bicep
  modules/Microsoft.Network/routeTables/.test/common/deploy.test.bicep
  modules/Microsoft.Network/routeTables/.test/min/deploy.test.bicep
  modules/Microsoft.Network/routeTables/.test/parameters.json
  modules/Microsoft.Network/routeTables/readme.md
Labels: [cat] modules, [cat] testing

#2074 [Modules] Updated Resources Tags to new dependency approach & extended readme script
  .github/workflows/ms.resources.tags.yml
  modules/Microsoft.Resources/tags/.test/min.parameters.json
  modules/Microsoft.Resources/tags/.test/min/deploy.test.bicep
  modules/Microsoft.Resources/tags/.test/rg.parameters.json
  modules/Microsoft.Resources/tags/.test/rg/deploy.test.bicep
  modules/Microsoft.Resources/tags/.test/sub.parameters.json
  modules/Microsoft.Resources/tags/.test/sub/deploy.test.bicep
  modules/Microsoft.Resources/tags/readme.md
Labels: [cat] modules, [cat] testing

#2171 [Fixes] Key Vault - Fix parameter usage section
  modules/Microsoft.KeyVault/vaults/.test/common/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
Labels: bug, documentation, [cat] modules

#1825 [Modules] Updated CognitiveServices/Accounts to new dependency approach
  .github/workflows/ms.cognitiveservices.accounts.yml
  modules/Microsoft.CognitiveServices/accounts/.test/common/dependencies.bicep
  modules/Microsoft.CognitiveServices/accounts/.test/common/deploy.test.bicep
  modules/Microsoft.CognitiveServices/accounts/.test/encr.parameters.json
  modules/Microsoft.CognitiveServices/accounts/.test/encr/dependencies.bicep
  modules/Microsoft.CognitiveServices/accounts/.test/encr/deploy.test.bicep
  modules/Microsoft.CognitiveServices/accounts/.test/min.parameters.json
  modules/Microsoft.CognitiveServices/accounts/.test/min/deploy.test.bicep
  modules/Microsoft.CognitiveServices/accounts/.test/parameters.json
  modules/Microsoft.CognitiveServices/accounts/.test/speech.parameters.json
  modules/Microsoft.CognitiveServices/accounts/.test/speech/dependencies.bicep
  modules/Microsoft.CognitiveServices/accounts/.test/speech/deploy.test.bicep
  modules/Microsoft.CognitiveServices/accounts/readme.md
Labels: [cat] modules, [cat] testing

#2173 [Modules] Align `networkAcls` implementation and update parameter usage
  modules/Microsoft.CognitiveServices/accounts/.test/common/deploy.test.bicep
  modules/Microsoft.CognitiveServices/accounts/deploy.bicep
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.KeyVault/vaults/.test/common/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/.test/pe/dependencies.bicep
  modules/Microsoft.KeyVault/vaults/.test/pe/deploy.test.bicep
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: documentation, enhancement, [cat] modules, [cat] testing

#2096 [Modules] Updated Insights ScheduledQueryRules to new dependencies approach & increased test robustness
  .github/workflows/ms.insights.scheduledqueryrules.yml
  modules/Microsoft.Insights/scheduledQueryRules/.test/common/dependencies.bicep
  modules/Microsoft.Insights/scheduledQueryRules/.test/common/deploy.test.bicep
  modules/Microsoft.Insights/scheduledQueryRules/.test/parameters.json
  modules/Microsoft.Insights/scheduledQueryRules/deploy.bicep
  modules/Microsoft.Insights/scheduledQueryRules/readme.md
Labels: [cat] modules, [cat] testing

#2098 [Modules ] Updated HealthBots to new dependencies approach
  .github/workflows/ms.healthbot.healthbots.yml
  modules/Microsoft.HealthBot/healthBots/.test/common/dependencies.bicep
  modules/Microsoft.HealthBot/healthBots/.test/common/deploy.test.bicep
  modules/Microsoft.HealthBot/healthBots/.test/min/deploy.test.bicep
  modules/Microsoft.HealthBot/healthBots/.test/parameters.json
  modules/Microsoft.HealthBot/healthBots/readme.md
Labels: [cat] modules, [cat] testing

#1812 [Modules] Updated Authorization/Locks to new dependency approach
  .github/workflows/ms.authorization.locks.yml
  modules/Microsoft.Authorization/locks/.test/common/deploy.test.bicep
  modules/Microsoft.Authorization/locks/.test/rg.parameters.json
  modules/Microsoft.Authorization/locks/readme.md
Labels: [cat] modules, [cat] testing

#1889 [Modules] Updated ApplicationSecurityGroups to new dependency approach
  .github/workflows/ms.network.applicationsecuritygroups.yml
  modules/Microsoft.Network/applicationSecurityGroups/.test/common/dependencies.bicep
  modules/Microsoft.Network/applicationSecurityGroups/.test/common/deploy.test.bicep
  modules/Microsoft.Network/applicationSecurityGroups/.test/parameters.json
  modules/Microsoft.Network/applicationSecurityGroups/readme.md
Labels: [cat] modules, [cat] testing

#1882 [Modules] Updated Managed Identity to new dependency approach
  .github/workflows/ms.managedidentity.userassignedidentities.yml
  modules/Microsoft.ManagedIdentity/userAssignedIdentities/.test/common/dependencies.bicep
  modules/Microsoft.ManagedIdentity/userAssignedIdentities/.test/common/deploy.test.bicep
  modules/Microsoft.ManagedIdentity/userAssignedIdentities/.test/parameters.json
  modules/Microsoft.ManagedIdentity/userAssignedIdentities/readme.md
Labels: [cat] modules, [cat] testing

#2050 [Modules] Update Network FrontDoors to new dependency approach
  .github/workflows/ms.network.frontdoors.yml
  modules/Microsoft.Network/frontDoors/.test/common/dependencies.bicep
  modules/Microsoft.Network/frontDoors/.test/common/deploy.test.bicep
  modules/Microsoft.Network/frontDoors/.test/min/deploy.test.bicep
  modules/Microsoft.Network/frontDoors/.test/parameters.json
  modules/Microsoft.Network/frontDoors/deploy.bicep
  modules/Microsoft.Network/frontDoors/readme.md
Labels: [cat] modules, [cat] testing

#1870 [Modules] Updated ProximityPlacementGroup to new dependency approach
  .github/workflows/ms.compute.proximityplacementgroups.yml
  modules/Microsoft.Compute/proximityPlacementGroups/.test/common/dependencies.bicep
  modules/Microsoft.Compute/proximityPlacementGroups/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/proximityPlacementGroups/.test/parameters.json
  modules/Microsoft.Compute/proximityPlacementGroups/readme.md
Labels: [cat] modules, [cat] testing

#2058 [Modules] Updated Network FirewallPolicies to new dependencies approach
  .github/workflows/ms.network.firewallpolicies.yml
  modules/Microsoft.Network/firewallPolicies/.test/common/deploy.test.bicep
  modules/Microsoft.Network/firewallPolicies/.test/min.parameters.json
  modules/Microsoft.Network/firewallPolicies/.test/min/deploy.test.bicep
  modules/Microsoft.Network/firewallPolicies/.test/parameters.json
  modules/Microsoft.Network/firewallPolicies/readme.md
Labels: [cat] modules, [cat] testing

#2054 [Modules] Updated Network DDOS Proction Plans to new dependencies approach
  .github/workflows/ms.network.ddosprotectionplans.yml
  modules/Microsoft.Network/ddosProtectionPlans/.test/common/dependencies.bicep
  modules/Microsoft.Network/ddosProtectionPlans/.test/common/deploy.test.bicep
  modules/Microsoft.Network/ddosProtectionPlans/.test/min/deploy.test.bicep
  modules/Microsoft.Network/ddosProtectionPlans/.test/parameters.json
  modules/Microsoft.Network/ddosProtectionPlans/readme.md
Labels: [cat] modules, [cat] testing

#2060 [Modules] Updated EventGrid SystemTopics to new dependencies approach
  .github/workflows/ms.eventgrid.systemtopics.yml
  modules/Microsoft.EventGrid/systemTopics/.test/common/dependencies.bicep
  modules/Microsoft.EventGrid/systemTopics/.test/common/deploy.test.bicep
  modules/Microsoft.EventGrid/systemTopics/.test/min.parameters.json
  modules/Microsoft.EventGrid/systemTopics/.test/min/dependencies.bicep
  modules/Microsoft.EventGrid/systemTopics/.test/min/deploy.test.bicep
  modules/Microsoft.EventGrid/systemTopics/.test/parameters.json
  modules/Microsoft.EventGrid/systemTopics/readme.md
Labels: [cat] modules, [cat] testing

#1878 [Modules] Updated DesktopVirtualization HostPools to new dependency approach
  .github/workflows/ms.desktopvirtualization.hostpools.yml
  modules/Microsoft.DesktopVirtualization/hostpools/.test/common/dependencies.bicep
  modules/Microsoft.DesktopVirtualization/hostpools/.test/common/deploy.test.bicep
  modules/Microsoft.DesktopVirtualization/hostpools/.test/parameters.json
  modules/Microsoft.DesktopVirtualization/hostpools/readme.md
Labels: [cat] modules, [cat] testing

#2052 [Modules] Update Network TrafficmanagerProfiles to new dependency approach
  .github/workflows/ms.network.trafficmanagerprofiles.yml
  modules/Microsoft.Network/trafficmanagerprofiles/.test/common/dependencies.bicep
  modules/Microsoft.Network/trafficmanagerprofiles/.test/common/deploy.test.bicep
  modules/Microsoft.Network/trafficmanagerprofiles/.test/min/deploy.test.bicep
  modules/Microsoft.Network/trafficmanagerprofiles/.test/parameters.json
  modules/Microsoft.Network/trafficmanagerprofiles/readme.md
Labels: [cat] modules, [cat] testing

#1807 [Modules] Updated Analysis Services to new dependencies approach
  .github/workflows/ms.analysisservices.servers.yml
  modules/Microsoft.AnalysisServices/servers/.test/common/dependencies.bicep
  modules/Microsoft.AnalysisServices/servers/.test/common/deploy.test.bicep
  modules/Microsoft.AnalysisServices/servers/.test/max.parameters.json
  modules/Microsoft.AnalysisServices/servers/.test/max/dependencies.bicep
  modules/Microsoft.AnalysisServices/servers/.test/max/deploy.test.bicep
  modules/Microsoft.AnalysisServices/servers/.test/min.parameters.json
  modules/Microsoft.AnalysisServices/servers/.test/min/deploy.test.bicep
  modules/Microsoft.AnalysisServices/servers/.test/parameters.json
  modules/Microsoft.AnalysisServices/servers/readme.md
Labels: [cat] modules, [cat] testing

#2056 [Modules] Updated Network ExpressRouteCircuits to new dependencies approach
  .github/workflows/ms.network.expressroutecircuits.yml
  modules/Microsoft.Network/expressRouteCircuits/.test/common/dependencies.bicep
  modules/Microsoft.Network/expressRouteCircuits/.test/common/deploy.test.bicep
  modules/Microsoft.Network/expressRouteCircuits/.test/min/deploy.test.bicep
  modules/Microsoft.Network/expressRouteCircuits/.test/parameters.json
  modules/Microsoft.Network/expressRouteCircuits/readme.md
Labels: [cat] modules, [cat] testing

#2044 [Modules] Update Web ServerFarm to new dependency approach
  .github/workflows/ms.web.serverfarms.yml
  modules/Microsoft.Web/serverfarms/.test/common/dependencies.bicep
  modules/Microsoft.Web/serverfarms/.test/common/deploy.test.bicep
  modules/Microsoft.Web/serverfarms/.test/parameters.json
  modules/Microsoft.Web/serverfarms/readme.md
Labels: [cat] modules, [cat] testing

#1809 [Modules] Updated API Management to new dependencies approach
  .github/workflows/ms.apimanagement.service.yml
  modules/Microsoft.ApiManagement/service/.test/common/dependencies.bicep
  modules/Microsoft.ApiManagement/service/.test/common/deploy.test.bicep
  modules/Microsoft.ApiManagement/service/.test/max.parameters.json
  modules/Microsoft.ApiManagement/service/.test/max/dependencies.bicep
  modules/Microsoft.ApiManagement/service/.test/max/deploy.test.bicep
  modules/Microsoft.ApiManagement/service/.test/min.parameters.json
  modules/Microsoft.ApiManagement/service/.test/min/deploy.test.bicep
  modules/Microsoft.ApiManagement/service/.test/parameters.json
  modules/Microsoft.ApiManagement/service/readme.md
Labels: [cat] modules, [cat] testing

#1824 [Modules] Updated ContainerService/ManagedClusters to new dependency approach
  .github/workflows/ms.containerservice.managedclusters.yml
  modules/Microsoft.ContainerService/managedClusters/.test/azure.parameters.json
  modules/Microsoft.ContainerService/managedClusters/.test/azure/dependencies.bicep
  modules/Microsoft.ContainerService/managedClusters/.test/azure/deploy.test.bicep
  modules/Microsoft.ContainerService/managedClusters/.test/kubenet.parameters.json
  modules/Microsoft.ContainerService/managedClusters/.test/kubenet/dependencies.bicep
  modules/Microsoft.ContainerService/managedClusters/.test/kubenet/deploy.test.bicep
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
Labels: [cat] modules, [cat] testing

#2046 [Modules] Update Network LocalNetworkGateway to new dependency approach
  .github/workflows/ms.network.localnetworkgateways.yml
  modules/Microsoft.Network/localNetworkGateways/.test/common/dependencies.bicep
  modules/Microsoft.Network/localNetworkGateways/.test/common/deploy.test.bicep
  modules/Microsoft.Network/localNetworkGateways/.test/min/deploy.test.bicep
  modules/Microsoft.Network/localNetworkGateways/.test/parameters.json
  modules/Microsoft.Network/localNetworkGateways/readme.md
Labels: [cat] modules, [cat] testing

#1995 [Modules] Updated ManagementGroup to new dependency approach
  .github/workflows/ms.management.managementgroups.yml
  modules/Microsoft.Management/managementGroups/.test/common/deploy.test.bicep
  modules/Microsoft.Management/managementGroups/.test/min/deploy.test.bicep
  modules/Microsoft.Management/managementGroups/.test/parameters.json
  modules/Microsoft.Management/managementGroups/deploy.bicep
  modules/Microsoft.Management/managementGroups/readme.md
Labels: [cat] modules, [cat] testing

#2042 [Modules] Update Network NATGateway to new dependency approach
  .github/workflows/ms.network.natgateways.yml
  modules/Microsoft.Network/natGateways/.test/common/dependencies.bicep
  modules/Microsoft.Network/natGateways/.test/common/deploy.test.bicep
  modules/Microsoft.Network/natGateways/.test/parameters.json
  modules/Microsoft.Network/natGateways/readme.md
Labels: [cat] modules, [cat] testing

#1887 [Modules] Updated Scaling Plans to new dependency approach
  .github/workflows/ms.desktopvirtualization.scalingplans.yml
  modules/Microsoft.DesktopVirtualization/scalingplans/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.DesktopVirtualization/scalingplans/.test/common/dependencies.bicep
  modules/Microsoft.DesktopVirtualization/scalingplans/.test/common/deploy.test.bicep
  modules/Microsoft.DesktopVirtualization/scalingplans/.test/min.parameters.json
  modules/Microsoft.DesktopVirtualization/scalingplans/.test/min/deploy.test.bicep
  modules/Microsoft.DesktopVirtualization/scalingplans/readme.md
Labels: [cat] modules, [cat] testing

#1885 [Modules] Updated VirtualWAN to new dependency approach
  .github/workflows/ms.network.virtualwans.yml
  modules/Microsoft.Network/virtualWans/.test/common/dependencies.bicep
  modules/Microsoft.Network/virtualWans/.test/common/deploy.test.bicep
  modules/Microsoft.Network/virtualWans/.test/min.parameters.json
  modules/Microsoft.Network/virtualWans/.test/min/deploy.test.bicep
  modules/Microsoft.Network/virtualWans/.test/parameters.json
  modules/Microsoft.Network/virtualWans/readme.md
Labels: [cat] modules, [cat] testing

#2198 [Modules] Updated Insights/PrivateLinkScopes to new dependencies approach
  .github/workflows/ms.insights.privatelinkscopes.yml
  modules/Microsoft.Insights/privateLinkScopes/.test/common/dependencies.bicep
  modules/Microsoft.Insights/privateLinkScopes/.test/common/deploy.test.bicep
  modules/Microsoft.Insights/privateLinkScopes/.test/min.parameters.json
  modules/Microsoft.Insights/privateLinkScopes/.test/min/deploy.test.bicep
  modules/Microsoft.Insights/privateLinkScopes/.test/parameters.json
  modules/Microsoft.Insights/privateLinkScopes/readme.md
Labels: [cat] modules

#1880 [Modules] Updated Logic Workflows to new dependency approach
  .github/workflows/ms.logic.workflows.yml
  modules/Microsoft.Logic/workflows/.test/common/dependencies.bicep
  modules/Microsoft.Logic/workflows/.test/common/deploy.test.bicep
  modules/Microsoft.Logic/workflows/.test/parameters.json
  modules/Microsoft.Logic/workflows/readme.md
Labels: [cat] modules, [cat] testing

#1874 [Modules] Updated ContainerInstances ContainerGroups to new dependency approach
  .github/workflows/ms.containerinstance.containergroups.yml
  modules/Microsoft.ContainerInstance/containerGroups/.test/common/dependencies.bicep
  modules/Microsoft.ContainerInstance/containerGroups/.test/common/deploy.test.bicep
  modules/Microsoft.ContainerInstance/containerGroups/.test/min.parameters.json
  modules/Microsoft.ContainerInstance/containerGroups/.test/min/deploy.test.bicep
  modules/Microsoft.ContainerInstance/containerGroups/.test/parameters.json
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
Labels: [cat] modules, [cat] testing

#1871 [Modules] Refactored Network Application Gateway to new dependency approach
  .github/workflows/ms.network.applicationgateways.yml
  modules/Microsoft.Network/applicationGateways/.test/.scripts/New-Certificate.ps1
  modules/Microsoft.Network/applicationGateways/.test/common/dependencies.bicep
  modules/Microsoft.Network/applicationGateways/.test/common/deploy.test.bicep
  modules/Microsoft.Network/applicationGateways/.test/parameters.json
  modules/Microsoft.Network/applicationGateways/readme.md
Labels: [cat] modules, [cat] testing

#2201 [Modules] Update AKS API version
  modules/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
  modules/Microsoft.KubernetesConfiguration/extensions/.test/common/dependencies.bicep
  modules/Microsoft.KubernetesConfiguration/extensions/.test/min/dependencies.bicep
  modules/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/.test/common/dependencies.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/.test/min/dependencies.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/deploy.bicep
Labels: enhancement, [cat] modules, [cat] testing

#2040 [Modules] Update Network LoadBalancer to new dependency approach
  .github/workflows/ms.network.loadbalancers.yml
  modules/Microsoft.Network/loadBalancers/.test/common/dependencies.bicep
  modules/Microsoft.Network/loadBalancers/.test/common/deploy.test.bicep
  modules/Microsoft.Network/loadBalancers/.test/internal.parameters.json
  modules/Microsoft.Network/loadBalancers/.test/internal/dependencies.bicep
  modules/Microsoft.Network/loadBalancers/.test/internal/deploy.test.bicep
  modules/Microsoft.Network/loadBalancers/.test/min.parameters.json
  modules/Microsoft.Network/loadBalancers/.test/min/dependencies.bicep
  modules/Microsoft.Network/loadBalancers/.test/min/deploy.test.bicep
  modules/Microsoft.Network/loadBalancers/.test/parameters.json
  modules/Microsoft.Network/loadBalancers/readme.md
Labels: [cat] modules, [cat] testing

#1891 [Modules] Updated AzureBastion to new dependency approach
  .github/workflows/ms.network.bastionhosts.yml
  modules/Microsoft.Network/bastionHosts/.test/common/dependencies.bicep
  modules/Microsoft.Network/bastionHosts/.test/common/deploy.test.bicep
  modules/Microsoft.Network/bastionHosts/.test/custompip.parameters.json
  modules/Microsoft.Network/bastionHosts/.test/custompip/dependencies.bicep
  modules/Microsoft.Network/bastionHosts/.test/custompip/deploy.test.bicep
  modules/Microsoft.Network/bastionHosts/.test/min.parameters.json
  modules/Microsoft.Network/bastionHosts/.test/min/dependencies.bicep
  modules/Microsoft.Network/bastionHosts/.test/min/deploy.test.bicep
  modules/Microsoft.Network/bastionHosts/.test/parameters.json
  modules/Microsoft.Network/bastionHosts/readme.md
Labels: [cat] modules, [cat] testing

#1826 [Modules] Updated DataFactory/Factories to new dependency approach
  .github/workflows/ms.datafactory.factories.yml
  modules/Microsoft.DataFactory/factories/.test/common/dependencies.bicep
  modules/Microsoft.DataFactory/factories/.test/common/deploy.test.bicep
  modules/Microsoft.DataFactory/factories/.test/min.parameters.json
  modules/Microsoft.DataFactory/factories/.test/min/deploy.test.bicep
  modules/Microsoft.DataFactory/factories/.test/parameters.json
  modules/Microsoft.DataFactory/factories/readme.md
Labels: [cat] modules, [cat] testing

#1879 [Modules] Updated DesktopVirtualization ApplicationGroups to new dependency approach
  .github/workflows/ms.desktopvirtualization.applicationgroups.yml
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/common/dependencies.bicep
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/common/deploy.test.bicep
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/min.parameters.json
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/min/dependencies.bicep
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/min/deploy.test.bicep
  modules/Microsoft.DesktopVirtualization/applicationgroups/.test/parameters.json
  modules/Microsoft.DesktopVirtualization/applicationgroups/readme.md
Labels: [cat] modules, [cat] testing

#1890 [Modules] Updated AzureFirewall to new dependency approach
  .github/workflows/ms.network.azurefirewalls.yml
  modules/Microsoft.Network/azureFirewalls/.test/addpip.parameters.json
  modules/Microsoft.Network/azureFirewalls/.test/addpip/dependencies.bicep
  modules/Microsoft.Network/azureFirewalls/.test/addpip/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/.test/common/dependencies.bicep
  modules/Microsoft.Network/azureFirewalls/.test/common/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/.test/custompip.parameters.json
  modules/Microsoft.Network/azureFirewalls/.test/custompip/dependencies.bicep
  modules/Microsoft.Network/azureFirewalls/.test/custompip/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/.test/min.parameters.json
  modules/Microsoft.Network/azureFirewalls/.test/min/dependencies.bicep
  modules/Microsoft.Network/azureFirewalls/.test/min/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/.test/parameters.json
  modules/Microsoft.Network/azureFirewalls/readme.md
Labels: [cat] modules, [cat] testing

#1883 [Modules] Updated NetApp to new dependency approach
  .github/workflows/ms.netapp.netappaccounts.yml
  modules/Microsoft.NetApp/netAppAccounts/.test/min.parameters.json
  modules/Microsoft.NetApp/netAppAccounts/.test/min/deploy.test.bicep
  modules/Microsoft.NetApp/netAppAccounts/.test/nfs3.parameters.json
  modules/Microsoft.NetApp/netAppAccounts/.test/nfs3/dependencies.bicep
  modules/Microsoft.NetApp/netAppAccounts/.test/nfs3/deploy.test.bicep
  modules/Microsoft.NetApp/netAppAccounts/.test/nfs41.parameters.json
  modules/Microsoft.NetApp/netAppAccounts/.test/nfs41/dependencies.bicep
  modules/Microsoft.NetApp/netAppAccounts/.test/nfs41/deploy.test.bicep
  modules/Microsoft.NetApp/netAppAccounts/readme.md
Labels: [cat] modules, [cat] testing

#1872 [Modules] Updated DiskEncryptionSet to new dependency approach
  .github/workflows/ms.compute.diskencryptionsets.yml
  modules/Microsoft.Compute/diskEncryptionSets/.test/common/dependencies.bicep
  modules/Microsoft.Compute/diskEncryptionSets/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/diskEncryptionSets/.test/parameters.json
  modules/Microsoft.Compute/diskEncryptionSets/readme.md
Labels: [cat] modules, [cat] testing

#1886 [Modules] Updated NSG to new dependency approach
  .github/workflows/ms.network.networksecuritygroups.yml
  modules/Microsoft.Network/networkSecurityGroups/.test/common/dependencies.bicep
  modules/Microsoft.Network/networkSecurityGroups/.test/common/deploy.test.bicep
  modules/Microsoft.Network/networkSecurityGroups/.test/min.parameters.json
  modules/Microsoft.Network/networkSecurityGroups/.test/min/deploy.test.bicep
  modules/Microsoft.Network/networkSecurityGroups/.test/parameters.json
  modules/Microsoft.Network/networkSecurityGroups/readme.md
Labels: [cat] modules, [cat] testing

#2212 [Fixes] Regenerating DataFactory factory readme file
  modules/Microsoft.DataFactory/factories/readme.md
Labels: documentation, [cat] modules, [cat] testing

#2202 [Modules] New module DNS Private Resolvers with new dependency approach
  .azuredevops/modulePipelines/ms.network.dnsresolvers.yml
  .github/workflows/ms.network.dnsresolvers.yml
  modules/Microsoft.Network/dnsResolvers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsResolvers/.test/common/dependencies.bicep
  modules/Microsoft.Network/dnsResolvers/.test/common/deploy.test.bicep
  modules/Microsoft.Network/dnsResolvers/deploy.bicep
  modules/Microsoft.Network/dnsResolvers/readme.md
  modules/Microsoft.Network/dnsResolvers/version.json
Labels: [cat] modules

#1810 [Modules] Updated AppConfig to new dependencies approach
  .github/workflows/ms.appconfiguration.configurationstores.yml
  modules/Microsoft.AppConfiguration/configurationStores/.test/common/dependencies.bicep
  modules/Microsoft.AppConfiguration/configurationStores/.test/common/deploy.test.bicep
  modules/Microsoft.AppConfiguration/configurationStores/.test/min.parameters.json
  modules/Microsoft.AppConfiguration/configurationStores/.test/min/deploy.test.bicep
  modules/Microsoft.AppConfiguration/configurationStores/.test/parameters.json
  modules/Microsoft.AppConfiguration/configurationStores/.test/pe.parameters.json
  modules/Microsoft.AppConfiguration/configurationStores/.test/pe/dependencies.bicep
  modules/Microsoft.AppConfiguration/configurationStores/.test/pe/deploy.test.bicep
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
Labels: [cat] modules, [cat] testing

#1818 [Modules] Updated Automation/AutomationAccounts to new dependency approach
  .github/workflows/ms.automation.automationaccounts.yml
  modules/Microsoft.Automation/automationAccounts/.test/common/dependencies.bicep
  modules/Microsoft.Automation/automationAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Automation/automationAccounts/.test/encr.parameters.json
  modules/Microsoft.Automation/automationAccounts/.test/encr/dependencies.bicep
  modules/Microsoft.Automation/automationAccounts/.test/encr/deploy.test.bicep
  modules/Microsoft.Automation/automationAccounts/.test/min.parameters.json
  modules/Microsoft.Automation/automationAccounts/.test/min/deploy.test.bicep
  modules/Microsoft.Automation/automationAccounts/.test/parameters.json
  modules/Microsoft.Automation/automationAccounts/readme.md
Labels: [cat] modules, [cat] testing

#1821 [Modules] Updated Compute/AvailabilitySets to new dependency approach
  .github/workflows/ms.compute.availabilitysets.yml
  modules/Microsoft.Compute/availabilitySets/.test/common/dependencies.bicep
  modules/Microsoft.Compute/availabilitySets/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/availabilitySets/.test/min.parameters.json
  modules/Microsoft.Compute/availabilitySets/.test/min/deploy.test.bicep
  modules/Microsoft.Compute/availabilitySets/.test/parameters.json
  modules/Microsoft.Compute/availabilitySets/readme.md
Labels: [cat] modules, [cat] testing

#1835 [Modules] Updated Resources/DeploymentScripts to new dependency approach
  .github/workflows/ms.resources.deploymentscripts.yml
  modules/Microsoft.Resources/deploymentScripts/.test/cli.parameters.json
  modules/Microsoft.Resources/deploymentScripts/.test/cli/dependencies.bicep
  modules/Microsoft.Resources/deploymentScripts/.test/cli/deploy.test.bicep
  modules/Microsoft.Resources/deploymentScripts/.test/ps.parameters.json
  modules/Microsoft.Resources/deploymentScripts/.test/ps/dependencies.bicep
  modules/Microsoft.Resources/deploymentScripts/.test/ps/deploy.test.bicep
  modules/Microsoft.Resources/deploymentScripts/readme.md
Labels: [cat] modules, [cat] testing

#1836 [Modules] Updated Sql/Servers to new dependency approach
  .github/workflows/ms.sql.servers.yml
  modules/Microsoft.Sql/servers/.test/admin.parameters.json
  modules/Microsoft.Sql/servers/.test/admin/dependencies.bicep
  modules/Microsoft.Sql/servers/.test/admin/deploy.test.bicep
  modules/Microsoft.Sql/servers/.test/common/dependencies.bicep
  modules/Microsoft.Sql/servers/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/servers/.test/parameters.json
  modules/Microsoft.Sql/servers/.test/pe.parameters.json
  modules/Microsoft.Sql/servers/.test/pe/dependencies.bicep
  modules/Microsoft.Sql/servers/.test/pe/deploy.test.bicep
  modules/Microsoft.Sql/servers/readme.md
Labels: [cat] modules, [cat] testing

#2207 [Modules] Updated Storage Account to new dependencies approach
  .github/workflows/ms.storage.storageaccounts.yml
  modules/Microsoft.Storage/storageAccounts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Storage/storageAccounts/.test/common/dependencies.bicep
  modules/Microsoft.Storage/storageAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/.test/encr.parameters.json
  modules/Microsoft.Storage/storageAccounts/.test/encr/dependencies.bicep
  modules/Microsoft.Storage/storageAccounts/.test/encr/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/.test/min.parameters.json
  modules/Microsoft.Storage/storageAccounts/.test/min/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/.test/nfs.parameters.json
  modules/Microsoft.Storage/storageAccounts/.test/nfs/dependencies.bicep
  modules/Microsoft.Storage/storageAccounts/.test/nfs/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/.test/parameters.json
  modules/Microsoft.Storage/storageAccounts/.test/v1.parameters.json
  modules/Microsoft.Storage/storageAccounts/.test/v1/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: [cat] modules

#1837 [Modules] Updated Web/Sites to new dependency approach
  .github/workflows/ms.web.sites.yml
  modules/Microsoft.Web/sites/.test/FunctionAppCommon/dependencies.bicep
  modules/Microsoft.Web/sites/.test/FunctionAppCommon/deploy.test.bicep
  modules/Microsoft.Web/sites/.test/fa.min.parameters.json
  modules/Microsoft.Web/sites/.test/fa.parameters.json
  modules/Microsoft.Web/sites/.test/functionAppMin/dependencies.bicep
  modules/Microsoft.Web/sites/.test/functionAppMin/deploy.test.bicep
  modules/Microsoft.Web/sites/.test/wa.min.parameters.json
  modules/Microsoft.Web/sites/.test/wa.parameters.json
  modules/Microsoft.Web/sites/.test/webAppCommon/dependencies.bicep
  modules/Microsoft.Web/sites/.test/webAppCommon/deploy.test.bicep
  modules/Microsoft.Web/sites/.test/webAppMin/dependencies.bicep
  modules/Microsoft.Web/sites/.test/webAppMin/deploy.test.bicep
  modules/Microsoft.Web/sites/readme.md
Labels: [cat] modules, [cat] testing

#1875 [Modules] Updated Databricks Workspaces to new dependencies approach
  .github/workflows/ms.databricks.workspaces.yml
  modules/Microsoft.Databricks/workspaces/.test/common/dependencies.bicep
  modules/Microsoft.Databricks/workspaces/.test/common/deploy.test.bicep
  modules/Microsoft.Databricks/workspaces/.test/parameters.json
  modules/Microsoft.Databricks/workspaces/readme.md
Labels: [cat] modules, [cat] testing

#2223 [Fixes] Update Sql Server PrivateDNSZone dependency name
  modules/Microsoft.Sql/servers/.test/common/dependencies.bicep
  modules/Microsoft.Sql/servers/.test/pe/dependencies.bicep
Labels: bug, [cat] pipelines, [cat] testing

#2220 [Modules] Updated Service Bus Namespace to new dependencies approach
  .github/workflows/ms.servicebus.namespaces.yml
  modules/Microsoft.ServiceBus/namespaces/.test/common/dependencies.bicep
  modules/Microsoft.ServiceBus/namespaces/.test/common/deploy.test.bicep
  modules/Microsoft.ServiceBus/namespaces/.test/encr/dependencies.bicep
  modules/Microsoft.ServiceBus/namespaces/.test/encr/deploy.test.bicep
  modules/Microsoft.ServiceBus/namespaces/.test/min.parameters.json
  modules/Microsoft.ServiceBus/namespaces/.test/min/deploy.test.bicep
  modules/Microsoft.ServiceBus/namespaces/.test/parameters.json
  modules/Microsoft.ServiceBus/namespaces/.test/pe.parameters.json
  modules/Microsoft.ServiceBus/namespaces/.test/pe/dependencies.bicep
  modules/Microsoft.ServiceBus/namespaces/.test/pe/deploy.test.bicep
  modules/Microsoft.ServiceBus/namespaces/readme.md
Labels: [cat] modules

#2178 [Modules] Updated OperationalInsights/workspaces to new dependencies approach #2177
  .github/workflows/ms.operationalinsights.workspaces.yml
  modules/Microsoft.OperationalInsights/workspaces/.test/common/dependencies.bicep
  modules/Microsoft.OperationalInsights/workspaces/.test/common/deploy.test.bicep
  modules/Microsoft.OperationalInsights/workspaces/.test/min.parameters.json
  modules/Microsoft.OperationalInsights/workspaces/.test/min/deploy.test.bicep
  modules/Microsoft.OperationalInsights/workspaces/.test/parameters.json
  modules/Microsoft.OperationalInsights/workspaces/readme.md
Labels: [cat] modules, [cat] testing

#1997 [Modules] Updated ManagedServices RegistrationDefinitions to new dependency app…
  .github/workflows/ms.managedservices.registrationdefinitions.yml
  modules/Microsoft.ManagedServices/registrationDefinitions/.test/common/deploy.test.bicep
  modules/Microsoft.ManagedServices/registrationDefinitions/.test/parameters.json
  modules/Microsoft.ManagedServices/registrationDefinitions/.test/rg.parameters.json
  modules/Microsoft.ManagedServices/registrationDefinitions/.test/rg/deploy.test.bicep
  modules/Microsoft.ManagedServices/registrationDefinitions/readme.md
Labels: [cat] modules, [cat] testing

#1877 [Modules] Updated DBforPostgreSQL flexibleServers to new dependencies approach
  .github/workflows/ms.dbforpostgresql.flexibleservers.yml
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/min.parameters.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/min/deploy.test.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/private.parameters.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/private/dependencies.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/private/deploy.test.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/public.parameters.json
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/public/deploy.test.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/readme.md
Labels: [cat] modules, [cat] testing

#2228 [Modules] Updated Synapse Privatelink Hubs (Azure Synapse Analytics) to new dependencies approach
  .github/workflows/ms.synapse.privatelinkhubs.yml
  modules/Microsoft.Synapse/privateLinkHubs/.test/common/dependencies.bicep
  modules/Microsoft.Synapse/privateLinkHubs/.test/common/deploy.test.bicep
  modules/Microsoft.Synapse/privateLinkHubs/.test/min.parameters.json
  modules/Microsoft.Synapse/privateLinkHubs/.test/min/deploy.test.bicep
  modules/Microsoft.Synapse/privateLinkHubs/.test/parameters.json
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
Labels: [cat] modules, [cat] testing

#1822 [Modules] Updated Compute/VirtualMachines to new dependency approach
  .github/workflows/ms.compute.virtualmachines.yml
  modules/Microsoft.Compute/virtualMachines/.test/.scripts/New-SSHKey.ps1
  modules/Microsoft.Compute/virtualMachines/.test/.scripts/Set-BlobContent.ps1
  modules/Microsoft.Compute/virtualMachines/.test/linux.atmg/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux.atmg/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux.autmg.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/linux.min.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/linux.min/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux.min/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/linux/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.atmg/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.atmg/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.autmg.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/windows.min.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/windows.min/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.min/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.parameters.json
  modules/Microsoft.Compute/virtualMachines/.test/windows/dependencies.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Labels: [cat] modules, [cat] testing

#2238 [Fixes] Fixed test DNS name
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/private/dependencies.bicep
Labels: bug, [cat] modules, [cat] testing

#2241 [Modules] Add tags to Microsoft.ManagedIdentity\userAssignedIdentities common test
  modules/Microsoft.ManagedIdentity/userAssignedIdentities/.test/common/deploy.test.bicep
  modules/Microsoft.ManagedIdentity/userAssignedIdentities/readme.md
Labels: [cat] modules, [cat] testing, hacktoberfest-accepted

#2246 [Fixes] Addressed warning of Bicep resource ref
  modules/Microsoft.Network/loadBalancers/inboundNatRules/deploy.bicep
Labels: bug, [cat] modules

#2243 [Modules] Add tags to Microsoft.web\serverfarms common test
  modules/Microsoft.Web/serverfarms/.test/common/deploy.test.bicep
  modules/Microsoft.Web/serverfarms/readme.md
Labels: enhancement, [cat] modules, [cat] testing, hacktoberfest-accepted

#1819 [Modules] Updated Cache/Redis to new dependency approach
  .github/workflows/ms.cache.redis.yml
  modules/Microsoft.Cache/redis/.test/common/dependencies.bicep
  modules/Microsoft.Cache/redis/.test/common/deploy.test.bicep
  modules/Microsoft.Cache/redis/.test/min.parameters.json
  modules/Microsoft.Cache/redis/.test/min/deploy.test.bicep
  modules/Microsoft.Cache/redis/.test/parameters.json
  modules/Microsoft.Cache/redis/deploy.bicep
  modules/Microsoft.Cache/redis/readme.md
Labels: [cat] modules, [cat] testing

#2172 [Fixes] Fix failing Synapse Workspaces
  docs/wiki/Known issues.md
  modules/Microsoft.Synapse/workspaces/readme.md
Labels: bug, documentation, [cat] modules, [cat] testing

#2240 [Modules] Updated & extended ML Workspaces API version
  modules/Microsoft.MachineLearningServices/workspaces/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.MachineLearningServices/workspaces/.test/encr/dependencies.bicep
  modules/Microsoft.MachineLearningServices/workspaces/.test/encr/deploy.test.bicep
  modules/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
Labels: enhancement, [cat] modules

#1817 [Modules] Updated Authorization/RoleDefinitions to new dependency approach
  .github/workflows/ms.authorization.roledefinitions.yml
  modules/Microsoft.Authorization/roleDefinitions/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/roleDefinitions/.test/mg.min.parameters.json
  modules/Microsoft.Authorization/roleDefinitions/.test/mg.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleDefinitions/.test/mg.parameters.json
  modules/Microsoft.Authorization/roleDefinitions/.test/rg.common/deploy.test.bicep
  modules/Microsoft.Authorization/roleDefinitions/.test/rg.min.parameters.json
  modules/Microsoft.Authorization/roleDefinitions/.test/rg.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleDefinitions/.test/rg.parameters.json
  modules/Microsoft.Authorization/roleDefinitions/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/roleDefinitions/.test/sub.min.parameters.json
  modules/Microsoft.Authorization/roleDefinitions/.test/sub.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleDefinitions/.test/sub.parameters.json
  modules/Microsoft.Authorization/roleDefinitions/readme.md
Labels: [cat] modules, [cat] testing

#1811 [Modules] Updated Policy Assignments to new dependency approach
  .github/workflows/ms.authorization.policyassignments.yml
  modules/Microsoft.Authorization/policyAssignments/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/mg.min.parameters.json
  modules/Microsoft.Authorization/policyAssignments/.test/mg.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/mg.parameters.json
  modules/Microsoft.Authorization/policyAssignments/.test/rg.common/dependencies.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/rg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/rg.min.parameters.json
  modules/Microsoft.Authorization/policyAssignments/.test/rg.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/rg.parameters.json
  modules/Microsoft.Authorization/policyAssignments/.test/sub.common/dependencies.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/sub.min.parameters.json
  modules/Microsoft.Authorization/policyAssignments/.test/sub.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/sub.parameters.json
  modules/Microsoft.Authorization/policyAssignments/readme.md
Labels: [cat] modules, [cat] testing

#1814 [Modules] Updated Authorization/PolicyExemptions to new dependency approach
  .github/workflows/ms.authorization.policyexemptions.yml
  modules/Microsoft.Authorization/policyExemptions/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/mg.min.parameters.json
  modules/Microsoft.Authorization/policyExemptions/.test/mg.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/mg.parameters.json
  modules/Microsoft.Authorization/policyExemptions/.test/rg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/rg.min.parameters.json
  modules/Microsoft.Authorization/policyExemptions/.test/rg.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/rg.parameters.json
  modules/Microsoft.Authorization/policyExemptions/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/sub.min.parameters.json
  modules/Microsoft.Authorization/policyExemptions/.test/sub.min/deploy.test.bicep
  modules/Microsoft.Authorization/policyExemptions/.test/sub.parameters.json
  modules/Microsoft.Authorization/policyExemptions/readme.md
Labels: [cat] modules, [cat] testing

#1816 [Modules] Updated Authorization/RoleAssignments to new dependency approach
  .github/workflows/ms.authorization.roleassignments.yml
  modules/Microsoft.Authorization/roleAssignments/.test/mg.common/dependencies.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/mg.common/interim.dependencies.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/mg.min.parameters.json
  modules/Microsoft.Authorization/roleAssignments/.test/mg.min/dependencies.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/mg.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/mg.min/interim.dependencies.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/mg.parameters.json
  modules/Microsoft.Authorization/roleAssignments/.test/rg.common/dependencies.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/rg.common/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/rg.min.parameters.json
  modules/Microsoft.Authorization/roleAssignments/.test/rg.min/dependencies.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/rg.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/rg.parameters.json
  modules/Microsoft.Authorization/roleAssignments/.test/sub.common/dependencies.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/sub.min.parameters.json
  modules/Microsoft.Authorization/roleAssignments/.test/sub.min/dependencies.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/sub.min/deploy.test.bicep
  modules/Microsoft.Authorization/roleAssignments/.test/sub.parameters.json
  modules/Microsoft.Authorization/roleAssignments/readme.md
Labels: [cat] modules, [cat] testing

#1993 [Modules] Updated Cosmos DB to new dependencies approach
  .github/workflows/ms.documentdb.databaseaccounts.yml
  modules/Microsoft.DocumentDB/databaseAccounts/.test/gremlindb.parameters.json
  modules/Microsoft.DocumentDB/databaseAccounts/.test/gremlindb/dependencies.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/.test/gremlindb/deploy.test.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/.test/mongodb.parameters.json
  modules/Microsoft.DocumentDB/databaseAccounts/.test/mongodb/dependencies.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/.test/mongodb/deploy.test.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/.test/plain.parameters.json
  modules/Microsoft.DocumentDB/databaseAccounts/.test/plain/dependencies.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/.test/plain/deploy.test.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/.test/sqldb.parameters.json
  modules/Microsoft.DocumentDB/databaseAccounts/.test/sqldb/dependencies.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/.test/sqldb/deploy.test.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/readme.md
Labels: [cat] modules, [cat] testing

#2251 Adjusted implementation for testing
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/common/dependencies.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/common/dependencies_rbac.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/common/deploy.test.bicep
Labels: [cat] modules, [cat] testing

#2250 [modules] Updated VirtualMachineImages\ImageTemplate to new dependencies approach
  .github/workflows/ms.virtualmachineimages.imagetemplates.yml
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/common/dependencies.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/common/deploy.test.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/parameters.json
  modules/Microsoft.VirtualMachineImages/imageTemplates/readme.md
Labels: [cat] modules, [cat] testing

#2229 [Modules] Updated API version for Private Endpoints and enabled custom NIC name, ASG and Static IP support
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.Network/privateEndpoints/.test/common/dependencies.bicep
  modules/Microsoft.Network/privateEndpoints/.test/common/deploy.test.bicep
  modules/Microsoft.Network/privateEndpoints/deploy.bicep
  modules/Microsoft.Network/privateEndpoints/privateDnsZoneGroups/deploy.bicep
  modules/Microsoft.Network/privateEndpoints/privateDnsZoneGroups/readme.md
  modules/Microsoft.Network/privateEndpoints/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Synapse/workspaces/readme.md
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/staticSites/readme.md
Labels: enhancement, [cat] modules

#2256 [Utilities] Added extraction function to get template content to enable REST2CARML idempotency
  utilities/tools/REST2CARML/private/module/Expand-DeploymentBlock.ps1
  utilities/tools/REST2CARML/private/module/Read-DeclarationBlock.ps1
  utilities/tools/REST2CARML/private/module/Set-ModuleTemplate.ps1
  utilities/tools/REST2CARML/private/shared/Get-LineIndentation.ps1
  utilities/tools/REST2CARML/public/Resolve-ExistingTemplateContent.ps1
Labels: [cat] utilities

#2257 Users/hack rest2 carml idemp enable
  modules/Microsoft.AVS/privateClouds/addons/deploy.bicep
  modules/Microsoft.AVS/privateClouds/authorizations/deploy.bicep
  modules/Microsoft.AVS/privateClouds/cloudLinks/deploy.bicep
  modules/Microsoft.AVS/privateClouds/clusters/datastores/deploy.bicep
  modules/Microsoft.AVS/privateClouds/clusters/deploy.bicep
  modules/Microsoft.AVS/privateClouds/clusters/placementPolicies/deploy.bicep
  modules/Microsoft.AVS/privateClouds/deploy.bicep
  modules/Microsoft.AVS/privateClouds/globalReachConnections/deploy.bicep
  modules/Microsoft.AVS/privateClouds/hcxEnterpriseSites/deploy.bicep
  modules/Microsoft.AVS/privateClouds/scriptExecutions/deploy.bicep
  modules/Microsoft.AVS/privateClouds/workloadNetworks/dhcpConfigurations/deploy.bicep
  modules/Microsoft.AVS/privateClouds/workloadNetworks/dnsServices/deploy.bicep
  modules/Microsoft.AVS/privateClouds/workloadNetworks/dnsZones/deploy.bicep
  modules/Microsoft.AVS/privateClouds/workloadNetworks/portMirroringProfiles/deploy.bicep
  modules/Microsoft.AVS/privateClouds/workloadNetworks/publicIPs/deploy.bicep
  modules/Microsoft.AVS/privateClouds/workloadNetworks/segments/deploy.bicep
  modules/Microsoft.AVS/privateClouds/workloadNetworks/vmGroups/deploy.bicep
  utilities/tools/REST2CARML/private/module/Read-DeclarationBlock.ps1
  utilities/tools/REST2CARML/private/module/Set-ModuleTemplate.ps1
Labels: enhancement, [cat] utilities
