Repository Azure/ResourceModules, pull requests merged in 2023-11, with the labels that each got.

#4175 [Utilities] Enabled expansion of child properties in ReadME
  modules/app-configuration/configuration-store/README.md
  modules/automation/automation-account/README.md
  modules/batch/batch-account/README.md
  modules/cache/redis-enterprise/README.md
  modules/cache/redis/README.md
  modules/cognitive-services/account/README.md
  modules/container-registry/registry/README.md
  modules/data-factory/factory/README.md
  modules/databricks/workspace/README.md
  modules/digital-twins/digital-twins-instance/README.md
  modules/document-db/database-account/README.md
  modules/event-grid/domain/README.md
  modules/event-grid/topic/README.md
  modules/event-hub/namespace/README.md
  modules/insights/private-link-scope/README.md
  modules/key-vault/vault/README.md
  modules/machine-learning-services/workspace/README.md
  modules/network/application-gateway/README.md
  modules/network/private-endpoint/README.md
  modules/recovery-services/vault/README.md
  modules/relay/namespace/README.md
  modules/search/search-service/README.md
  modules/service-bus/namespace/README.md
  modules/signal-r-service/signal-r/README.md
  modules/signal-r-service/web-pub-sub/README.md
  modules/sql/server/README.md
  modules/storage/storage-account/README.md
  modules/synapse/private-link-hub/README.md
  modules/synapse/workspace/README.md
  modules/web/site/README.md
  modules/web/site/slot/README.md
  modules/web/static-site/README.md
  utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
Labels: enhancement, [cat] utilities

#4173 [Modules] Updated CMK to AVM specs
  modules/app-configuration/configuration-store/.test/encr/main.test.bicep
  modules/app-configuration/configuration-store/README.md
  modules/app-configuration/configuration-store/main.bicep
  modules/app-configuration/configuration-store/main.json
  modules/automation/automation-account/.test/encr/main.test.bicep
  modules/automation/automation-account/README.md
  modules/automation/automation-account/main.bicep
  modules/automation/automation-account/main.json
  modules/container-instance/container-group/.test/encr/main.test.bicep
  modules/container-instance/container-group/README.md
  modules/container-instance/container-group/main.bicep
  modules/container-instance/container-group/main.json
  modules/container-registry/registry/.test/encr/main.test.bicep
  modules/container-registry/registry/README.md
  modules/container-registry/registry/main.bicep
  modules/container-registry/registry/main.json
  modules/data-factory/factory/.test/common/main.test.bicep
  modules/data-factory/factory/README.md
  modules/data-factory/factory/main.bicep
  modules/data-factory/factory/main.json
  modules/databricks/workspace/.test/common/main.test.bicep
  modules/databricks/workspace/README.md
  modules/databricks/workspace/main.bicep
  modules/databricks/workspace/main.json
  modules/db-for-my-sql/flexible-server/.test/public/main.test.bicep
  modules/db-for-my-sql/flexible-server/README.md
  modules/db-for-my-sql/flexible-server/main.bicep
  modules/db-for-my-sql/flexible-server/main.json
  modules/db-for-postgre-sql/flexible-server/.test/public/main.test.bicep
  modules/db-for-postgre-sql/flexible-server/README.md
  modules/db-for-postgre-sql/flexible-server/main.bicep
  modules/db-for-postgre-sql/flexible-server/main.json
  modules/event-hub/namespace/.test/encr/main.test.bicep
  modules/event-hub/namespace/README.md
  modules/event-hub/namespace/main.bicep
  modules/event-hub/namespace/main.json
  modules/machine-learning-services/workspace/.test/encr/main.test.bicep
  modules/machine-learning-services/workspace/README.md
  modules/machine-learning-services/workspace/main.bicep
  modules/machine-learning-services/workspace/main.json
  modules/service-bus/namespace/.test/encr/main.test.bicep
  modules/service-bus/namespace/README.md
  modules/service-bus/namespace/main.bicep
  modules/service-bus/namespace/main.json
  modules/storage/storage-account/.test/encr/main.test.bicep
  modules/storage/storage-account/README.md
  modules/storage/storage-account/main.bicep
  modules/storage/storage-account/main.json
  modules/synapse/workspace/.test/encrwsai/main.test.bicep
  modules/synapse/workspace/.test/encrwuai/main.test.bicep
  modules/synapse/workspace/README.md
  modules/synapse/workspace/key/README.md
  modules/synapse/workspace/key/main.bicep
  modules/synapse/workspace/key/main.json
  modules/synapse/workspace/main.bicep
  modules/synapse/workspace/main.json
Labels: enhancement, [cat] modules

#4188 [Modules] Remove max test from apim and analysis services
  modules/analysis-services/server/README.md
  modules/analysis-services/server/tests/e2e/common/main.test.bicep
  modules/analysis-services/server/tests/e2e/max/dependencies.bicep
  modules/analysis-services/server/tests/e2e/max/main.test.bicep
  modules/api-management/service/README.md
  modules/api-management/service/tests/e2e/common/dependencies.bicep
  modules/api-management/service/tests/e2e/common/main.test.bicep
  modules/api-management/service/tests/e2e/max/dependencies.bicep
  modules/api-management/service/tests/e2e/max/main.test.bicep
Labels: [cat] testing

#4215 [Modules] New Child Module for Microsoft.Web/sites/slots/basicPublishingCredentialsPolicies
  modules/web/site/README.md
  modules/web/site/main.bicep
  modules/web/site/main.json
  modules/web/site/slot/README.md
  modules/web/site/slot/basic-publishing-credentials-policy/README.md
  modules/web/site/slot/basic-publishing-credentials-policy/main.bicep
  modules/web/site/slot/basic-publishing-credentials-policy/main.json
  modules/web/site/slot/basic-publishing-credentials-policy/version.json
  modules/web/site/slot/main.bicep
  modules/web/site/slot/main.json
  modules/web/site/tests/e2e/webAppCommon/main.test.bicep
Labels: enhancement, [cat] modules

#4240 [Modules] Updated identities to UDT as per AVM specs - Batch 2
  docs/wiki/The library - Module design.md
  modules/dev-test-lab/lab/README.md
  modules/dev-test-lab/lab/main.bicep
  modules/dev-test-lab/lab/main.json
  modules/digital-twins/digital-twins-instance/README.md
  modules/digital-twins/digital-twins-instance/endpoint--event-grid/main.json
  modules/digital-twins/digital-twins-instance/endpoint--event-hub/README.md
  modules/digital-twins/digital-twins-instance/endpoint--event-hub/main.bicep
  modules/digital-twins/digital-twins-instance/endpoint--event-hub/main.json
  modules/digital-twins/digital-twins-instance/endpoint--service-bus/README.md
  modules/digital-twins/digital-twins-instance/endpoint--service-bus/main.bicep
  modules/digital-twins/digital-twins-instance/endpoint--service-bus/main.json
  modules/digital-twins/digital-twins-instance/main.bicep
  modules/digital-twins/digital-twins-instance/main.json
  modules/digital-twins/digital-twins-instance/tests/e2e/max/main.test.bicep
  modules/digital-twins/digital-twins-instance/tests/e2e/waf-aligned/main.test.bicep
  modules/synapse/workspace/README.md
  modules/synapse/workspace/main.bicep
  modules/synapse/workspace/main.json
  modules/synapse/workspace/tests/e2e/max/main.test.bicep
  modules/synapse/workspace/tests/e2e/waf-aligned/main.test.bicep
  modules/web/site/README.md
  modules/web/site/main.bicep
  modules/web/site/main.json
Labels: [cat] modules

#4204 Added MOVED-TO-AVM files
  modules/logic/workflow/MOVED-TO-AVM.md
  modules/logic/workflow/README.md
Labels: documentation

#4252 [Modules] Follow-Up-To: Added Azure Key Vault key management service settings to Security profile
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/agent-pool/main.json
  modules/container-service/managed-cluster/main.bicep
  modules/container-service/managed-cluster/main.json
  modules/container-service/managed-cluster/tests/e2e/azure/dependencies.bicep
  modules/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
  modules/container-service/managed-cluster/tests/e2e/priv/dependencies.bicep
  modules/container-service/managed-cluster/tests/e2e/priv/main.test.bicep
  utilities/pipelines/staticValidation/module.tests.ps1
Labels: enhancement, [cat] modules

#4212 [Modules] Added itempotency to tests [3/5]
  modules/key-vault/vault/main.json
  modules/key-vault/vault/tests/e2e/accesspolicies/main.test.bicep
  modules/key-vault/vault/tests/e2e/defaults/main.test.bicep
  modules/key-vault/vault/tests/e2e/max/main.test.bicep
  modules/key-vault/vault/tests/e2e/pe/main.test.bicep
  modules/key-vault/vault/tests/e2e/waf-aligned/main.test.bicep
  modules/kubernetes-configuration/extension/main.json
  modules/kubernetes-configuration/extension/tests/e2e/defaults/main.test.bicep
  modules/kubernetes-configuration/extension/tests/e2e/max/main.test.bicep
  modules/kubernetes-configuration/extension/tests/e2e/waf-aligned/main.test.bicep
  modules/kubernetes-configuration/flux-configuration/main.json
  modules/kubernetes-configuration/flux-configuration/tests/e2e/defaults/main.test.bicep
  modules/kubernetes-configuration/flux-configuration/tests/e2e/max/main.test.bicep
  modules/kubernetes-configuration/flux-configuration/tests/e2e/waf-aligned/main.test.bicep
  modules/logic/workflow/tests/e2e/max/main.test.bicep
  modules/logic/workflow/tests/e2e/waf-aligned/main.test.bicep
  modules/maintenance/maintenance-configuration/main.json
  modules/maintenance/maintenance-configuration/tests/e2e/defaults/main.test.bicep
  modules/maintenance/maintenance-configuration/tests/e2e/max/main.test.bicep
  modules/maintenance/maintenance-configuration/tests/e2e/waf-aligned/main.test.bicep
  modules/managed-identity/user-assigned-identity/main.json
  modules/managed-identity/user-assigned-identity/tests/e2e/defaults/main.test.bicep
  modules/managed-identity/user-assigned-identity/tests/e2e/max/main.test.bicep
  modules/managed-identity/user-assigned-identity/tests/e2e/waf-aligned/main.test.bicep
  modules/managed-services/registration-definition/main.json
  modules/managed-services/registration-definition/tests/e2e/max/main.test.bicep
  modules/managed-services/registration-definition/tests/e2e/rg/main.test.bicep
  modules/managed-services/registration-definition/tests/e2e/waf-aligned/main.test.bicep
  modules/management/management-group/main.json
  modules/management/management-group/tests/e2e/defaults/main.test.bicep
  modules/management/management-group/tests/e2e/max/main.test.bicep
  modules/management/management-group/tests/e2e/waf-aligned/main.test.bicep
Labels: [cat] modules, [cat] testing

#4261 [Fixes] Regenerated docs via WSL to resolve static tests issue
  modules/app/job/README.md
  modules/app/job/tests/e2e/max/main.test.bicep
  modules/app/job/tests/e2e/waf-aligned/main.test.bicep
  modules/network/virtual-network/main.json
  modules/network/virtual-network/subnet/README.md
  modules/network/virtual-network/subnet/main.json
  modules/network/virtual-network/virtual-network-peering/main.json
Labels: bug, [cat] modules

#4262 [Fixes] Address BlobServices linter warning
  modules/storage/storage-account/blob-service/README.md
  modules/storage/storage-account/blob-service/container/immutability-policy/main.json
  modules/storage/storage-account/blob-service/container/main.json
  modules/storage/storage-account/blob-service/main.bicep
  modules/storage/storage-account/blob-service/main.json
  modules/storage/storage-account/file-service/main.json
  modules/storage/storage-account/file-service/share/main.json
  modules/storage/storage-account/local-user/main.json
  modules/storage/storage-account/main.bicep
  modules/storage/storage-account/main.json
  modules/storage/storage-account/management-policy/main.json
  modules/storage/storage-account/queue-service/main.json
  modules/storage/storage-account/queue-service/queue/main.json
  modules/storage/storage-account/table-service/main.json
  modules/storage/storage-account/table-service/table/main.json
Labels: bug, [cat] modules

#4142 The current version of flux configuration 2022-03-01 doesn't add Postbuild substitution variables
  modules/kubernetes-configuration/extension/tests/e2e/max/main.test.bicep
  modules/kubernetes-configuration/extension/tests/e2e/waf-aligned/main.test.bicep
  modules/kubernetes-configuration/flux-configuration/README.md
  modules/kubernetes-configuration/flux-configuration/main.bicep
  modules/kubernetes-configuration/flux-configuration/main.json
  modules/kubernetes-configuration/flux-configuration/tests/e2e/defaults/main.test.bicep
Labels: enhancement, [cat] modules

#4277 [Fixed] Updated missing module for role assignments
  modules/analysis-services/server/main.bicep
  modules/analysis-services/server/main.json
Labels: bug, [cat] modules

#4276 [Modules] Added Moved-to-Avm file to ExpressRouteGW
  modules/network/express-route-gateway/MOVED-TO-AVM.MD
  modules/network/express-route-gateway/README.md
Labels: enhancement

#4275 [Modules] Added Moved-to-Avm file to ExpressRoute Circuit
  modules/network/express-route-circuit/MOVED-TO-AVM.MD
  modules/network/express-route-circuit/README.md
Labels: enhancement

#4283 [Fixes] Fixes on 2 Network modules with outdated readmes
  modules/network/express-route-circuit/README.md
  modules/network/express-route-gateway/README.md
Labels: bug, documentation, [cat] modules

#4273 [CI Environment] Updated test cases & added performance improvements
  .azuredevops/pipelineTemplates/jobs.getModuleTestFiles.yml
  .github/actions/templates/getModuleTestFiles/action.yml
  utilities/pipelines/sharedScripts/Get-ModuleTestFileList.ps1
  utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  utilities/pipelines/staticValidation/helper/helper.psm1
  utilities/pipelines/staticValidation/module.tests.ps1
Labels: enhancement, [cat] testing

#4241 [New Feature] Add WhatIf feature to Test module locally script
  utilities/pipelines/resourceDeployment/Get-TemplateDeploymenWhatIf.ps1
  utilities/tools/Test-ModuleLocally.ps1
Labels: enhancement, [cat] utilities

#4308 [Utilities] Updated WhatIf feature to AVM changes
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/helper/Get-TemplateDeploymentWhatIf.ps1
Labels: bug, enhancement, [cat] utilities
