Repository Azure/ResourceModules, pull requests merged in 2023-05, with the labels that each got.

#3036 [Modules] Virtual Machine module: adding support for a custom computer name
  modules/Microsoft.Compute/virtualMachines/.test/linux/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
Labels: enhancement, [cat] modules

#2835 [Modules] Added support for ExpressRoute circuit authorization code
  modules/Microsoft.Network/connections/deploy.bicep
Labels: enhancement, [cat] modules, wait for author

#2825 [Modules] Synapse workspaces Added support for `resourceId` #2613
  modules/Microsoft.Synapse/workspaces/.test/common/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/common/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwsai/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwsai/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwuai/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwuai/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/managedvnet/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/managedvnet/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/min/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/min/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/deploy.bicep
  modules/Microsoft.Synapse/workspaces/readme.md
Labels: enhancement, [cat] modules, wait for author

#3164 [Modules] Synapse workspaces Added support for resourceId
  modules/Microsoft.Synapse/workspaces/.test/common/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/common/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwsai/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwsai/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwuai/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/encrwuai/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/managedvnet/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/managedvnet/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/.test/min/dependencies.bicep
  modules/Microsoft.Synapse/workspaces/.test/min/deploy.test.bicep
  modules/Microsoft.Synapse/workspaces/deploy.bicep
  modules/Microsoft.Synapse/workspaces/readme.md
Labels: enhancement, [cat] modules

#3197 [Fixes] Addressed latest name changes in module table generation script
  README.md
  modules/README.md
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Labels: bug, documentation, [cat] utilities

#3199 [Modules] Correct max length of Application Gateway name
  modules/Network/applicationGateways/main.bicep
Labels: bug, [cat] modules

#3169 [Fixes] Fixed the description of 2 parameters
  modules/ApiManagement/service/namedValues/README.md
  modules/ApiManagement/service/namedValues/main.bicep
  modules/KeyVault/vaults/README.md
  modules/KeyVault/vaults/main.bicep
  modules/ServiceFabric/clusters/applicationTypes/README.md
  modules/ServiceFabric/clusters/applicationTypes/main.bicep
Labels: bug, [cat] modules

#3194 [Modules] New module for Synapse workspace Integration Runtime
  modules/Synapse/workspaces/.test/common/main.test.bicep
  modules/Synapse/workspaces/README.md
  modules/Synapse/workspaces/integrationRuntimes/README.md
  modules/Synapse/workspaces/integrationRuntimes/main.bicep
  modules/Synapse/workspaces/integrationRuntimes/version.json
  modules/Synapse/workspaces/main.bicep
Labels: enhancement, [cat] modules

#3259 [Modules] Cognitive Services accounts - CMK fix + API update
  modules/CognitiveServices/accounts/.bicep/nested_roleAssignments.bicep
  modules/CognitiveServices/accounts/.test/common/main.test.bicep
  modules/CognitiveServices/accounts/.test/encr/main.test.bicep
  modules/CognitiveServices/accounts/.test/min/main.test.bicep
  modules/CognitiveServices/accounts/.test/speech/main.test.bicep
  modules/CognitiveServices/accounts/README.md
  modules/CognitiveServices/accounts/main.bicep
Labels: [cat] modules

#3277 [Modules] Add AppInsights Diagnostic Settings
  modules/insights/components/.test/common/dependencies.bicep
  modules/insights/components/.test/common/main.test.bicep
  modules/insights/components/README.md
  modules/insights/components/main.bicep
Labels: enhancement, [cat] modules

#3286 [Wiki] Added prerequisites section
  docs/wiki/Getting started - Prerequisites.md
  docs/wiki/Getting started.md
  docs/wiki/Home.md
  docs/wiki/_Sidebar.md
Labels: documentation
