Repository Azure/ResourceModules, pull requests merged in 2023-07, with the labels that each got.

#3384 [CI Environment] Introduced a test that tests that a `main.json` exists and is aligned with the latest `main.bicep`
  modules/compute/availability-sets/README.md
  modules/compute/availability-sets/main.bicep
  modules/compute/availability-sets/main.json
  modules/compute/galleries/images/README.md
  modules/compute/galleries/images/main.bicep
  modules/compute/galleries/images/main.json
  modules/compute/galleries/main.json
  modules/data-protection/backup-vaults/backup-policies/main.json
  modules/data-protection/backup-vaults/main.json
  modules/event-hub/namespaces/authorization-rules/main.json
  modules/event-hub/namespaces/disaster-recovery-configs/main.json
  modules/event-hub/namespaces/eventhubs/authorization-rules/main.json
  modules/event-hub/namespaces/eventhubs/consumergroups/main.json
  modules/event-hub/namespaces/eventhubs/main.json
  modules/event-hub/namespaces/main.json
  modules/event-hub/namespaces/network-rule-sets/main.json
  modules/net-app/net-app-accounts/main.json
  modules/network/dns-resolvers/main.json
  modules/network/nat-gateways/main.json
  modules/storage/storage-accounts/file-services/main.json
  modules/storage/storage-accounts/file-services/shares/main.json
  modules/storage/storage-accounts/main.json
  modules/virtual-machine-images/image-templates/README.md
  modules/virtual-machine-images/image-templates/main.bicep
  modules/virtual-machine-images/image-templates/main.json
  modules/web/sites/README.md
  modules/web/sites/main.bicep
  modules/web/sites/main.json
  modules/web/sites/slots/README.md
  modules/web/sites/slots/main.bicep
  modules/web/sites/slots/main.json
  utilities/pipelines/staticValidation/helper/helper.psm1
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/tools/Invoke-PipelinesForBranch.ps1
Labels: enhancement, [cat] testing, [cat] utilities

#3398 [Fixes] DBforMySQL flexibleServers Readme update
  modules/db-for-my-sql/flexible-servers/README.md
  modules/db-for-my-sql/flexible-servers/databases/README.md
  modules/db-for-my-sql/flexible-servers/firewall-rules/README.md
Labels: documentation, [cat] modules, [cat] testing

#3399 [Modules] SqlMi - Enable purge protection on cmk dep kv
  modules/sql/managed-instances/.test/common/dependencies.bicep
  modules/sql/managed-instances/.test/common/main.test.bicep
Labels: bug, [cat] modules, [cat] testing

#3408 [Fixes] Fixed module overview table generation
  docs/wiki/The library - Module overview.md
  utilities/tools/Get-ModulesFeatureOutline.ps1
Labels: bug, documentation, [cat] pipelines

#3409 [Modules] Updated ServiceBus Namespace NetworkRuleSets Module - Fixed bug in variable object
  modules/service-bus/namespaces/.test/common/main.test.bicep
  modules/service-bus/namespaces/.test/encr/main.test.bicep
  modules/service-bus/namespaces/README.md
  modules/service-bus/namespaces/main.json
  modules/service-bus/namespaces/network-rule-sets/main.json
Labels: bug, [cat] modules

#3149 [Modules] Create module for Microsoft.Network/dnsForwardningRulesets
  .azuredevops/modulePipelines/ms.network.dnsforwardingrulesets.yml
  .github/workflows/ms.network.dnsforwardingrulesets.yml
  modules/network/dns-forwarding-rulesets/.bicep/nested_roleAssignments.bicep
  modules/network/dns-forwarding-rulesets/.test/common/dependencies.bicep
  modules/network/dns-forwarding-rulesets/.test/common/main.test.bicep
  modules/network/dns-forwarding-rulesets/.test/main.test.bicep
  modules/network/dns-forwarding-rulesets/.test/min/dependencies.bicep
  modules/network/dns-forwarding-rulesets/.test/min/main.test.bicep
  modules/network/dns-forwarding-rulesets/README.md
  modules/network/dns-forwarding-rulesets/forwarding-rules/README.md
  modules/network/dns-forwarding-rulesets/forwarding-rules/main.bicep
  modules/network/dns-forwarding-rulesets/forwarding-rules/main.json
  modules/network/dns-forwarding-rulesets/forwarding-rules/metadata.json
  modules/network/dns-forwarding-rulesets/forwarding-rules/version.json
  modules/network/dns-forwarding-rulesets/main.bicep
  modules/network/dns-forwarding-rulesets/main.json
  modules/network/dns-forwarding-rulesets/metadata.json
  modules/network/dns-forwarding-rulesets/version.json
  modules/network/dns-forwarding-rulesets/virtual-network-links/README.md
  modules/network/dns-forwarding-rulesets/virtual-network-links/main.bicep
  modules/network/dns-forwarding-rulesets/virtual-network-links/main.json
  modules/network/dns-forwarding-rulesets/virtual-network-links/metadata.json
  modules/network/dns-forwarding-rulesets/virtual-network-links/version.json
  settings.yml
Labels: [cat] modules

#3185 [Module] managedClusters - Add ingressProfile support for AKS
  modules/container-service/managed-clusters/.bicep/nested_roleAssignments.bicep
  modules/container-service/managed-clusters/.test/azure/dependencies.bicep
  modules/container-service/managed-clusters/.test/azure/main.test.bicep
  modules/container-service/managed-clusters/.test/kubenet/dependencies.bicep
  modules/container-service/managed-clusters/.test/kubenet/main.test.bicep
  modules/container-service/managed-clusters/.test/min/main.test.bicep
  modules/container-service/managed-clusters/README.md
  modules/container-service/managed-clusters/agent-pools/README.md
  modules/container-service/managed-clusters/agent-pools/main.bicep
  modules/container-service/managed-clusters/agent-pools/main.json
  modules/container-service/managed-clusters/main.bicep
  modules/container-service/managed-clusters/main.json
Labels: enhancement, [cat] modules, wait for author

#3443 [Modules] Fixed EventHub role assignment naming issues
  modules/event-hub/namespaces/.test/common/main.test.bicep
  modules/event-hub/namespaces/README.md
  modules/event-hub/namespaces/eventhubs/.bicep/nested_roleAssignments.bicep
  modules/event-hub/namespaces/eventhubs/main.json
  modules/event-hub/namespaces/main.json
Labels: [cat] modules

#3421 [Modules] Fixed globalConfiguration property logic for v1 appGw
  modules/network/application-gateways/main.bicep
  modules/network/application-gateways/main.json
Labels: bug, [cat] modules

#3407 [CI Environment] Update the module table generation
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  .github/workflows/platform.updateReadMe.yml
  modules/README.md
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
  utilities/tools/helper/Get-SpecsAlignedResourceName.ps1
Labels: documentation, enhancement, [cat] utilities

#3413 [Modules] Simplified DNS Forwarding Rule Input Parameter
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .github/actions/templates/validateModulePester/action.yml
  modules/network/dns-forwarding-rulesets/.test/common/main.test.bicep
  modules/network/dns-forwarding-rulesets/.test/min/main.test.bicep
  modules/network/dns-forwarding-rulesets/README.md
  modules/network/dns-forwarding-rulesets/main.bicep
  modules/network/dns-forwarding-rulesets/main.json
  utilities/pipelines/sharedScripts/Add-YamlListToFile.ps1
Labels: enhancement, [cat] modules

#3464 [CI Environment] Fixed Pester test result output table
  utilities/pipelines/staticValidation/Set-PesterGitHubOutput.ps1
Labels: [cat] testing, [cat] github

#3466 [Fixes] Virtual Hubs readme regen
  modules/network/virtual-hubs/hub-route-tables/README.md
  modules/network/virtual-hubs/hub-virtual-network-connections/README.md
Labels: bug, documentation, [cat] modules
