Repository Azure/ResourceModules, pull requests merged in 2023-06, with the labels that each got.

#3287 [CI Environment] Moved pipeline badges
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  .github/workflows/platform.updateReadMe.yml
  utilities/tools/Get-ModulesFeatureOutline.ps1
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
  utilities/tools/helper/Get-PipelineStatusUrl.ps1
  utilities/tools/platform/Set-ModuleOverviewTable.ps1
Labels: documentation, enhancement, [cat] utilities

#3329 [Modules] fixed telemetry default value
  modules/app/container-apps/README.md
  modules/app/container-apps/main.bicep
  modules/db-for-my-sql/flexible-servers/README.md
  modules/db-for-my-sql/flexible-servers/main.bicep
  modules/db-for-postgre-sql/flexible-servers/README.md
  modules/db-for-postgre-sql/flexible-servers/main.bicep
  modules/synapse/workspaces/keys/README.md
  modules/synapse/workspaces/keys/main.bicep
Labels: enhancement, [cat] modules

#3328 [Modules] Update Api Versions
  modules/insights/action-groups/.bicep/nested_roleAssignments.bicep
  modules/insights/action-groups/README.md
  modules/insights/action-groups/main.bicep
  modules/net-app/net-app-accounts/.bicep/nested_roleAssignments.bicep
  modules/net-app/net-app-accounts/README.md
  modules/net-app/net-app-accounts/capacity-pools/README.md
  modules/net-app/net-app-accounts/capacity-pools/main.bicep
  modules/net-app/net-app-accounts/capacity-pools/volumes/README.md
  modules/net-app/net-app-accounts/capacity-pools/volumes/main.bicep
  modules/net-app/net-app-accounts/main.bicep
  modules/network/virtual-hubs/README.md
  modules/network/virtual-hubs/hub-route-tables/README.md
  modules/network/virtual-hubs/hub-route-tables/main.bicep
  modules/network/virtual-hubs/hub-virtual-network-connections/README.md
  modules/network/virtual-hubs/hub-virtual-network-connections/main.bicep
  modules/network/virtual-hubs/main.bicep
Labels: [cat] modules

#3343 [Modules] Updated Healthbot Module to latest API version and added support for user identities
  modules/health-bot/health-bots/.bicep/nested_roleAssignments.bicep
  modules/health-bot/health-bots/.test/common/dependencies.bicep
  modules/health-bot/health-bots/.test/common/main.test.bicep
  modules/health-bot/health-bots/.test/min/main.test.bicep
  modules/health-bot/health-bots/README.md
  modules/health-bot/health-bots/main.bicep
Labels: bug, [cat] modules

#3340 [Modules] Fixing issue where ASE subsequent deployments fail after initial successful one
  modules/web/hosting-environments/main.bicep
Labels: bug, [cat] modules

#3345 [Modules] Added support for Capacity Reservation for the Log Analytics Workspace Module
  modules/operational-insights/workspaces/README.md
  modules/operational-insights/workspaces/main.bicep
Labels: enhancement, [cat] modules

#3344 [Modules] Restored Document DB Readme after recent wider Readme updates
  modules/document-db/database-accounts/README.md
Labels: bug, [cat] modules

#3348 [Wiki] Update Getting started - Scenario 1 Consume library.md
  docs/wiki/Getting started - Scenario 1 Consume library.md
Labels: documentation, enhancement

#3266 [Modules] API Management allowed values update
  modules/api-management/service/apis/README.md
  modules/api-management/service/apis/main.bicep
Labels: enhancement, [cat] modules

#3357 [Modules] Update Event Grid Module - Fix typo, not checking on loop-item
  modules/event-grid/system-topics/main.bicep
Labels: bug, [cat] modules

#3358 [Modules] Updated Service Endpoints Policy Module - Follow up
  modules/network/service-endpoint-policies/.test/common/dependencies.bicep
  modules/network/service-endpoint-policies/.test/common/main.test.bicep
  modules/network/service-endpoint-policies/.test/min/main.test.bicep
  modules/network/service-endpoint-policies/README.md
  modules/network/service-endpoint-policies/main.bicep
Labels: bug, [cat] modules

#3370 [Modules] Updated Relay Namespace Module to align with new Bicep Test file changes
  modules/relay/namespaces/.test/common/main.test.bicep
  modules/relay/namespaces/.test/main.test.bicep
  modules/relay/namespaces/.test/min/main.test.bicep
  modules/relay/namespaces/.test/pe/main.test.bicep
Labels: bug, [cat] modules

#3371 [Modules] Updated Data Protection Backup Vaults Module API Version
  modules/data-protection/backup-vaults/.bicep/nested_roleAssignments.bicep
  modules/data-protection/backup-vaults/.test/common/main.test.bicep
  modules/data-protection/backup-vaults/README.md
  modules/data-protection/backup-vaults/backup-policies/README.md
  modules/data-protection/backup-vaults/backup-policies/main.bicep
  modules/data-protection/backup-vaults/main.bicep
Labels: bug, enhancement, [cat] modules

#3347 [Modules] Updated NFS Accounts Module to support User Assigned Identities
  modules/net-app/net-app-accounts/.test/nfs41/dependencies.bicep
  modules/net-app/net-app-accounts/.test/nfs41/main.test.bicep
  modules/net-app/net-app-accounts/README.md
  modules/net-app/net-app-accounts/main.bicep
Labels: enhancement, [cat] modules

#3352 [Modules] Updated Event Hubs Module to latest API version, and enabled new features
  modules/event-hub/namespaces/.test/common/main.test.bicep
  modules/event-hub/namespaces/.test/encr/dependencies.bicep
  modules/event-hub/namespaces/.test/encr/main.test.bicep
  modules/event-hub/namespaces/.test/main.test.bicep
  modules/event-hub/namespaces/README.md
  modules/event-hub/namespaces/authorization-rules/README.md
  modules/event-hub/namespaces/authorization-rules/main.bicep
  modules/event-hub/namespaces/disaster-recovery-configs/README.md
  modules/event-hub/namespaces/disaster-recovery-configs/main.bicep
  modules/event-hub/namespaces/eventhubs/.bicep/nested_roleAssignments.bicep
  modules/event-hub/namespaces/eventhubs/README.md
  modules/event-hub/namespaces/eventhubs/authorization-rules/README.md
  modules/event-hub/namespaces/eventhubs/authorization-rules/main.bicep
  modules/event-hub/namespaces/eventhubs/consumergroups/README.md
  modules/event-hub/namespaces/eventhubs/consumergroups/main.bicep
  modules/event-hub/namespaces/eventhubs/main.bicep
  modules/event-hub/namespaces/main.bicep
  modules/event-hub/namespaces/network-rule-sets/README.md
  modules/event-hub/namespaces/network-rule-sets/main.bicep
Labels: enhancement, [cat] modules

#3380 [Fixes] Updated a "depends on" condtion on natgateway for pip address
  modules/network/nat-gateways/main.bicep
Labels: bug, [cat] modules

#3381 [Modules] Re-introduce `Deploy to Azure` button + adding missing `main.json` files
  .github/workflows/platform.updateReadMe.yml
  README.md
  modules/relay/namespaces/authorization-rules/main.json
  modules/relay/namespaces/hybrid-connections/authorization-rules/main.json
  modules/relay/namespaces/hybrid-connections/main.json
  modules/relay/namespaces/main.json
  modules/relay/namespaces/network-rule-sets/main.json
  modules/relay/namespaces/wcf-relays/authorization-rules/main.json
  modules/relay/namespaces/wcf-relays/main.json
  modules/web/sites/hybrid-connection-namespaces/relays/main.json
  modules/web/sites/slots/hybrid-connection-namespaces/relays/main.json
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Labels: documentation, enhancement

#3260 [Modules] Storage Accounts module - added 'accessTier' parameter for file shares
  modules/storage/storage-accounts/.test/common/main.test.bicep
  modules/storage/storage-accounts/README.md
  modules/storage/storage-accounts/file-services/main.bicep
  modules/storage/storage-accounts/file-services/shares/README.md
  modules/storage/storage-accounts/file-services/shares/main.bicep
Labels: enhancement, [cat] modules

#3388 [CI Environment] Re-Enabled PBR overwrite
  utilities/pipelines/resourcePublish/Publish-ModuleToPrivateBicepRegistry.ps1
Labels: bug, [cat] publishing
