Repository Azure/ResourceModules, pull requests merged in 2023-03, with the labels that each got.

#2845 [Modules] Update Container Instances API version and CMK implementation
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  modules/Microsoft.ContainerInstance/containerGroups/.test/encr/dependencies.bicep
  modules/Microsoft.ContainerInstance/containerGroups/.test/encr/deploy.test.bicep
  modules/Microsoft.ContainerInstance/containerGroups/deploy.bicep
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
Labels: bug, enhancement, [cat] modules

#2855 [Modules] Simplify roleAssignment implementation for Resource Group
  modules/Microsoft.Resources/resourceGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Resources/resourceGroups/deploy.bicep
Labels: [cat] modules

#2859 [Utilities] Enforce PS7.3 where required
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/helper/ConvertTo-OrderedHashtable.ps1
Labels: enhancement, [cat] utilities

#2862 [Modules] Reduced permissions of ML encr test
  modules/Microsoft.MachineLearningServices/workspaces/.test/encr/dependencies.bicep
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
Labels: enhancement, [cat] modules, [cat] testing

#2135 [Modules] New module Azure Digital Twins
  .azuredevops/modulePipelines/ms.digitaltwins.digitaltwinsinstances.yml
  .github/workflows/ms.digitaltwins.digitaltwinsinstances.yml
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/.test/deploy.parameters.json
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/deploy.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/readme.md
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/version.json
Labels: enhancement, [cat] modules, wait for author

#2696 [CI environment] Use GITHUB_TOKEN for manage issue platform pipeline
  .github/workflows/platform.ManageIssueForFailingPipelines.yml
Labels: enhancement, [cat] pipelines

#2875 [Modules] Updated SKU options and added generation parameter for VNET Gateways
  modules/Microsoft.Network/virtualNetworkGateways/.test/vpn/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
Labels: enhancement, [cat] modules

#2813 [Modules] Removed the paramerers of those properties that allow a single value only & updated docs
  docs/wiki/The library - Module design.md
  modules/Microsoft.KeyVault/vaults/accessPolicies/deploy.bicep
  modules/Microsoft.KeyVault/vaults/accessPolicies/readme.md
  modules/Microsoft.Resources/tags/resourceGroups/deploy.bicep
  modules/Microsoft.Resources/tags/resourceGroups/readme.md
  modules/Microsoft.Resources/tags/subscriptions/deploy.bicep
  modules/Microsoft.Resources/tags/subscriptions/readme.md
  modules/Microsoft.ServiceBus/namespaces/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/migrationConfigurations/deploy.bicep
  modules/Microsoft.ServiceBus/namespaces/migrationConfigurations/readme.md
  modules/Microsoft.Sql/managedInstances/administrators/deploy.bicep
  modules/Microsoft.Sql/managedInstances/administrators/readme.md
  modules/Microsoft.Sql/managedInstances/deploy.bicep
  modules/Microsoft.Sql/managedInstances/encryptionProtector/deploy.bicep
  modules/Microsoft.Sql/managedInstances/encryptionProtector/readme.md
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/readme.md
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/readme.md
  modules/Microsoft.Storage/storageAccounts/blobServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/readme.md
  modules/Microsoft.Storage/storageAccounts/managementPolicies/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/managementPolicies/readme.md
  modules/Microsoft.Storage/storageAccounts/queueServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/queueServices/queues/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/queueServices/queues/readme.md
  modules/Microsoft.Storage/storageAccounts/queueServices/readme.md
  modules/Microsoft.Storage/storageAccounts/tableServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/tableServices/readme.md
  modules/Microsoft.Storage/storageAccounts/tableServices/tables/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/tableServices/tables/readme.md
  modules/Microsoft.Web/sites/slots/config-appsettings/deploy.bicep
  modules/Microsoft.Web/sites/slots/config-authsettingsv2/deploy.bicep
Labels: enhancement, [cat] modules

#2689 [Modules] Reduced further module names to required minimum
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.Databricks/workspaces/readme.md
  modules/Microsoft.Insights/components/deploy.bicep
  modules/Microsoft.Insights/components/readme.md
  modules/Microsoft.Insights/dataCollectionRules/.test/customadv/deploy.test.bicep
  modules/Microsoft.Insights/dataCollectionRules/.test/custombasic/deploy.test.bicep
  modules/Microsoft.Insights/dataCollectionRules/.test/customiis/deploy.test.bicep
  modules/Microsoft.Insights/dataCollectionRules/.test/linux/deploy.test.bicep
  modules/Microsoft.Insights/dataCollectionRules/.test/windows/deploy.test.bicep
  modules/Microsoft.Insights/dataCollectionRules/deploy.bicep
  modules/Microsoft.Insights/dataCollectionRules/readme.md
  modules/Microsoft.Network/azureFirewalls/.test/common/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/deploy.bicep
  modules/Microsoft.Network/azureFirewalls/readme.md
  modules/Microsoft.Network/bastionHosts/.test/common/deploy.test.bicep
  modules/Microsoft.Network/bastionHosts/.test/custompip/deploy.test.bicep
  modules/Microsoft.Network/bastionHosts/deploy.bicep
  modules/Microsoft.Network/bastionHosts/readme.md
  modules/Microsoft.Network/connections/.test/vnet2vnet/deploy.test.bicep
  modules/Microsoft.Network/connections/deploy.bicep
  modules/Microsoft.Network/connections/readme.md
  modules/Microsoft.Network/loadBalancers/.test/internal/deploy.test.bicep
  modules/Microsoft.Network/loadBalancers/deploy.bicep
  modules/Microsoft.Network/loadBalancers/readme.md
  modules/Microsoft.Network/virtualNetworkGateways/.test/aadvpn/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/expressRoute/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/vpn/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
  modules/Microsoft.Network/virtualNetworks/.test/vnetPeering/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworks/deploy.bicep
  modules/Microsoft.Network/virtualNetworks/readme.md
  modules/Microsoft.Web/connections/.test/common/deploy.test.bicep
  modules/Microsoft.Web/connections/deploy.bicep
  modules/Microsoft.Web/connections/readme.md
Labels: enhancement, [cat] modules

#2880 [Modules] managedClusters - Fix a bug for addonprofiles
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
Labels: bug, [cat] modules

#2887 [Modules] managedCluster - Add support for enabling Open Service Mesh
  modules/Microsoft.ContainerService/managedClusters/.test/azure/deploy.test.bicep
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
Labels: [cat] modules

#2890 [Wiki] Remove outdated upgrade release page
  docs/wiki/Home.md
  docs/wiki/Upgrade from 0.3.1 to 0.4.0.md
Labels: documentation, enhancement

#2985 [Fixes] Diskencryptionsets and Eventgridsubscriptions tags update
  modules/Microsoft.Compute/diskEncryptionSets/.test/accessPolicies/deploy.test.bicep
  modules/Microsoft.Compute/diskEncryptionSets/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/diskEncryptionSets/readme.md
  modules/Microsoft.EventGrid/eventSubscriptions/.test/common/deploy.test.bicep
  modules/Microsoft.EventGrid/eventSubscriptions/readme.md
Labels: bug, [cat] testing

#2986 [Fixes] Automation account schedule frequency update
  modules/Microsoft.Automation/automationAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Automation/automationAccounts/readme.md
Labels: bug, [cat] testing

#2987 [Fixes] Update tags signalRService RP
  modules/Microsoft.SignalRService/signalR/.test/common/deploy.test.bicep
  modules/Microsoft.SignalRService/signalR/readme.md
  modules/Microsoft.SignalRService/webPubSub/.test/common/deploy.test.bicep
  modules/Microsoft.SignalRService/webPubSub/readme.md
Labels: bug, [cat] testing

#2893 [Fixes] Storage Account Local User : Pass on correct parameter
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
Labels: bug, [cat] modules

#2989 [Modules] Update Azure NetApp Files API version
  modules/Microsoft.NetApp/netAppAccounts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/deploy.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/readme.md
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/volumes/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/volumes/deploy.bicep
  modules/Microsoft.NetApp/netAppAccounts/capacityPools/volumes/readme.md
  modules/Microsoft.NetApp/netAppAccounts/deploy.bicep
  modules/Microsoft.NetApp/netAppAccounts/readme.md
Labels: bug, enhancement, [cat] modules, [cat] testing

#3001 [Wiki] Added disclaimer/guidance on which version of the code to leverage
  README.md
Labels: documentation

#3008 [CI environment] Remove assign issue to project GH workflow
  .github/workflows/platform.assignIssueToProject.yml
Labels: enhancement, [cat] pipelines, [cat] organization

#2889 [Modules] Added test cases to Azure Firewall
  modules/Microsoft.Network/azureFirewalls/.test/hubcommon/dependencies.bicep
  modules/Microsoft.Network/azureFirewalls/.test/hubcommon/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/.test/hubmin/dependencies.bicep
  modules/Microsoft.Network/azureFirewalls/.test/hubmin/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/readme.md
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: [cat] modules

#3026 [Fixes] Fixed a minor utility issue due to a parameter type change
  utilities/tools/Invoke-PipelinesForBranch.ps1
Labels: bug, [cat] utilities

#3030 [Modules] Updated Availability Sets Module to Latest API Version (2022-11-01)
  modules/Microsoft.Compute/availabilitySets/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/availabilitySets/deploy.bicep
  modules/Microsoft.Compute/availabilitySets/readme.md
Labels: bug, [cat] modules

#3034 [Modules] Updated Recovery Vault to latest API Version (2023-01-01)
  modules/Microsoft.RecoveryServices/vaults/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.RecoveryServices/vaults/backupConfig/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/backupConfig/readme.md
  modules/Microsoft.RecoveryServices/vaults/backupPolicies/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/backupPolicies/readme.md
  modules/Microsoft.RecoveryServices/vaults/backupStorageConfig/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/backupStorageConfig/readme.md
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/protectionContainers/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/readme.md
  modules/Microsoft.RecoveryServices/vaults/protectionContainers/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.RecoveryServices/vaults/replicationAlertSettings/deploy.bicep
Labels: bug, [cat] modules

#3031 [Modules] Updated SKU for the Managed Environment Test
  modules/Microsoft.App/managedEnvironments/.test/common/deploy.test.bicep
  modules/Microsoft.App/managedEnvironments/readme.md
Labels: bug, [cat] modules

#3033 [Modules] Updated VMSS Module to the latest API Version (2022-11-01)
  modules/Microsoft.Compute/virtualMachineScaleSets/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/extensions/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/extensions/readme.md
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
Labels: bug, [cat] modules

#3043 [Wiki] Added a PowerShell script example to frontload all supported publish locations with all modules
  docs/wiki/Getting started - Scenario 1 Consume library.md
Labels: documentation, enhancement

#3028 [Modules] StorageAccounts - new feature - sasPolicy
  modules/Microsoft.Storage/storageAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: enhancement, [cat] modules

#3045 [Modules] Deployment Script module: adding support for using existing storage account
  modules/Microsoft.Resources/deploymentScripts/.test/cli/dependencies.bicep
  modules/Microsoft.Resources/deploymentScripts/.test/cli/deploy.test.bicep
  modules/Microsoft.Resources/deploymentScripts/.test/ps/dependencies.bicep
  modules/Microsoft.Resources/deploymentScripts/.test/ps/deploy.test.bicep
  modules/Microsoft.Resources/deploymentScripts/deploy.bicep
  modules/Microsoft.Resources/deploymentScripts/readme.md
Labels: enhancement, [cat] modules

#2976 [Modules] Reduce parameter names to necessary baseline
  modules/Microsoft.Network/natGateways/deploy.bicep
  modules/Microsoft.Network/natGateways/readme.md
  modules/Microsoft.OperationalInsights/workspaces/.test/adv/deploy.test.bicep
  modules/Microsoft.OperationalInsights/workspaces/.test/common/deploy.test.bicep
  modules/Microsoft.OperationalInsights/workspaces/deploy.bicep
  modules/Microsoft.OperationalInsights/workspaces/readme.md
  modules/Microsoft.OperationalInsights/workspaces/storageInsightConfigs/deploy.bicep
  modules/Microsoft.OperationalInsights/workspaces/storageInsightConfigs/readme.md
  modules/Microsoft.RecoveryServices/vaults/backupPolicies/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/backupPolicies/readme.md
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.Sql/managedInstances/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/managedInstances/deploy.bicep
  modules/Microsoft.Sql/managedInstances/readme.md
  modules/Microsoft.Sql/managedInstances/vulnerabilityAssessments/deploy.bicep
  modules/Microsoft.Sql/managedInstances/vulnerabilityAssessments/readme.md
  modules/Microsoft.Sql/servers/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Sql/servers/vulnerabilityAssessments/deploy.bicep
  modules/Microsoft.Sql/servers/vulnerabilityAssessments/readme.md
  modules/Microsoft.Storage/storageAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/.test/encr/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/.test/nfs/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/.test/v1/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Web/sites/.test/functionAppCommon/deploy.test.bicep
  modules/Microsoft.Web/sites/config-appsettings/deploy.bicep
  modules/Microsoft.Web/sites/config-appsettings/readme.md
  modules/Microsoft.Web/sites/deploy.bicep
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/sites/slots/config-appsettings/deploy.bicep
  modules/Microsoft.Web/sites/slots/config-appsettings/readme.md
  modules/Microsoft.Web/sites/slots/deploy.bicep
  modules/Microsoft.Web/sites/slots/readme.md
Labels: enhancement, [cat] modules

#3054 [CI Environment] CODEOWNERS - Fix codeowners based on team rename
  .github/CODEOWNERS
Labels: bug, [cat] github

#3058 [Modules] Updated Automation Account to latest API Version (2022-08-08), fixed Variables value bug
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/jobSchedules/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/jobSchedules/readme.md
  modules/Microsoft.Automation/automationAccounts/modules/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/modules/readme.md
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Automation/automationAccounts/runbooks/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/runbooks/readme.md
  modules/Microsoft.Automation/automationAccounts/schedules/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/schedules/readme.md
  modules/Microsoft.Automation/automationAccounts/softwareUpdateConfigurations/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/variables/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/variables/readme.md
Labels: bug, [cat] modules

#3025 [Modules] Added SQL Protector for SQL Server
  modules/Microsoft.Sql/servers/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/encryptionProtector/deploy.bicep
  modules/Microsoft.Sql/servers/encryptionProtector/readme.md
  modules/Microsoft.Sql/servers/encryptionProtector/version.json
  modules/Microsoft.Sql/servers/readme.md
Labels: enhancement, [cat] modules

#3069 [Modules] Updated Deployment script environment variables parameter and added support for outputs
  modules/Microsoft.Resources/deploymentScripts/.test/cli/deploy.test.bicep
  modules/Microsoft.Resources/deploymentScripts/deploy.bicep
  modules/Microsoft.Resources/deploymentScripts/readme.md
Labels: bug, enhancement, [cat] modules
