Repository Azure/ResourceModules, pull requests merged in 2023-01, with the labels that each got.

#2521 [Pipelines] Updated to latest AzureAPICrawler module version
  .azuredevops/platformPipelines/platform.apiSpecs.yml
  .github/workflows/platform.apiSpecs.yml
  utilities/src/apiSpecsList.json
  utilities/tools/platform/Set-ApiSpecsFile.ps1
Labels: [cat] pipelines

#2508 [Modules] Microsoft.Compute/VirtualMachines - New Feature - Configured AADJoin Extension
  constructs/Microsoft.Compute/virtualMachinesMultiple/deploy.bicep
  constructs/Microsoft.Compute/virtualMachinesMultiple/readme.md
  modules/Microsoft.Compute/virtualMachines/.test/linux.atmg/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux.min/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/linux/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.atmg/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.min/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows.ssecmk/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/deploy.bicep
Labels: enhancement, [cat] modules

#2522 [Fixes] Update scheduled job to only run on branch 'main/master'
  .github/workflows/platform.apiSpecs.yml
Labels: bug, [cat] pipelines

#2491 [Modules]: Updating API Version on Consumption Budgets for Static Validation
  modules/Microsoft.Consumption/budgets/deploy.bicep
  modules/Microsoft.Consumption/budgets/readme.md
  utilities/src/apiSpecsList.json
Labels: [cat] modules

#2527 [Fixes] Fixed VNET Peering test
  modules/Microsoft.Network/virtualNetworks/.test/vnetPeering/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworks/readme.md
Labels: bug, [cat] modules

#2529 [Modules] Updated Azure Policy Definitions - mode to support 'Microsoft.Network.Data'
  modules/Microsoft.Authorization/policyDefinitions/deploy.bicep
  modules/Microsoft.Authorization/policyDefinitions/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/policyDefinitions/managementGroup/readme.md
  modules/Microsoft.Authorization/policyDefinitions/readme.md
  modules/Microsoft.Authorization/policyDefinitions/subscription/deploy.bicep
  modules/Microsoft.Authorization/policyDefinitions/subscription/readme.md
Labels: enhancement, [cat] modules

#2528 [Modules] Update Azure Policy Assignment Module API to '2022-06-01', enabling the Resource Selectors and Overrides
  modules/Microsoft.Authorization/policyAssignments/.test/mg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/rg.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/.test/sub.common/deploy.test.bicep
  modules/Microsoft.Authorization/policyAssignments/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/managementGroup/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/managementGroup/readme.md
  modules/Microsoft.Authorization/policyAssignments/readme.md
  modules/Microsoft.Authorization/policyAssignments/resourceGroup/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/resourceGroup/readme.md
  modules/Microsoft.Authorization/policyAssignments/subscription/deploy.bicep
  modules/Microsoft.Authorization/policyAssignments/subscription/readme.md
Labels: enhancement, [cat] modules

#2530 [Modules]: Microsoft.RecoveryServices - Param and Readme fix failing pipeline
  modules/Microsoft.RecoveryServices/vaults/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/readme.md
Labels: bug, [cat] modules

#2510 [Modules] VirtualMachineImages/Images template - adding named Staging Resource Group VM User-Assigned Ids and SIG Image parameters
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/common/dependencies.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/common/deploy.test.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/min/dependencies.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/.test/min/deploy.test.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/deploy.bicep
  modules/Microsoft.VirtualMachineImages/imageTemplates/readme.md
Labels: enhancement, [cat] modules

#2507 [Modules] Microsoft.compute/galleries/images - New Feature - SecurityType property
  modules/Microsoft.Compute/galleries/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/galleries/.test/images/dependencies.bicep
  modules/Microsoft.Compute/galleries/.test/images/deploy.test.bicep
  modules/Microsoft.Compute/galleries/deploy.bicep
  modules/Microsoft.Compute/galleries/images/deploy.bicep
  modules/Microsoft.Compute/galleries/images/readme.md
  modules/Microsoft.Compute/galleries/readme.md
Labels: enhancement, [cat] modules

#2534 [Fixes] Update ML workspaces parameter description and readme
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
Labels: bug, [cat] modules, [cat] testing

#2535 [Modules] Update galleries readme and add min test
  modules/Microsoft.Compute/galleries/images/readme.md
Labels: bug, enhancement, [cat] modules, [cat] testing

#2395 [Modules] Connect Azure Firewall to a VirtualHub
  modules/Microsoft.Network/azureFirewalls/.test/hub/dependencies.bicep
  modules/Microsoft.Network/azureFirewalls/.test/hub/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/deploy.bicep
  modules/Microsoft.Network/azureFirewalls/readme.md
  modules/Microsoft.Network/virtualHubs/deploy.bicep
  modules/Microsoft.Network/virtualHubs/readme.md
Labels: bug, [cat] modules

#2545 [Modules] : New module Microsoft.EventGrid domains
  .azuredevops/modulePipelines/ms.eventgrid.domains.yml
  .github/workflows/ms.eventgrid.domains.yml
  modules/Microsoft.EventGrid/domains/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.EventGrid/domains/.test/common/dependencies.bicep
  modules/Microsoft.EventGrid/domains/.test/common/deploy.test.bicep
  modules/Microsoft.EventGrid/domains/.test/min/deploy.test.bicep
  modules/Microsoft.EventGrid/domains/.test/pe/dependencies.bicep
  modules/Microsoft.EventGrid/domains/.test/pe/deploy.test.bicep
  modules/Microsoft.EventGrid/domains/deploy.bicep
  modules/Microsoft.EventGrid/domains/readme.md
  modules/Microsoft.EventGrid/domains/version.json
Labels: [cat] modules

#2549 [Modules] Fix Machine Learning Workspaces SKU Type and update API version to "2022-10-01"
  modules/Microsoft.MachineLearningServices/workspaces/.test/common/deploy.test.bicep
  modules/Microsoft.MachineLearningServices/workspaces/computes/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/computes/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/deploy.bicep
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
Labels: bug, [cat] modules

#2487 [Modules]: Adding Microsoft.CDN Modules
  .azuredevops/modulePipelines/ms.cdn.profiles.yml
  .github/workflows/ms.cdn.profiles.yml
  modules/Microsoft.CDN/profiles/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.CDN/profiles/.test/common/dependencies.bicep
  modules/Microsoft.CDN/profiles/.test/common/deploy.test.bicep
  modules/Microsoft.CDN/profiles/deploy.bicep
  modules/Microsoft.CDN/profiles/endpoints/deploy.bicep
  modules/Microsoft.CDN/profiles/endpoints/origins/deploy.bicep
  modules/Microsoft.CDN/profiles/endpoints/origins/readme.md
  modules/Microsoft.CDN/profiles/endpoints/origins/version.json
  modules/Microsoft.CDN/profiles/endpoints/readme.md
  modules/Microsoft.CDN/profiles/endpoints/version.json
  modules/Microsoft.CDN/profiles/readme.md
  modules/Microsoft.CDN/profiles/version.json
Labels: [cat] modules

#1554 [Modules] Added CMK implementation to Container Instances module & fixed default ports parameter
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  modules/Microsoft.ContainerInstance/containerGroups/.test/encr/dependencies.bicep
  modules/Microsoft.ContainerInstance/containerGroups/.test/encr/deploy.test.bicep
  modules/Microsoft.ContainerInstance/containerGroups/deploy.bicep
  modules/Microsoft.ContainerInstance/containerGroups/readme.md
Labels: documentation, enhancement, [cat] modules

#2515 [Modules] Azure Virtual Network Manager Module (API Version: 2022-07-01)
  .azuredevops/modulePipelines/ms.network.networkmanagers.yml
  .github/workflows/ms.network.networkmanagers.yml
  modules/Microsoft.Network/networkManagers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/networkManagers/.test/common/dependencies.bicep
  modules/Microsoft.Network/networkManagers/.test/common/deploy.test.bicep
  modules/Microsoft.Network/networkManagers/.test/min/deploy.test.bicep
  modules/Microsoft.Network/networkManagers/connectivityConfigurations/deploy.bicep
  modules/Microsoft.Network/networkManagers/connectivityConfigurations/readme.md
  modules/Microsoft.Network/networkManagers/connectivityConfigurations/version.json
  modules/Microsoft.Network/networkManagers/deploy.bicep
  modules/Microsoft.Network/networkManagers/networkGroups/deploy.bicep
  modules/Microsoft.Network/networkManagers/networkGroups/readme.md
  modules/Microsoft.Network/networkManagers/networkGroups/staticMembers/deploy.bicep
  modules/Microsoft.Network/networkManagers/networkGroups/staticMembers/readme.md
  modules/Microsoft.Network/networkManagers/networkGroups/staticMembers/version.json
  modules/Microsoft.Network/networkManagers/networkGroups/version.json
  modules/Microsoft.Network/networkManagers/readme.md
  modules/Microsoft.Network/networkManagers/scopeConnections/deploy.bicep
  modules/Microsoft.Network/networkManagers/scopeConnections/readme.md
  modules/Microsoft.Network/networkManagers/scopeConnections/version.json
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/deploy.bicep
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/readme.md
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/ruleCollections/deploy.bicep
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/ruleCollections/readme.md
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/ruleCollections/rules/deploy.bicep
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/ruleCollections/rules/readme.md
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/ruleCollections/rules/version.json
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/ruleCollections/version.json
  modules/Microsoft.Network/networkManagers/securityAdminConfigurations/version.json
  modules/Microsoft.Network/networkManagers/version.json
Labels: enhancement, [cat] modules

#2550 [Modules] Update Microsoft.DBforPostgreSQL API to '2022-12-01' and add support for data encryption using CMK
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/public/dependencies.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/.test/public/deploy.test.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/configurations/deploy.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/configurations/readme.md
  modules/Microsoft.DBforPostgreSQL/flexibleServers/databases/deploy.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/databases/readme.md
  modules/Microsoft.DBforPostgreSQL/flexibleServers/deploy.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/firewallRules/deploy.bicep
  modules/Microsoft.DBforPostgreSQL/flexibleServers/firewallRules/readme.md
  modules/Microsoft.DBforPostgreSQL/flexibleServers/readme.md
Labels: bug, enhancement, [cat] modules

#2552 Fix Virtual Hubs Pipeline
  modules/Microsoft.Network/virtualHubs/readme.md
Labels: bug, [cat] modules

#2554 [Modules] Microsoft.Cdn - Fixing Descriptions for Pipeline Validation
  modules/Microsoft.CDN/profiles/.test/common/deploy.test.bicep
  modules/Microsoft.CDN/profiles/endpoints/origins/deploy.bicep
  modules/Microsoft.CDN/profiles/endpoints/origins/readme.md
  modules/Microsoft.CDN/profiles/readme.md
Labels: bug, [cat] modules

#2556 Removed Minimum test from Network Manager and Updated Wiki
  docs/wiki/Known issues.md
  modules/Microsoft.Network/networkManagers/.test/min/deploy.test.bicep
  modules/Microsoft.Network/networkManagers/readme.md
Labels: bug, [cat] modules

#2563 [Fixed] Fixed typos in `deploy.test.bicep` parameter description
  modules/Microsoft.Compute/disks/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/disks/.test/image/deploy.test.bicep
  modules/Microsoft.Compute/disks/.test/import/deploy.test.bicep
  modules/Microsoft.Compute/disks/.test/min/deploy.test.bicep
  modules/Microsoft.Compute/images/.test/common/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/.test/hub/deploy.test.bicep
  modules/Microsoft.Network/azureFirewalls/.test/min/deploy.test.bicep
  modules/Microsoft.Resources/resourceGroups/.test/common/deploy.test.bicep
Labels: bug, [cat] testing

#2565 [Wiki] Updated docs recommendations & structure
  docs/wiki/The library - Module design.md
Labels: documentation, enhancement

#2569 [Fixes] Update link to code examples in module design Wiki
  docs/wiki/The library - Module design.md
Labels: documentation

#2560 [Wiki] Added initial version of troubleshooting guidance
  docs/wiki/Home.md
  docs/wiki/The CI environment - Troubleshooting.md
  docs/wiki/The CI environment.md
  docs/wiki/_Sidebar.md
Labels: documentation

#2558 [Fixes] Several small fixes for the Publishing logic
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromPrivateBicepRegistry.ps1
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromTemplateSpecsRG.ps1
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromUniversalArtifactsFeed.ps1
Labels: bug, [cat] pipelines

#2526 [Modules] Updated Web-Sites API Version & extended common test
  modules/Microsoft.Web/sites/.test/webAppCommon/deploy.test.bicep
  modules/Microsoft.Web/sites/.test/webAppSlots/dependencies.bicep
  modules/Microsoft.Web/sites/.test/webAppSlots/deploy.test.bicep
  modules/Microsoft.Web/sites/config-appsettings/deploy.bicep
  modules/Microsoft.Web/sites/config-appsettings/readme.md
  modules/Microsoft.Web/sites/config-authsettingsv2/deploy.bicep
  modules/Microsoft.Web/sites/config-authsettingsv2/readme.md
  modules/Microsoft.Web/sites/deploy.bicep
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/sites/slots/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Web/sites/slots/config-appsettings/deploy.bicep
  modules/Microsoft.Web/sites/slots/config-authsettingsv2/deploy.bicep
  modules/Microsoft.Web/sites/slots/deploy.bicep
  modules/Microsoft.Web/sites/slots/readme.md
Labels: enhancement, [cat] modules

#2574 [Fixes] `resourceGroupResources` leftover
  docs/wiki/The library - Module design.md
  modules/Microsoft.SignalRService/signalR/.test/common/deploy.test.bicep
  modules/Microsoft.Web/sites/.test/webAppCommon/deploy.test.bicep
Labels: bug, [cat] testing

#2580 [Modules] Storage account - Enable LargeFileShares feature
  modules/Microsoft.Storage/storageAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/fileServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/fileServices/shares/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/fileServices/shares/readme.md
  modules/Microsoft.Storage/storageAccounts/fileServices/shares/version.json
  modules/Microsoft.Storage/storageAccounts/fileServices/version.json
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Storage/storageAccounts/version.json
Labels: enhancement, [cat] modules

#2564 [Modules] Microsoft.EventGrid/Subscriptions - New Modules
  .azuredevops/modulePipelines/ms.eventgrid.eventsubscriptions.yml
  .github/workflows/ms.eventgrid.eventsubscriptions.yml
  modules/Microsoft.EventGrid/eventSubscriptions/.test/common/dependencies.bicep
  modules/Microsoft.EventGrid/eventSubscriptions/.test/common/deploy.test.bicep
  modules/Microsoft.EventGrid/eventSubscriptions/deploy.bicep
  modules/Microsoft.EventGrid/eventSubscriptions/readme.md
  modules/Microsoft.EventGrid/eventSubscriptions/version.json
  utilities/src/apiSpecsList.json
Labels: [cat] modules

#2588 [Modules] Update AVD Scaling Plans API Version
  modules/Microsoft.DesktopVirtualization/scalingplans/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.DesktopVirtualization/scalingplans/deploy.bicep
  modules/Microsoft.DesktopVirtualization/scalingplans/readme.md
Labels: bug, [cat] modules

#2582 [Fixes] Solve issue with WAF config in Application Gateway
  modules/Microsoft.Network/applicationGateways/deploy.bicep
Labels: bug, [cat] modules

#2593 [Fixes] Fixed minor readme issue & regenerated web sites
  modules/Microsoft.AppConfiguration/configurationStores/readme.md
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.EventGrid/domains/readme.md
  modules/Microsoft.EventGrid/systemTopics/readme.md
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.Network/privateEndpoints/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.SignalRService/signalR/readme.md
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Synapse/workspaces/readme.md
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/sites/slots/readme.md
  modules/Microsoft.Web/staticSites/readme.md
  utilities/tools/moduleReadMeSource/resourceUsage-privateEndpoints.md
Labels: bug, documentation, [cat] modules

#2589 [CI Environment] Implemented name shortening for TemplateSpecs artifacts & extended docs
  docs/wiki/The CI environment - Publishing.md
  utilities/pipelines/resourcePublish/Get-TemplateSpecsName.ps1
  utilities/pipelines/resourcePublish/Get-UniversalArtifactsName.ps1
Labels: enhancement, [cat] publishing

#2605 [Fixes] Fixed template spec name gen & added documentation
  utilities/pipelines/resourcePublish/Get-TemplateSpecsName.ps1
Labels: bug, [cat] publishing

#2586 [Documentation] Update Network Manager documentation and Wiki known issues.
  docs/wiki/Known issues.md
  modules/Microsoft.Network/networkManagers/deploy.bicep
  modules/Microsoft.Network/networkManagers/readme.md
Labels: documentation, [cat] modules

#2610 [CI Environment] Added utility to automatically add & update all platform pipelines to the main readme
  .azuredevops/platformPipelines/platform.updateReadMe.yml
  .github/workflows/platform.updateReadMe.yml
  README.md
  docs/wiki/Home.md
  docs/wiki/The CI environment - GitHub ReadMe module table update.md
  docs/wiki/The CI environment.md
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
  utilities/tools/helper/Get-PipelineNameFromFile.ps1
  utilities/tools/helper/Get-PipelineStatusUrl.ps1
  utilities/tools/platform/Set-ReadMeModuleTable.ps1
  utilities/tools/platform/Set-ReadMePlatformTable.ps1
Labels: bug, documentation, enhancement, [cat] utilities

#2612 [Fixes] Remove duplicated status badges from home page
  README.md
Labels: enhancement

#2617 [Modules] Bump StorageAccount and add params
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: enhancement, [cat] modules

#2623 [Modules] Update KeyVault API Versions
  modules/Microsoft.KeyVault/vaults/accessPolicies/deploy.bicep
  modules/Microsoft.KeyVault/vaults/accessPolicies/readme.md
  modules/Microsoft.KeyVault/vaults/deploy.bicep
  modules/Microsoft.KeyVault/vaults/keys/deploy.bicep
  modules/Microsoft.KeyVault/vaults/keys/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.KeyVault/vaults/secrets/deploy.bicep
  modules/Microsoft.KeyVault/vaults/secrets/readme.md
Labels: [cat] modules
