Repository Azure/ResourceModules, pull requests merged in 2023-12, with the labels that each got.

#4313 [Fixes] Added missing connection property to VPN GW deployment
  modules/network/vpn-gateway/main.bicep
  modules/network/vpn-gateway/main.json
  modules/network/vpn-gateway/nat-rule/main.json
  modules/network/vpn-gateway/vpn-connection/main.json
Labels: bug, [cat] modules

#4330 [Fixes] Added MovedToAVM to modules missing it
  modules/event-grid/domain/MOVED-TO-AVM.md
  modules/event-grid/domain/README.md
  modules/event-grid/system-topic/MOVED-TO-AVM.md
  modules/event-grid/system-topic/README.md
  modules/event-grid/topic/MOVED-TO-AVM.md
  modules/event-grid/topic/README.md
Labels: documentation, [cat] modules

#4331 [Modules] Added azureMonitorProfile to allow us to enable the Prometheus collector
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/main.bicep
  modules/container-service/managed-cluster/main.json
  modules/container-service/managed-cluster/tests/e2e/azure/main.test.bicep
Labels: enhancement, [cat] modules

#4307 Container Apps Env Upgrade to latest version 2023-05-01
  modules/app/managed-environment/README.md
  modules/app/managed-environment/main.bicep
  modules/app/managed-environment/main.json
  modules/app/managed-environment/tests/e2e/max/dependencies.bicep
  modules/app/managed-environment/tests/e2e/max/main.test.bicep
  modules/app/managed-environment/tests/e2e/waf-aligned/dependencies.bicep
  modules/app/managed-environment/tests/e2e/waf-aligned/main.test.bicep
Labels: [cat] modules, wait for author

#4195 ManagedCluster - WebAppRouting - Updates
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/main.bicep
  modules/container-service/managed-cluster/main.json
Labels: enhancement, [cat] modules, wait for author

#4349 Managed Cluster - Expose AGIC Identity Object Id
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/main.bicep
  modules/container-service/managed-cluster/main.json
Labels: enhancement, [cat] modules

#4375 [Modules] Cluster - Expose AGIC Identity Object Id (#4349)
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/main.bicep
  modules/container-service/managed-cluster/main.json
Labels: enhancement, [cat] modules

#4391 [Module] Implemented workaround for fileShare role assignment
  modules/storage/storage-account/README.md
  modules/storage/storage-account/blob-service/container/immutability-policy/main.json
  modules/storage/storage-account/blob-service/container/main.json
  modules/storage/storage-account/blob-service/main.json
  modules/storage/storage-account/file-service/README.md
  modules/storage/storage-account/file-service/main.json
  modules/storage/storage-account/file-service/share/README.md
  modules/storage/storage-account/file-service/share/main.bicep
  modules/storage/storage-account/file-service/share/main.json
  modules/storage/storage-account/file-service/share/modules/nested_inner_roleAssignment.json
  modules/storage/storage-account/file-service/share/modules/nested_roleAssignment.bicep
  modules/storage/storage-account/local-user/main.json
  modules/storage/storage-account/main.json
  modules/storage/storage-account/management-policy/main.json
  modules/storage/storage-account/queue-service/main.json
  modules/storage/storage-account/queue-service/queue/main.json
  modules/storage/storage-account/table-service/main.json
  modules/storage/storage-account/table-service/table/main.json
  utilities/pipelines/sharedScripts/Get-NestedResourceList.ps1
  utilities/pipelines/staticValidation/helper/helper.psm1
Labels: bug, [cat] modules
