Repository Azure/ResourceModules, pull requests merged in 2023-10, with the labels that each got.

#4047 [Fixes] Fixed small issues of readme generation script
  modules/key-vault/vault/README.md
  modules/sql/managed-instance/README.md
  modules/sql/server/README.md
  utilities/tools/Get-CrossReferencedModuleList.ps1
  utilities/tools/Set-ModuleReadMe.ps1
Labels: bug, [cat] testing

#4033 [Modules] sql/managed-instance - Fixed bug with vulnerability assessment using storage acct. behind firewall/vnet
  modules/sql/managed-instance/.test/vulnAssm/dependencies.bicep
  modules/sql/managed-instance/.test/vulnAssm/main.test.bicep
  modules/sql/managed-instance/README.md
  modules/sql/managed-instance/main.bicep
  modules/sql/managed-instance/main.json
  modules/sql/managed-instance/vulnerability-assessment/.bicep/nested_storageRoleAssignment.bicep
  modules/sql/managed-instance/vulnerability-assessment/README.md
  modules/sql/managed-instance/vulnerability-assessment/main.bicep
  modules/sql/managed-instance/vulnerability-assessment/main.json
Labels: bug, [cat] modules

#4065 [Modules] Uplift the Event Hub Module API Version, add support for Retention and additional test cases
  modules/event-hub/namespace/.bicep/nested_roleAssignments.bicep
  modules/event-hub/namespace/.test/common/main.test.bicep
  modules/event-hub/namespace/.test/pe/main.test.bicep
  modules/event-hub/namespace/README.md
  modules/event-hub/namespace/authorization-rule/README.md
  modules/event-hub/namespace/authorization-rule/main.bicep
  modules/event-hub/namespace/authorization-rule/main.json
  modules/event-hub/namespace/disaster-recovery-config/README.md
  modules/event-hub/namespace/disaster-recovery-config/main.bicep
  modules/event-hub/namespace/disaster-recovery-config/main.json
  modules/event-hub/namespace/eventhub/.bicep/nested_roleAssignments.bicep
  modules/event-hub/namespace/eventhub/README.md
  modules/event-hub/namespace/eventhub/authorization-rule/README.md
  modules/event-hub/namespace/eventhub/authorization-rule/main.bicep
  modules/event-hub/namespace/eventhub/authorization-rule/main.json
  modules/event-hub/namespace/eventhub/consumergroup/README.md
  modules/event-hub/namespace/eventhub/consumergroup/main.bicep
  modules/event-hub/namespace/eventhub/consumergroup/main.json
  modules/event-hub/namespace/eventhub/main.bicep
  modules/event-hub/namespace/eventhub/main.json
  modules/event-hub/namespace/main.bicep
  modules/event-hub/namespace/main.json
  modules/event-hub/namespace/network-rule-set/README.md
  modules/event-hub/namespace/network-rule-set/main.bicep
  modules/event-hub/namespace/network-rule-set/main.json
Labels: enhancement, [cat] modules

#4071 [Modules] Update the PostgreSQL - Configurations child module deployment to be sequential
  modules/db-for-postgre-sql/flexible-server/main.bicep
Labels: bug, [cat] modules

#4066 [Modules] New Module - Databricks Access Connectors
  .azuredevops/modulePipelines/ms.databricks.accessconnectors.yml
  .github/workflows/ms.databricks.accessconnectors.yml
  modules/databricks/access-connector/.bicep/nested_roleAssignments.bicep
  modules/databricks/access-connector/.test/common/dependencies.bicep
  modules/databricks/access-connector/.test/common/main.test.bicep
  modules/databricks/access-connector/.test/min/main.test.bicep
  modules/databricks/access-connector/README.md
  modules/databricks/access-connector/main.bicep
  modules/databricks/access-connector/main.json
  modules/databricks/access-connector/version.json
Labels: enhancement, [cat] modules

#4076 [Fixes] Fixed custom-domain name parameter
  modules/web/static-site/custom-domain/README.md
  modules/web/static-site/custom-domain/main.bicep
  modules/web/static-site/custom-domain/main.json
  modules/web/static-site/main.json
Labels: bug, [cat] modules

#4069 [Modules] Updated Service Bus to latest API and introduced new parameters
  modules/service-bus/namespace/.bicep/nested_roleAssignments.bicep
  modules/service-bus/namespace/.test/common/main.test.bicep
  modules/service-bus/namespace/.test/pe/main.test.bicep
  modules/service-bus/namespace/README.md
  modules/service-bus/namespace/authorization-rule/README.md
  modules/service-bus/namespace/authorization-rule/main.bicep
  modules/service-bus/namespace/authorization-rule/main.json
  modules/service-bus/namespace/disaster-recovery-config/README.md
  modules/service-bus/namespace/disaster-recovery-config/main.bicep
  modules/service-bus/namespace/disaster-recovery-config/main.json
  modules/service-bus/namespace/main.bicep
  modules/service-bus/namespace/main.json
  modules/service-bus/namespace/migration-configuration/README.md
  modules/service-bus/namespace/migration-configuration/main.bicep
  modules/service-bus/namespace/migration-configuration/main.json
  modules/service-bus/namespace/network-rule-set/README.md
  modules/service-bus/namespace/network-rule-set/main.bicep
  modules/service-bus/namespace/network-rule-set/main.json
  modules/service-bus/namespace/queue/.bicep/nested_roleAssignments.bicep
  modules/service-bus/namespace/queue/README.md
  modules/service-bus/namespace/queue/authorization-rule/README.md
  modules/service-bus/namespace/queue/authorization-rule/main.bicep
  modules/service-bus/namespace/queue/authorization-rule/main.json
  modules/service-bus/namespace/queue/main.bicep
  modules/service-bus/namespace/queue/main.json
  modules/service-bus/namespace/topic/.bicep/nested_roleAssignments.bicep
  modules/service-bus/namespace/topic/README.md
  modules/service-bus/namespace/topic/authorization-rule/README.md
  modules/service-bus/namespace/topic/authorization-rule/main.bicep
  modules/service-bus/namespace/topic/authorization-rule/main.json
  modules/service-bus/namespace/topic/main.bicep
  modules/service-bus/namespace/topic/main.json
Labels: enhancement, [cat] modules

#4073 [AVM] Updated Readme's to support AVM transition - Part (2)
  modules/container-instance/container-group/README.md
  modules/container-registry/registry/README.md
  modules/container-service/managed-cluster/README.md
  modules/data-factory/factory/README.md
  modules/data-factory/factory/integration-runtime/README.md
  modules/data-factory/factory/managed-virtual-network/README.md
  modules/data-protection/backup-vault/README.md
  modules/data-protection/backup-vault/backup-policy/README.md
  modules/databricks/workspace/README.md
  modules/db-for-postgre-sql/flexible-server/.test/public/main.test.bicep
  modules/db-for-postgre-sql/flexible-server/README.md
Labels: documentation

#4072 [AVM] Updated Readme's to support AVM transition - Part (1)
  modules/aad/domain-service/README.md
  modules/api-management/service/README.md
  modules/api-management/service/authorization-server/README.md
  modules/api-management/service/backend/README.md
  modules/api-management/service/named-value/README.md
  modules/authorization/policy-assignment/README.md
  modules/authorization/policy-definition/README.md
  modules/authorization/policy-exemption/README.md
  modules/authorization/policy-set-definition/README.md
  modules/authorization/role-assignment/README.md
  modules/authorization/role-definition/README.md
  modules/automation/automation-account/README.md
  modules/automation/automation-account/software-update-configuration/README.md
  modules/automation/automation-account/variable/README.md
  modules/cache/redis-enterprise/database/README.md
  modules/cache/redis/README.md
  modules/cognitive-services/account/README.md
  modules/compute/gallery/application/README.md
  modules/compute/virtual-machine-scale-set/README.md
  modules/compute/virtual-machine/README.md
Labels: documentation

#4080 [AVM] Updated Readme's to support AVM transition - Part (3)
  modules/desktop-virtualization/host-pool/README.md
  modules/desktop-virtualization/host-pool/main.bicep
  modules/desktop-virtualization/host-pool/main.json
  modules/desktop-virtualization/scaling-plan/.test/common/main.test.bicep
  modules/desktop-virtualization/scaling-plan/README.md
  modules/desktop-virtualization/scaling-plan/main.json
  modules/digital-twins/digital-twins-instance/README.md
  modules/digital-twins/digital-twins-instance/endpoint--event-grid/main.json
  modules/digital-twins/digital-twins-instance/endpoint--event-hub/README.md
  modules/digital-twins/digital-twins-instance/endpoint--event-hub/main.bicep
  modules/digital-twins/digital-twins-instance/endpoint--event-hub/main.json
  modules/digital-twins/digital-twins-instance/endpoint--service-bus/README.md
  modules/digital-twins/digital-twins-instance/endpoint--service-bus/main.bicep
  modules/digital-twins/digital-twins-instance/endpoint--service-bus/main.json
  modules/digital-twins/digital-twins-instance/main.json
  modules/document-db/database-account/README.md
  modules/document-db/database-account/gremlin-database/README.md
  modules/document-db/database-account/gremlin-database/graph/README.md
  modules/document-db/database-account/mongodb-database/README.md
  modules/document-db/database-account/mongodb-database/collection/README.md
  modules/document-db/database-account/sql-database/container/README.md
  modules/event-grid/system-topic/README.md
  modules/event-grid/topic/README.md
  modules/event-hub/namespace/main.json
  modules/event-hub/namespace/network-rule-set/README.md
  modules/event-hub/namespace/network-rule-set/main.bicep
  modules/event-hub/namespace/network-rule-set/main.json
  modules/healthcare-apis/workspace/README.md
  modules/healthcare-apis/workspace/fhirservice/README.md
  modules/healthcare-apis/workspace/iotconnector/README.md
  modules/healthcare-apis/workspace/iotconnector/fhirdestination/README.md
  modules/insights/action-group/.test/common/main.test.bicep
  modules/insights/action-group/README.md
  modules/insights/action-group/main.json
  modules/insights/activity-log-alert/.test/common/main.test.bicep
  modules/insights/activity-log-alert/README.md
  modules/insights/activity-log-alert/main.bicep
  modules/insights/activity-log-alert/main.json
  modules/insights/metric-alert/README.md
  modules/insights/metric-alert/main.bicep
  modules/insights/metric-alert/main.json
Labels: documentation

#4077 [AVM] Updated Readme's to support AVM transition - Part (-1)
  modules/security/azure-security-center/README.md
  modules/service-bus/namespace/README.md
  modules/service-fabric/cluster/README.md
  modules/signal-r-service/web-pub-sub/README.md
  modules/sql/managed-instance/README.md
  modules/sql/managed-instance/database/README.md
  modules/sql/server/README.md
  modules/storage/storage-account/README.md
  modules/storage/storage-account/management-policy/README.md
  modules/synapse/workspace/key/README.md
  modules/virtual-machine-images/image-template/README.md
  modules/web/hosting-environment/README.md
  modules/web/serverfarm/README.md
  modules/web/site/README.md
  modules/web/site/config--appsettings/README.md
  modules/web/site/config--authsettingsv2/README.md
  modules/web/site/slot/README.md
  modules/web/site/slot/config--appsettings/README.md
  modules/web/site/slot/config--authsettingsv2/README.md
  modules/web/static-site/README.md
Labels: documentation

#4078 [AVM] Updated Readme's to support AVM transition - Part (-2)
  modules/network/private-link-service/README.md
  modules/network/private-link-service/main.bicep
  modules/network/private-link-service/main.json
  modules/network/route-table/README.md
  modules/network/trafficmanagerprofile/README.md
  modules/network/virtual-hub/hub-virtual-network-connection/README.md
  modules/network/virtual-network-gateway/README.md
  modules/network/virtual-network/README.md
  modules/network/virtual-network/subnet/README.md
  modules/network/virtual-network/virtual-network-peering/README.md
  modules/network/vpn-gateway/README.md
  modules/network/vpn-gateway/vpn-connection/README.md
  modules/network/vpn-site/README.md
  modules/operational-insights/workspace/README.md
  modules/policy-insights/remediation/README.md
  modules/recovery-services/vault/README.md
  modules/recovery-services/vault/backup-policy/README.md
  modules/recovery-services/vault/replication-fabric/README.md
  modules/recovery-services/vault/replication-fabric/replication-protection-container/README.md
  modules/resources/deployment-script/README.md
  modules/resources/resource-group/README.md
Labels: documentation

#4079 [AVM] Updated Readme's to support AVM transition - Part (-3)
  modules/key-vault/vault/access-policy/README.md
  modules/key-vault/vault/key/README.md
  modules/key-vault/vault/secret/README.md
  modules/kubernetes-configuration/extension/README.md
  modules/kubernetes-configuration/flux-configuration/README.md
  modules/logic/workflow/README.md
  modules/machine-learning-services/workspace/README.md
  modules/machine-learning-services/workspace/compute/README.md
  modules/machine-learning-services/workspace/compute/main.bicep
  modules/machine-learning-services/workspace/compute/main.json
  modules/machine-learning-services/workspace/main.json
  modules/maintenance/maintenance-configuration/README.md
  modules/managed-services/registration-definition/README.md
  modules/management/management-group/README.md
  modules/network/azure-firewall/README.md
  modules/network/bastion-host/README.md
  modules/network/connection/README.md
  modules/network/dns-resolver/README.md
  modules/network/load-balancer/README.md
  modules/network/network-interface/README.md
  modules/network/network-manager/README.md
  modules/network/network-manager/main.bicep
  modules/network/private-dns-zone/txt/README.md
  modules/network/private-endpoint/README.md
Labels: documentation

#4081 [Modules] Updated Event Hub - Recompiled JSON files
  modules/event-hub/namespace/authorization-rule/main.json
  modules/event-hub/namespace/disaster-recovery-config/main.json
  modules/event-hub/namespace/eventhub/authorization-rule/main.json
  modules/event-hub/namespace/eventhub/consumergroup/main.json
  modules/event-hub/namespace/eventhub/main.json
  modules/event-hub/namespace/main.json
  modules/event-hub/namespace/network-rule-set/main.json
Labels: bug, [cat] modules

#4082 [Modules] Updated Network Manager JSON Files and Readmes
  modules/network/network-manager/README.md
  modules/network/network-manager/connectivity-configuration/main.json
  modules/network/network-manager/main.json
  modules/network/network-manager/network-group/main.json
  modules/network/network-manager/network-group/static-member/main.json
  modules/network/network-manager/scope-connection/main.json
  modules/network/network-manager/security-admin-configuration/main.json
  modules/network/network-manager/security-admin-configuration/rule-collection/main.json
  modules/network/network-manager/security-admin-configuration/rule-collection/rule/main.json
Labels: bug, [cat] modules

#4090 [Utilities] Made metadata removal ready for UDT
  utilities/pipelines/staticValidation/helper/helper.psm1
Labels: enhancement, [cat] utilities

#4097 [Modules] Updated banner & added `MOVED-TO-AVM.md` files
  README.md
  modules/compute/ssh-public-key/MOVED-TO-AVM.md
  modules/key-vault/vault/MOVED-TO-AVM.md
  modules/kubernetes-configuration/extension/MOVED-TO-AVM.md
  modules/kubernetes-configuration/flux-configuration/MOVED-TO-AVM.md
  modules/network/private-endpoint/MOVED-TO-AVM.md
  modules/network/public-ip-address/MOVED-TO-AVM.md
Labels: documentation

#4098 [Utilities] Enabled progress bar on module update & depth param
  utilities/tools/Set-Module.ps1
Labels: enhancement, [cat] utilities

#4102 [Modules] Update the SQL - Server module API version to the latest documented version
  modules/sql/server/.bicep/nested_roleAssignments.bicep
  modules/sql/server/README.md
  modules/sql/server/database/README.md
  modules/sql/server/database/main.bicep
  modules/sql/server/database/main.json
  modules/sql/server/elastic-pool/README.md
  modules/sql/server/elastic-pool/main.bicep
  modules/sql/server/elastic-pool/main.json
  modules/sql/server/encryption-protector/README.md
  modules/sql/server/encryption-protector/main.bicep
  modules/sql/server/encryption-protector/main.json
  modules/sql/server/firewall-rule/README.md
  modules/sql/server/firewall-rule/main.bicep
  modules/sql/server/firewall-rule/main.json
  modules/sql/server/main.json
  modules/sql/server/security-alert-policy/README.md
  modules/sql/server/security-alert-policy/main.bicep
  modules/sql/server/security-alert-policy/main.json
  modules/sql/server/virtual-network-rule/README.md
  modules/sql/server/virtual-network-rule/main.bicep
  modules/sql/server/virtual-network-rule/main.json
  modules/sql/server/vulnerability-assessment/README.md
  modules/sql/server/vulnerability-assessment/main.bicep
  modules/sql/server/vulnerability-assessment/main.json
Labels: bug, [cat] modules

#4103 [Modules] Updated AKS Module API Version
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/agent-pool/README.md
  modules/container-service/managed-cluster/agent-pool/main.bicep
  modules/container-service/managed-cluster/agent-pool/main.json
  modules/container-service/managed-cluster/main.bicep
  modules/container-service/managed-cluster/main.json
Labels: bug, [cat] modules

#4104 [Modules] Updated SQL Managed Instance module API Version
  modules/sql/managed-instance/.bicep/nested_roleAssignments.bicep
  modules/sql/managed-instance/README.md
  modules/sql/managed-instance/administrator/README.md
  modules/sql/managed-instance/administrator/main.bicep
  modules/sql/managed-instance/administrator/main.json
  modules/sql/managed-instance/database/README.md
  modules/sql/managed-instance/database/backup-long-term-retention-policy/README.md
  modules/sql/managed-instance/database/backup-long-term-retention-policy/main.bicep
  modules/sql/managed-instance/database/backup-long-term-retention-policy/main.json
  modules/sql/managed-instance/database/backup-short-term-retention-policy/README.md
  modules/sql/managed-instance/database/backup-short-term-retention-policy/main.bicep
  modules/sql/managed-instance/database/backup-short-term-retention-policy/main.json
  modules/sql/managed-instance/database/main.bicep
  modules/sql/managed-instance/database/main.json
  modules/sql/managed-instance/encryption-protector/README.md
  modules/sql/managed-instance/encryption-protector/main.bicep
  modules/sql/managed-instance/encryption-protector/main.json
  modules/sql/managed-instance/key/README.md
  modules/sql/managed-instance/key/main.bicep
  modules/sql/managed-instance/key/main.json
  modules/sql/managed-instance/main.bicep
  modules/sql/managed-instance/main.json
  modules/sql/managed-instance/security-alert-policy/README.md
  modules/sql/managed-instance/security-alert-policy/main.bicep
  modules/sql/managed-instance/security-alert-policy/main.json
  modules/sql/managed-instance/vulnerability-assessment/.bicep/nested_storageRoleAssignment.bicep
  modules/sql/managed-instance/vulnerability-assessment/README.md
  modules/sql/managed-instance/vulnerability-assessment/main.bicep
  modules/sql/managed-instance/vulnerability-assessment/main.json
Labels: bug, [cat] modules

#4119 [Fixes] Updated remaining PE references that got not passed down to the actual module
  modules/app-configuration/configuration-store/.test/pe/main.test.bicep
  modules/app-configuration/configuration-store/README.md
  modules/cache/redis-enterprise/.test/common/main.test.bicep
  modules/cache/redis-enterprise/README.md
  modules/cache/redis/.test/common/main.test.bicep
  modules/cache/redis/README.md
  modules/data-factory/factory/.test/common/main.test.bicep
  modules/data-factory/factory/README.md
  modules/databricks/workspace/.test/common/main.test.bicep
  modules/databricks/workspace/README.md
  modules/digital-twins/digital-twins-instance/.test/common/main.test.bicep
  modules/digital-twins/digital-twins-instance/README.md
  modules/document-db/database-account/.test/sqldb/main.test.bicep
  modules/document-db/database-account/README.md
  modules/insights/private-link-scope/.test/common/main.test.bicep
  modules/insights/private-link-scope/README.md
  modules/key-vault/vault/.test/common/main.test.bicep
  modules/key-vault/vault/README.md
  modules/recovery-services/vault/.test/common/main.test.bicep
  modules/recovery-services/vault/README.md
  modules/signal-r-service/signal-r/.test/common/main.test.bicep
  modules/signal-r-service/signal-r/README.md
  modules/signal-r-service/web-pub-sub/.test/common/main.test.bicep
  modules/signal-r-service/web-pub-sub/.test/pe/main.test.bicep
  modules/signal-r-service/web-pub-sub/README.md
  modules/sql/server/.test/common/main.test.bicep
  modules/sql/server/.test/pe/main.test.bicep
  modules/sql/server/README.md
  modules/synapse/private-link-hub/.test/common/main.test.bicep
  modules/synapse/private-link-hub/README.md
  modules/synapse/workspace/.test/common/main.test.bicep
  modules/synapse/workspace/README.md
  modules/web/site/.test/webAppCommon/main.test.bicep
  modules/web/site/README.md
Labels: bug, [cat] modules

#4133 [Fixes] Removed redundant empty lines in test files
  modules/analysis-services/server/.test/common/main.test.bicep
  modules/analysis-services/server/.test/max/main.test.bicep
  modules/api-management/service/.test/common/main.test.bicep
  modules/api-management/service/.test/max/main.test.bicep
  modules/app-configuration/configuration-store/.test/common/main.test.bicep
  modules/app-configuration/configuration-store/.test/encr/main.test.bicep
  modules/automation/automation-account/.test/common/main.test.bicep
  modules/cache/redis-enterprise/.test/common/main.test.bicep
  modules/cdn/profile/.test/afd/main.test.bicep
  modules/cdn/profile/.test/common/main.test.bicep
  modules/cognitive-services/account/.test/common/main.test.bicep
  modules/compute/availability-set/.test/common/main.test.bicep
  modules/compute/disk-encryption-set/.test/accessPolicies/main.test.bicep
  modules/compute/disk-encryption-set/.test/common/main.test.bicep
  modules/compute/disk/.test/common/main.test.bicep
  modules/compute/disk/.test/image/main.test.bicep
  modules/compute/disk/.test/import/main.test.bicep
  modules/compute/gallery/.test/common/main.test.bicep
  modules/compute/image/.test/common/main.test.bicep
  modules/compute/proximity-placement-group/.test/common/main.test.bicep
  modules/compute/virtual-machine-scale-set/.test/linux/main.test.bicep
  modules/compute/virtual-machine-scale-set/.test/windows/main.test.bicep
  modules/compute/virtual-machine-scale-set/README.md
  modules/compute/virtual-machine/.test/linux/main.test.bicep
  modules/compute/virtual-machine/.test/windows/main.test.bicep
  modules/container-registry/registry/.test/common/main.test.bicep
  modules/container-service/managed-cluster/.test/azure/main.test.bicep
  modules/container-service/managed-cluster/.test/kubenet/main.test.bicep
  modules/data-factory/factory/.test/common/main.test.bicep
  modules/data-protection/backup-vault/.test/common/main.test.bicep
  modules/databricks/access-connector/.test/common/main.test.bicep
  modules/databricks/workspace/.test/common/main.test.bicep
  modules/db-for-my-sql/flexible-server/.test/private/main.test.bicep
  modules/db-for-my-sql/flexible-server/.test/public/main.test.bicep
  modules/desktop-virtualization/application-group/.test/common/main.test.bicep
  modules/desktop-virtualization/host-pool/.test/common/main.test.bicep
  modules/desktop-virtualization/scaling-plan/.test/common/main.test.bicep
  modules/desktop-virtualization/workspace/.test/common/main.test.bicep
  modules/dev-test-lab/lab/.test/common/main.test.bicep
  modules/digital-twins/digital-twins-instance/.test/common/main.test.bicep
  modules/document-db/database-account/.test/gremlindb/main.test.bicep
  modules/document-db/database-account/.test/mongodb/main.test.bicep
  modules/document-db/database-account/.test/plain/main.test.bicep
  modules/document-db/database-account/.test/sqldb/main.test.bicep
  modules/network/network-interface/.test/common/main.test.bicep
  modules/network/public-ip-address/.test/common/main.test.bicep
Labels: bug, [cat] modules, [cat] testing

#4134 [Utilities] Implemented several improvments for readme script
  modules/compute/ssh-public-key/README.md
  modules/key-vault/vault/README.md
  modules/kubernetes-configuration/extension/README.md
  modules/kubernetes-configuration/flux-configuration/README.md
  modules/network/private-endpoint/README.md
  modules/network/public-ip-address/README.md
  utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  utilities/tools/Set-Module.ps1
Labels: enhancement, [cat] utilities

#4143 [Modules] Updated App Service Plan API to 2022-09-01
  modules/web/serverfarm/README.md
  modules/web/serverfarm/main.bicep
  modules/web/serverfarm/main.json
Labels: enhancement, [cat] modules

#4144 [Modules] Hotfix for the App Service Plan module to fix the conditional parameter description
  modules/web/serverfarm/README.md
  modules/web/serverfarm/main.bicep
  modules/web/serverfarm/main.json
Labels: bug, [cat] modules

#4145 [Modules] Uplifted the SQL Server - Vulnerability Assessment child module to support Storage RBAC
  modules/sql/managed-instance/main.json
  modules/sql/managed-instance/vulnerability-assessment/main.bicep
  modules/sql/managed-instance/vulnerability-assessment/main.json
  modules/sql/managed-instance/vulnerability-assessment/modules/nested_storageRoleAssignment.bicep
  modules/sql/server/.test/vulnAssm/dependencies.bicep
  modules/sql/server/.test/vulnAssm/main.test.bicep
  modules/sql/server/README.md
  modules/sql/server/main.bicep
  modules/sql/server/main.json
  modules/sql/server/vulnerability-assessment/README.md
  modules/sql/server/vulnerability-assessment/main.bicep
  modules/sql/server/vulnerability-assessment/main.json
  modules/sql/server/vulnerability-assessment/modules/nested_storageRoleAssignment.bicep
Labels: enhancement, [cat] modules

#4156 [Module] Added Microsoft.App/jobs
  .azuredevops/modulePipelines/ms.app.jobs.yml
  .github/workflows/ms.app.jobs.yml
  modules/app/job/.test/common/dependencies.bicep
  modules/app/job/.test/common/main.test.bicep
  modules/app/job/.test/min/dependencies.bicep
  modules/app/job/.test/min/main.test.bicep
  modules/app/job/README.md
  modules/app/job/main.bicep
  modules/app/job/main.json
  modules/app/job/version.json
Labels: [cat] modules

#4165 Added MOVED-TO-AVM files
  modules/batch/batch-account/MOVED-TO-AVM.md
  modules/batch/batch-account/README.md
  modules/cognitive-services/account/MOVED-TO-AVM.md
  modules/cognitive-services/account/README.md
  modules/insights/action-group/MOVED-TO-AVM.md
  modules/insights/action-group/README.md
  modules/network/network-interface/MOVED-TO-AVM.md
  modules/network/network-interface/README.md
Labels: documentation
