Repository Azure/ResourceModules, pull requests merged in 2023-02, with the labels that each got.

#2636 [Modules] Updated Disk Encryption Set to latest published API version (2022-07-02)
  modules/Microsoft.Compute/diskEncryptionSets/.test/common/dependencies.bicep
  modules/Microsoft.Compute/diskEncryptionSets/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/diskEncryptionSets/deploy.bicep
  modules/Microsoft.Compute/diskEncryptionSets/readme.md
Labels: bug, [cat] modules

#2642 [Fixes] Update rg roleAssignments name (guid) to use rg resourceID instead of rg name
  modules/Microsoft.Resources/resourceGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Resources/resourceGroups/version.json
Labels: enhancement, [cat] modules

#2591 [CI Environment] Added automation to update the Static Validation Tests documentation
  .azuredevops/platformPipelines/platform.updateStaticTestDocs.yml
  .github/workflows/platform.updateStaticTestDocs.yml
  docs/wiki/The CI environment - Static validation.md
  utilities/pipelines/staticValidation/module.tests.ps1
  utilities/tools/platform/Set-StaticTestDocumentation.ps1
Labels: documentation, enhancement, [cat] pipelines, [cat] utilities

#2646 [Modules] Added Microsoft Purview Account module
  .azuredevops/modulePipelines/ms.purview.accounts.yml
  .github/workflows/ms.purview.accounts.yml
  modules/Microsoft.Purview/accounts/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Purview/accounts/.test/common/dependencies.bicep
  modules/Microsoft.Purview/accounts/.test/common/deploy.test.bicep
  modules/Microsoft.Purview/accounts/.test/min/deploy.test.bicep
  modules/Microsoft.Purview/accounts/deploy.bicep
  modules/Microsoft.Purview/accounts/readme.md
  modules/Microsoft.Purview/accounts/version.json
Labels: enhancement, [cat] modules

#2643 [Modules] Add `premium` option to StorageAccount tier with test
  modules/Microsoft.Storage/storageAccounts/.test/minPrem/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: [cat] modules

#2661 [Fixes] Remove json function from modules not requiring it
  modules/Microsoft.ApiManagement/service/deploy.bicep
  modules/Microsoft.Compute/virtualMachineScaleSets/deploy.bicep
  modules/Microsoft.Network/natGateways/deploy.bicep
  modules/Microsoft.PolicyInsights/remediations/managementGroup/deploy.bicep
  modules/Microsoft.PolicyInsights/remediations/resourceGroup/deploy.bicep
  modules/Microsoft.PolicyInsights/remediations/subscription/deploy.bicep
  modules/Microsoft.Sql/servers/databases/deploy.bicep
  modules/Microsoft.Sql/servers/databases/readme.md
  modules/Microsoft.Sql/servers/deploy.bicep
Labels: enhancement, [cat] modules

#2663 [Modules] Update PIP API version and modules cross referencing it
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.Network/azureFirewalls/readme.md
  modules/Microsoft.Network/bastionHosts/readme.md
  modules/Microsoft.Network/natGateways/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/natGateways/deploy.bicep
  modules/Microsoft.Network/natGateways/readme.md
  modules/Microsoft.Network/natGateways/version.json
  modules/Microsoft.Network/publicIPAddresses/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/publicIPAddresses/deploy.bicep
  modules/Microsoft.Network/publicIPAddresses/readme.md
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
Labels: enhancement, [cat] modules

#2664 [Fixes] Disable referenced modules telemetry for a few modules missing the functionality
  modules/Microsoft.CDN/profiles/endpoints/deploy.bicep
  modules/Microsoft.Network/bastionHosts/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  modules/Microsoft.RecoveryServices/vaults/protectionContainers/deploy.bicep
Labels: bug, [cat] modules

#2665 [Fixes] Replace 'adp' naming prefix across modules
  modules/Microsoft.Network/bastionHosts/.test/custompip/deploy.test.bicep
  modules/Microsoft.Network/bastionHosts/readme.md
  modules/Microsoft.Sql/servers/.test/pe/deploy.test.bicep
Labels: enhancement, [cat] modules

#2654 [Modules] Included OIDC issuer URL as output to the AKS module
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
Labels: enhancement, [cat] modules

#2398 [Modules] New Module - Add Health Data Services Bicep modules
  .azuredevops/modulePipelines/ms.healthcareapis.workspaces.yml
  .github/workflows/ms.healthcareapis.workspaces.yml
  README.md
  docs/wiki/The library - Module overview.md
  modules/Microsoft.HealthcareApis/workspaces/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.HealthcareApis/workspaces/.test/common/dependencies.bicep
  modules/Microsoft.HealthcareApis/workspaces/.test/common/deploy.test.bicep
  modules/Microsoft.HealthcareApis/workspaces/.test/min/deploy.test.bicep
  modules/Microsoft.HealthcareApis/workspaces/deploy.bicep
  modules/Microsoft.HealthcareApis/workspaces/dicomservices/deploy.bicep
  modules/Microsoft.HealthcareApis/workspaces/dicomservices/readme.md
  modules/Microsoft.HealthcareApis/workspaces/dicomservices/version.json
  modules/Microsoft.HealthcareApis/workspaces/fhirservices/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.HealthcareApis/workspaces/fhirservices/deploy.bicep
  modules/Microsoft.HealthcareApis/workspaces/fhirservices/readme.md
  modules/Microsoft.HealthcareApis/workspaces/fhirservices/version.json
  modules/Microsoft.HealthcareApis/workspaces/iotconnectors/deploy.bicep
  modules/Microsoft.HealthcareApis/workspaces/iotconnectors/fhirdestinations/deploy.bicep
  modules/Microsoft.HealthcareApis/workspaces/iotconnectors/fhirdestinations/readme.md
  modules/Microsoft.HealthcareApis/workspaces/iotconnectors/fhirdestinations/version.json
  modules/Microsoft.HealthcareApis/workspaces/iotconnectors/readme.md
  modules/Microsoft.HealthcareApis/workspaces/iotconnectors/version.json
  modules/Microsoft.HealthcareApis/workspaces/readme.md
  modules/Microsoft.HealthcareApis/workspaces/version.json
  modules/README.md
  settings.yml
Labels: enhancement, [cat] modules, wait for author

#2682 [Modules] Regenerated all docs to account for new Bicep update
  modules/Microsoft.AAD/DomainServices/readme.md
  modules/Microsoft.ApiManagement/service/authorizationServers/readme.md
  modules/Microsoft.ApiManagement/service/identityProviders/readme.md
  modules/Microsoft.Compute/virtualMachineScaleSets/readme.md
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.DBforPostgreSQL/flexibleServers/readme.md
  modules/Microsoft.DevTestLab/labs/artifactSources/readme.md
  modules/Microsoft.KeyVault/vaults/secrets/readme.md
  modules/Microsoft.NetApp/netAppAccounts/readme.md
  modules/Microsoft.Network/localNetworkGateways/readme.md
  modules/Microsoft.Sql/managedInstances/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Sql/servers/securityAlertPolicies/readme.md
  modules/Microsoft.Web/staticSites/readme.md
Labels: enhancement, [cat] modules

#2680 [Modules] Added min test to managedClusters
  modules/Microsoft.ContainerService/managedClusters/.test/min/deploy.test.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
Labels: [cat] modules

#2685 [Modules] Updated Virtual Network Gateway Module API Version (2022-07-01)
  modules/Microsoft.Network/virtualNetworkGateways/.test/vpn/dependencies.bicep
  modules/Microsoft.Network/virtualNetworkGateways/.test/vpn/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/natRules/deploy.bicep
  modules/Microsoft.Network/virtualNetworkGateways/natRules/readme.md
  modules/Microsoft.Network/virtualNetworkGateways/natRules/version.json
  modules/Microsoft.Network/virtualNetworkGateways/readme.md
Labels: bug, enhancement, [cat] modules

#2687 [Fixes] Align ADO module pipeline input parameters
  .azuredevops/modulePipelines/ms.healthcareapis.workspaces.yml
  .azuredevops/modulePipelines/ms.security.azuresecuritycenter.yml
Labels: bug, [cat] pipelines, [cat] azure devops

#2697 [Fixes] Replace missing occurrences of docs.microsoft.com links and regenerated readmes
  bicepconfig.json
  modules/Microsoft.Authorization/policyAssignments/managementGroup/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  modules/Microsoft.Network/localNetworkGateways/readme.md
  modules/Microsoft.RecoveryServices/vaults/backupConfig/readme.md
  modules/Microsoft.RecoveryServices/vaults/backupPolicies/readme.md
  modules/Microsoft.RecoveryServices/vaults/backupStorageConfig/readme.md
  modules/Microsoft.RecoveryServices/vaults/protectionContainers/protectedItems/readme.md
  modules/Microsoft.RecoveryServices/vaults/protectionContainers/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.RecoveryServices/vaults/replicationAlertSettings/readme.md
  modules/Microsoft.RecoveryServices/vaults/replicationFabrics/readme.md
  modules/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/readme.md
  modules/Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/readme.md
  modules/Microsoft.RecoveryServices/vaults/replicationPolicies/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: bug, documentation, [cat] modules

#2679 [Modules] Extend managedCluster and K8s extensions with flux config
  modules/Microsoft.ContainerService/managedClusters/.test/azure/deploy.test.bicep
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
  modules/Microsoft.KubernetesConfiguration/extensions/.test/common/deploy.test.bicep
  modules/Microsoft.KubernetesConfiguration/extensions/deploy.bicep
  modules/Microsoft.KubernetesConfiguration/extensions/readme.md
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/deploy.bicep
  modules/Microsoft.KubernetesConfiguration/fluxConfigurations/readme.md
Labels: enhancement, [cat] modules

#2723 [Fixes] Automation account fix parameter names
  modules/Microsoft.Automation/automationAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Automation/automationAccounts/deploy.bicep
  modules/Microsoft.Automation/automationAccounts/readme.md
Labels: bug, [cat] modules

#2724 [Modules] Adding parameter options to application gateway
  modules/Microsoft.Network/applicationGateways/deploy.bicep
  modules/Microsoft.Network/applicationGateways/readme.md
Labels: enhancement, [cat] modules

#2719 [Modules] Updated Azure Load Balancer Module to the latest API version (2022-07-01)
  modules/Microsoft.Network/loadBalancers/backendAddressPools/deploy.bicep
  modules/Microsoft.Network/loadBalancers/backendAddressPools/readme.md
  modules/Microsoft.Network/loadBalancers/deploy.bicep
  modules/Microsoft.Network/loadBalancers/inboundNatRules/deploy.bicep
  modules/Microsoft.Network/loadBalancers/inboundNatRules/readme.md
  modules/Microsoft.Network/loadBalancers/readme.md
Labels: bug, [cat] modules

#2720 [Modules] Updated Application Security Groups Module to the latest API version (2022-07-01)
  modules/Microsoft.Network/applicationSecurityGroups/deploy.bicep
  modules/Microsoft.Network/applicationSecurityGroups/readme.md
Labels: bug, [cat] modules

#2790 [Modules] Updated Public IP Prefix Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/publicIPPrefixes/deploy.bicep
  modules/Microsoft.Network/publicIPPrefixes/readme.md
Labels: bug, [cat] modules

#2788 [Modules] Updated Azure Firewall Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/azureFirewalls/deploy.bicep
  modules/Microsoft.Network/azureFirewalls/readme.md
Labels: bug, [cat] modules

#2787 [Modules] Updated Firewall Policies Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/firewallPolicies/.test/common/deploy.test.bicep
  modules/Microsoft.Network/firewallPolicies/deploy.bicep
  modules/Microsoft.Network/firewallPolicies/readme.md
  modules/Microsoft.Network/firewallPolicies/ruleCollectionGroups/deploy.bicep
  modules/Microsoft.Network/firewallPolicies/ruleCollectionGroups/readme.md
Labels: bug, [cat] modules

#2722 [Modules] Updated Private Endpoints Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/privateEndpoints/deploy.bicep
  modules/Microsoft.Network/privateEndpoints/privateDnsZoneGroups/deploy.bicep
  modules/Microsoft.Network/privateEndpoints/privateDnsZoneGroups/readme.md
  modules/Microsoft.Network/privateEndpoints/readme.md
Labels: bug, [cat] modules

#2721 [Modules] Updated Network Interface Module to the latest API version (2022-07-01)
  modules/Microsoft.Network/networkInterfaces/deploy.bicep
  modules/Microsoft.Network/networkInterfaces/readme.md
Labels: bug, [cat] modules

#2791 [Modules] Updated Virtual Network Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/virtualNetworks/.test/common/deploy.test.bicep
  modules/Microsoft.Network/virtualNetworks/deploy.bicep
  modules/Microsoft.Network/virtualNetworks/readme.md
  modules/Microsoft.Network/virtualNetworks/subnets/deploy.bicep
  modules/Microsoft.Network/virtualNetworks/subnets/readme.md
  modules/Microsoft.Network/virtualNetworks/virtualNetworkPeerings/deploy.bicep
  modules/Microsoft.Network/virtualNetworks/virtualNetworkPeerings/readme.md
Labels: bug, [cat] modules

#2793 [Modules] Updated Virtual WAN Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/virtualWans/deploy.bicep
  modules/Microsoft.Network/virtualWans/readme.md
Labels: bug, [cat] modules

#2794 [Modules] Updated Express Route Circuit Module to latest API Version (2022-07-01)
  modules/Microsoft.Network/expressRouteCircuits/.test/common/deploy.test.bicep
  modules/Microsoft.Network/expressRouteCircuits/deploy.bicep
  modules/Microsoft.Network/expressRouteCircuits/readme.md
Labels: bug, [cat] modules

#2797 [Modules] Connections Module to latest API Version (2022-07-01)
  modules/Microsoft.Network/connections/deploy.bicep
  modules/Microsoft.Network/connections/readme.md
Labels: bug, [cat] modules

#2795 [Modules] Updated Network Security Group Module to latest API Version (2022-07-01)
  modules/Microsoft.Network/networkSecurityGroups/deploy.bicep
  modules/Microsoft.Network/networkSecurityGroups/readme.md
  modules/Microsoft.Network/networkSecurityGroups/securityRules/deploy.bicep
  modules/Microsoft.Network/networkSecurityGroups/securityRules/readme.md
Labels: bug, [cat] modules

#2799 [Modules] Updated Local Network Gateway Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/localNetworkGateways/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/localNetworkGateways/deploy.bicep
  modules/Microsoft.Network/localNetworkGateways/readme.md
Labels: bug, [cat] modules

#2801 [Modules] Updated DDoS Protection Plan Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/ddosProtectionPlans/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/ddosProtectionPlans/deploy.bicep
  modules/Microsoft.Network/ddosProtectionPlans/readme.md
Labels: bug, [cat] modules

#2800 [Modules] Updated IP Groups Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/ipGroups/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/ipGroups/deploy.bicep
  modules/Microsoft.Network/ipGroups/readme.md
Labels: bug, [cat] modules

#2804 [Utilities] Updated regex to remove only top-level dependsOn statements
  modules/Microsoft.Automation/automationAccounts/readme.md
  modules/Microsoft.Batch/batchAccounts/readme.md
  modules/Microsoft.Cache/redis/readme.md
  modules/Microsoft.CognitiveServices/accounts/readme.md
  modules/Microsoft.Compute/virtualMachines/readme.md
  modules/Microsoft.ContainerRegistry/registries/readme.md
  modules/Microsoft.ContainerService/managedClusters/readme.md
  modules/Microsoft.DataFactory/factories/readme.md
  modules/Microsoft.EventGrid/domains/readme.md
  modules/Microsoft.EventGrid/topics/readme.md
  modules/Microsoft.EventHub/namespaces/readme.md
  modules/Microsoft.Insights/privateLinkScopes/readme.md
  modules/Microsoft.KeyVault/vaults/readme.md
  modules/Microsoft.KubernetesConfiguration/extensions/readme.md
  modules/Microsoft.MachineLearningServices/workspaces/readme.md
  modules/Microsoft.Purview/accounts/readme.md
  modules/Microsoft.RecoveryServices/vaults/readme.md
  modules/Microsoft.ServiceBus/namespaces/readme.md
  modules/Microsoft.SignalRService/signalR/readme.md
  modules/Microsoft.SignalRService/webPubSub/readme.md
  modules/Microsoft.Sql/servers/readme.md
  modules/Microsoft.Storage/storageAccounts/readme.md
  modules/Microsoft.Synapse/privateLinkHubs/readme.md
  modules/Microsoft.Synapse/workspaces/readme.md
  modules/Microsoft.Web/sites/readme.md
  modules/Microsoft.Web/sites/slots/readme.md
  modules/Microsoft.Web/staticSites/readme.md
  utilities/tools/Set-ModuleReadMe.ps1
Labels: bug, documentation, [cat] utilities

#2789 [Modules] Updated VPN Sites Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/vpnSites/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/vpnSites/deploy.bicep
  modules/Microsoft.Network/vpnSites/readme.md
Labels: bug, [cat] modules

#2802 [Modules] Support for configuring backup retention policies for Azure SQL Database
  modules/Microsoft.Sql/servers/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies/deploy.bicep
  modules/Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies/readme.md
  modules/Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies/version.json
  modules/Microsoft.Sql/servers/databases/backupShortTermRetentionPolicies/deploy.bicep
  modules/Microsoft.Sql/servers/databases/backupShortTermRetentionPolicies/readme.md
  modules/Microsoft.Sql/servers/databases/backupShortTermRetentionPolicies/version.json
  modules/Microsoft.Sql/servers/databases/deploy.bicep
  modules/Microsoft.Sql/servers/databases/readme.md
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
Labels: enhancement, [cat] modules

#2639 [Modules] Updated App Service Environments to latest API Version (2022-03-01)
  modules/.shared/.scripts/Set-CertificateInKeyVault.ps1
  modules/Microsoft.Web/hostingEnvironments/.test/asev2/dependencies.bicep
  modules/Microsoft.Web/hostingEnvironments/.test/asev2/deploy.test.bicep
  modules/Microsoft.Web/hostingEnvironments/.test/asev3/dependencies.bicep
  modules/Microsoft.Web/hostingEnvironments/.test/asev3/deploy.test.bicep
  modules/Microsoft.Web/hostingEnvironments/configurations-customdnssuffix/deploy.bicep
  modules/Microsoft.Web/hostingEnvironments/configurations-customdnssuffix/readme.md
  modules/Microsoft.Web/hostingEnvironments/configurations-customdnssuffix/version.json
  modules/Microsoft.Web/hostingEnvironments/configurations-networking/deploy.bicep
  modules/Microsoft.Web/hostingEnvironments/configurations-networking/readme.md
  modules/Microsoft.Web/hostingEnvironments/configurations-networking/version.json
  modules/Microsoft.Web/hostingEnvironments/deploy.bicep
  modules/Microsoft.Web/hostingEnvironments/readme.md
Labels: enhancement, [cat] modules

#2786 [Modules] Updated VPN Gateway Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/vpnGateways/connections/deploy.bicep
  modules/Microsoft.Network/vpnGateways/connections/readme.md
  modules/Microsoft.Network/vpnGateways/deploy.bicep
  modules/Microsoft.Network/vpnGateways/natRules/deploy.bicep
  modules/Microsoft.Network/vpnGateways/natRules/readme.md
  modules/Microsoft.Network/vpnGateways/readme.md
Labels: bug, [cat] modules

#2821 [Modules] Fixed bug for storage account premium minimum test file
  modules/Microsoft.Storage/storageAccounts/.test/minPrem/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: bug, [cat] modules

#2812 [CI environment] Integrate PSRule action with GH module workflows
  .github/actions/templates/validateModulePSRule/action.yml
  .github/workflows/ms.network.virtualnetworks.yml
  .github/workflows/platform.librarycheck.psrule.yml
  .github/workflows/template.module.yml
  .ps-rule/min-suppress.Rule.yaml
  utilities/pipelines/PSRuleValidation/Set-PSRuleGitHubOutput.ps1
Labels: enhancement, [cat] pipelines, [cat] testing, [cat] github

#2624 [Wiki] Add further details to identity bug of RSV to documentation
  docs/wiki/Known issues.md
Labels: documentation, wait for author

#2841 [Fixes] Fix target-path reference for Universal Package Publish
  utilities/pipelines/resourcePublish/Publish-ModuleToUniversalArtifactsFeed.ps1
Labels: bug, [cat] publishing, [cat] utilities

#2657 [Modules] Added Database for MySQL Flexible Server Module
  .azuredevops/modulePipelines/ms.dbformysql.flexibleservers.yml
  .github/workflows/ms.dbformysql.flexibleservers.yml
  modules/.shared/.scripts/Get-PairedRegion.ps1
  modules/Microsoft.DBforMySQL/flexibleServers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/.test/min/deploy.test.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/.test/private/dependencies.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/.test/private/deploy.test.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/.test/public/dependencies1.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/.test/public/dependencies2.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/.test/public/deploy.test.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/configurations/deploy.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/configurations/readme.md
  modules/Microsoft.DBforMySQL/flexibleServers/configurations/version.json
  modules/Microsoft.DBforMySQL/flexibleServers/databases/deploy.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/databases/readme.md
  modules/Microsoft.DBforMySQL/flexibleServers/databases/version.json
  modules/Microsoft.DBforMySQL/flexibleServers/deploy.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/firewallRules/deploy.bicep
  modules/Microsoft.DBforMySQL/flexibleServers/firewallRules/readme.md
  modules/Microsoft.DBforMySQL/flexibleServers/firewallRules/version.json
  modules/Microsoft.DBforMySQL/flexibleServers/readme.md
  modules/Microsoft.DBforMySQL/flexibleServers/version.json
Labels: enhancement, [cat] modules

#2832 [Modules] New module Microsoft.App managedEnvironments for Container Apps
  .azuredevops/modulePipelines/ms.app.containerapps.yml
  .azuredevops/modulePipelines/ms.app.managedenvironments.yml
  .github/workflows/ms.app.containerapps.yml
  .github/workflows/ms.app.managedenvironments.yml
  modules/Microsoft.App/containerApps/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.App/containerApps/.test/common/dependencies.bicep
  modules/Microsoft.App/containerApps/.test/common/deploy.test.bicep
  modules/Microsoft.App/containerApps/.test/min/dependencies.bicep
  modules/Microsoft.App/containerApps/.test/min/deploy.test.bicep
  modules/Microsoft.App/containerApps/deploy.bicep
  modules/Microsoft.App/containerApps/readme.md
  modules/Microsoft.App/containerApps/version.json
  modules/Microsoft.App/managedEnvironments/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.App/managedEnvironments/.test/common/dependencies.bicep
  modules/Microsoft.App/managedEnvironments/.test/common/deploy.test.bicep
  modules/Microsoft.App/managedEnvironments/.test/min/dependencies.bicep
  modules/Microsoft.App/managedEnvironments/.test/min/deploy.test.bicep
  modules/Microsoft.App/managedEnvironments/deploy.bicep
  modules/Microsoft.App/managedEnvironments/readme.md
  modules/Microsoft.App/managedEnvironments/version.json
  settings.yml
Labels: enhancement, [cat] modules

#2836 [Modules] Added restrictOutboundNetworkAccess to Microsoft.Sql/servers
  modules/Microsoft.Sql/servers/.test/common/deploy.test.bicep
  modules/Microsoft.Sql/servers/deploy.bicep
  modules/Microsoft.Sql/servers/readme.md
Labels: enhancement, [cat] modules, wait for author

#2798 [Modules] Updated Network Watcher Module to the latest API Version (2022-07-01)
  modules/Microsoft.Network/networkWatchers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/networkWatchers/.test/common/deploy.test.bicep
  modules/Microsoft.Network/networkWatchers/connectionMonitors/deploy.bicep
  modules/Microsoft.Network/networkWatchers/connectionMonitors/readme.md
  modules/Microsoft.Network/networkWatchers/deploy.bicep
  modules/Microsoft.Network/networkWatchers/flowLogs/deploy.bicep
  modules/Microsoft.Network/networkWatchers/flowLogs/readme.md
  modules/Microsoft.Network/networkWatchers/readme.md
Labels: bug, [cat] modules
