Repository Azure/ResourceModules, pull requests merged in 2023-04, with the labels that each got.

#3047 [Wiki] Added a step by step "how to create a solution"
  docs/wiki/Solution creation.md
Labels: documentation, enhancement

#3074 [CI Environment] Introduce custom Pester results section to GitHub workflow runs
  .github/actions/templates/validateModulePester/action.yml
  utilities/pipelines/staticValidation/Set-PesterGitHubOutput.ps1
  utilities/pipelines/staticValidation/module.tests.ps1
Labels: [cat] pipelines, [cat] testing, [cat] github

#2888 [Modules] New Module: Network/ExpressRouteGateway for Virtual Hub Connectivity
  .azuredevops/modulePipelines/ms.network.expressroutegateway.yml
  .github/workflows/ms.network.expressroutegateway.yml
  modules/Microsoft.Network/expressRouteGateway/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/expressRouteGateway/.test/common/dependencies.bicep
  modules/Microsoft.Network/expressRouteGateway/.test/common/deploy.test.bicep
  modules/Microsoft.Network/expressRouteGateway/deploy.bicep
  modules/Microsoft.Network/expressRouteGateway/readme.md
  modules/Microsoft.Network/expressRouteGateway/version.json
Labels: enhancement, [cat] modules

#3042 [Modules] New module Microsoft.Insights webtests
  .azuredevops/modulePipelines/ms.insights.webtests.yml
  .github/workflows/ms.insights.webtests.yml
  modules/Microsoft.EventGrid/domains/deploy.bicep
  modules/Microsoft.EventGrid/domains/readme.md
  modules/Microsoft.Insights/webTests/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Insights/webTests/.test/common/dependencies.bicep
  modules/Microsoft.Insights/webTests/.test/common/deploy.test.bicep
  modules/Microsoft.Insights/webTests/.test/min/dependencies.bicep
  modules/Microsoft.Insights/webTests/.test/min/deploy.test.bicep
  modules/Microsoft.Insights/webTests/deploy.bicep
  modules/Microsoft.Insights/webTests/readme.md
  modules/Microsoft.Insights/webTests/version.json
Labels: enhancement, [cat] modules

#3082 [CI Environment] Remove implementation retrieving deploymentSpId
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
  docs/wiki/The CI environment - Deployment validation.md
  docs/wiki/The CI environment - Token replacement.md
  modules/Microsoft.Network/azureFirewalls/readme.md
  modules/Microsoft.Network/bastionHosts/readme.md
  utilities/pipelines/tokensReplacement/Convert-TokensInFileList.ps1
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/Test-NamePrefixAvailability.ps1
Labels: documentation, enhancement, [cat] pipelines, [cat] github, [cat] azure devops

#3084 [Fixes] Sql servers readme update
  modules/Microsoft.Sql/servers/.test/secondary/deploy.test.bicep
  modules/Microsoft.Sql/servers/encryptionProtector/readme.md
  modules/Microsoft.Sql/servers/readme.md
Labels: bug, documentation, [cat] modules, [cat] testing

#3086 [CI Environment] PSRule fix tags suppression group and add tags to purview
  .ps-rule/na-suppress.Rule.yaml
  modules/Microsoft.Purview/accounts/.test/common/deploy.test.bicep
  modules/Microsoft.Purview/accounts/readme.md
Labels: enhancement, [cat] modules, [cat] testing

#3093 [Modules] SynapseWorkspaces add workspaceRepositoryConfiguration property
  modules/Microsoft.Synapse/workspaces/deploy.bicep
  modules/Microsoft.Synapse/workspaces/readme.md
Labels: enhancement, [cat] modules

#3095 [CI Environment] Removing Az login step from Pester static validation jobs
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .github/actions/templates/validateModulePester/action.yml
Labels: enhancement, [cat] pipelines, [cat] testing, [cat] github, [cat] azure devops

#3039 [Modules] New module Azure Digital Twins and child endpoint
  .azuredevops/modulePipelines/ms.digitaltwins.digitaltwinsinstances.yml
  .github/workflows/ms.digitaltwins.digitaltwinsinstances.yml
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/.test/common/dependencies.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/.test/common/deploy.test.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/.test/min/deploy.test.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/deploy.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-eventGrid/deploy.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-eventGrid/readme.md
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-eventGrid/version.json
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-eventHub/deploy.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-eventHub/readme.md
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-eventHub/version.json
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-serviceBus/deploy.bicep
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-serviceBus/readme.md
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-serviceBus/version.json
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/readme.md
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/version.json
Labels: enhancement, [cat] modules

#3096 [CI Environment] Updated SetEnvironment action to avoid setting up runners twice
  .github/actions/templates/publishModule/action.yml
  .github/actions/templates/setEnvironment/action.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
  .github/workflows/platform.deployment.history.cleanup.yml
  .github/workflows/platform.librarycheck.psrule.yml
  .github/workflows/template.module.yml
  docs/wiki/Solution creation.md
  docs/wiki/The CI environment - Pipeline design.md
Labels: documentation, [cat] pipelines, [cat] github

#3099 [Fixes] Updated ReadMe's of Digital Twins module
  .azuredevops/modulePipelines/ms.digitaltwins.digitaltwinsinstances.yml
  .github/workflows/ms.digitaltwins.digitaltwinsinstances.yml
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-eventGrid/readme.md
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-eventHub/readme.md
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/endpoints-serviceBus/readme.md
  modules/Microsoft.DigitalTwins/digitalTwinsInstances/readme.md
Labels: bug, [cat] modules

#3100 [Modules] Updated Blob Services for Storage Account Module to latest API and added new parameters
  modules/Microsoft.Storage/storageAccounts/.test/common/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/.test/encr/deploy.test.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies/readme.md
  modules/Microsoft.Storage/storageAccounts/blobServices/containers/readme.md
  modules/Microsoft.Storage/storageAccounts/blobServices/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/blobServices/readme.md
  modules/Microsoft.Storage/storageAccounts/deploy.bicep
  modules/Microsoft.Storage/storageAccounts/readme.md
Labels: enhancement, [cat] modules

#2618 [Modules] Remove array tags from properties
  modules/Microsoft.Network/virtualNetworkGateways/deploy.bicep
Labels: bug, [cat] modules, wait for author

#3109 [Modules] Updated more parameters & added test case
  modules/Microsoft.Compute/availabilitySets/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/availabilitySets/deploy.bicep
  modules/Microsoft.Compute/availabilitySets/readme.md
  modules/Microsoft.ContainerService/managedClusters/.test/azure/dependencies.bicep
  modules/Microsoft.ContainerService/managedClusters/.test/azure/deploy.test.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/agentPools/readme.md
  modules/Microsoft.ContainerService/managedClusters/deploy.bicep
  modules/Microsoft.ContainerService/managedClusters/readme.md
Labels: enhancement, [cat] modules

#3111 [CI Environment] Add template for question issue
  .github/ISSUE_TEMPLATE/question_feedback.yml
Labels: [cat] github

#3112 [CI Environment] Enforce opening issues through template
  .github/ISSUE_TEMPLATE/config.yml
Labels: [cat] github

#2673 [Modules] New Microsoft.Compute/sshPublicKey
  .azuredevops/modulePipelines/ms.compute.sshpublickeys.yml
  .github/workflows/ms.compute.sshpublickeys.yml
  modules/Microsoft.Compute/sshPublicKeys/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Compute/sshPublicKeys/.test/common/dependencies.bicep
  modules/Microsoft.Compute/sshPublicKeys/.test/common/deploy.test.bicep
  modules/Microsoft.Compute/sshPublicKeys/.test/min/deploy.test.bicep
  modules/Microsoft.Compute/sshPublicKeys/deploy.bicep
  modules/Microsoft.Compute/sshPublicKeys/readme.md
  modules/Microsoft.Compute/sshPublicKeys/version.json
Labels: enhancement, [cat] modules, wait for author

#3116 [Modules] Add tags on VM extensions. Fixes #3115
  modules/Microsoft.Compute/virtualMachines/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/extensions/deploy.bicep
  modules/Microsoft.Compute/virtualMachines/extensions/readme.md
Labels: enhancement, [cat] modules

#3130 [Modules] Fix readme and add tags to VM extension examples
  modules/Microsoft.Compute/virtualMachines/.test/linux/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/.test/windows/deploy.test.bicep
  modules/Microsoft.Compute/virtualMachines/extensions/readme.md
  modules/Microsoft.Compute/virtualMachines/readme.md
Labels: bug, enhancement, [cat] modules, [cat] testing

#3102 [Modules] Added Public DNS Zone Module
  .azuredevops/modulePipelines/ms.network.dnszones.yml
  .github/workflows/ms.network.dnszones.yml
  modules/Microsoft.Network/dnsZones/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/.test/common/dependencies.bicep
  modules/Microsoft.Network/dnsZones/.test/common/deploy.test.bicep
  modules/Microsoft.Network/dnsZones/.test/min/deploy.test.bicep
  modules/Microsoft.Network/dnsZones/A/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/A/deploy.bicep
  modules/Microsoft.Network/dnsZones/A/readme.md
  modules/Microsoft.Network/dnsZones/A/version.json
  modules/Microsoft.Network/dnsZones/AAAA/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/AAAA/deploy.bicep
  modules/Microsoft.Network/dnsZones/AAAA/readme.md
  modules/Microsoft.Network/dnsZones/AAAA/version.json
  modules/Microsoft.Network/dnsZones/CAA/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/CAA/deploy.bicep
  modules/Microsoft.Network/dnsZones/CAA/readme.md
  modules/Microsoft.Network/dnsZones/CAA/version.json
  modules/Microsoft.Network/dnsZones/CNAME/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/CNAME/deploy.bicep
  modules/Microsoft.Network/dnsZones/CNAME/readme.md
  modules/Microsoft.Network/dnsZones/CNAME/version.json
  modules/Microsoft.Network/dnsZones/MX/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/MX/deploy.bicep
  modules/Microsoft.Network/dnsZones/MX/readme.md
  modules/Microsoft.Network/dnsZones/MX/version.json
  modules/Microsoft.Network/dnsZones/NS/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/NS/deploy.bicep
  modules/Microsoft.Network/dnsZones/NS/readme.md
  modules/Microsoft.Network/dnsZones/NS/version.json
  modules/Microsoft.Network/dnsZones/PTR/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/PTR/deploy.bicep
  modules/Microsoft.Network/dnsZones/PTR/readme.md
  modules/Microsoft.Network/dnsZones/PTR/version.json
  modules/Microsoft.Network/dnsZones/SOA/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/SOA/deploy.bicep
  modules/Microsoft.Network/dnsZones/SOA/readme.md
  modules/Microsoft.Network/dnsZones/SOA/version.json
  modules/Microsoft.Network/dnsZones/SRV/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/SRV/deploy.bicep
  modules/Microsoft.Network/dnsZones/SRV/readme.md
  modules/Microsoft.Network/dnsZones/SRV/version.json
  modules/Microsoft.Network/dnsZones/TXT/.bicep/nested_roleAssignments.bicep
  modules/Microsoft.Network/dnsZones/TXT/deploy.bicep
  modules/Microsoft.Network/dnsZones/TXT/readme.md
  modules/Microsoft.Network/dnsZones/TXT/version.json
  modules/Microsoft.Network/dnsZones/deploy.bicep
  modules/Microsoft.Network/dnsZones/readme.md
  modules/Microsoft.Network/dnsZones/version.json
Labels: enhancement, [cat] modules

#3138 [Modules] Update User Managed Identity module to output Client ID (Application ID)
  modules/Microsoft.ManagedIdentity/userAssignedIdentities/deploy.bicep
  modules/Microsoft.ManagedIdentity/userAssignedIdentities/readme.md
Labels: enhancement, [cat] modules

#3148 [Wiki] Added guidelines to troubleshoot outdated Bicep versions
  README.md
  docs/wiki/The CI environment - Troubleshooting.md
Labels: documentation

#3151 [CI Environment] Renamed linter pipline to show it is optional
  .github/workflows/platform.linter.yml
Labels: [cat] pipelines, [cat] github

#3152 [CI Environment] Add disclaimer to warn about upcoming breaking changes
  README.md
Labels: documentation

#3103 [Modules] Updated Cosmos DB SQL API containers child module with new parameters
  modules/Microsoft.DocumentDB/databaseAccounts/.test/sqldb/deploy.test.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/readme.md
  modules/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/readme.md
  modules/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/deploy.bicep
  modules/Microsoft.DocumentDB/databaseAccounts/sqlDatabases/readme.md
Labels: enhancement, [cat] modules
