Repository Azure/ResourceModules, pull requests merged in 2023-08, with the labels that each got.

#3482 [Wiki] Updated 'sidebar' & 'home' to latest
  docs/wiki/Home.md
  docs/wiki/_Sidebar.md
Labels: documentation

#3501 [Wiki] Update 'context' section to latest
  docs/wiki/Solution creation.md
  docs/wiki/The context - CARML CI environment.md
  docs/wiki/The context - Logical layers and personas.md
Labels: documentation

#3497 [Utilities] Updated Bicep to ARM conversion script
  utilities/tools/ConvertTo-ARMTemplate.ps1
Labels: bug, [cat] utilities

#3510 [Modules] VPN gateways VPN connections fix folder name
  modules/network/vpn-gateways/.test/common/main.test.bicep
  modules/network/vpn-gateways/README.md
  modules/network/vpn-gateways/main.bicep
  modules/network/vpn-gateways/main.json
  modules/network/vpn-gateways/nat-rules/main.json
  modules/network/vpn-gateways/vpn-connections/README.md
  modules/network/vpn-gateways/vpn-connections/main.bicep
  modules/network/vpn-gateways/vpn-connections/main.json
  modules/network/vpn-gateways/vpn-connections/version.json
Labels: enhancement, [cat] modules

#3512 [Modules] RSV backup fabrics new inner folder to comply with resource type hierarchy
  modules/recovery-services/vaults/README.md
  modules/recovery-services/vaults/backup-config/main.json
  modules/recovery-services/vaults/backup-fabrics/protection-containers/README.md
  modules/recovery-services/vaults/backup-fabrics/protection-containers/main.bicep
  modules/recovery-services/vaults/backup-fabrics/protection-containers/main.json
  modules/recovery-services/vaults/backup-fabrics/protection-containers/protected-items/README.md
  modules/recovery-services/vaults/backup-fabrics/protection-containers/protected-items/main.bicep
  modules/recovery-services/vaults/backup-fabrics/protection-containers/protected-items/main.json
  modules/recovery-services/vaults/backup-fabrics/protection-containers/protected-items/version.json
  modules/recovery-services/vaults/backup-fabrics/protection-containers/version.json
  modules/recovery-services/vaults/backup-policies/main.json
  modules/recovery-services/vaults/backup-storage-config/main.json
  modules/recovery-services/vaults/main.bicep
  modules/recovery-services/vaults/main.json
  modules/recovery-services/vaults/replication-alert-settings/main.json
  modules/recovery-services/vaults/replication-fabrics/main.json
  modules/recovery-services/vaults/replication-fabrics/replication-protection-containers/main.json
  modules/recovery-services/vaults/replication-fabrics/replication-protection-containers/replication-protection-container-mappings/main.json
  modules/recovery-services/vaults/replication-policies/main.json
Labels: enhancement, [cat] modules

#3490 [Wiki] Updated 'Getting Started' sections (& utilities) to latest
  docs/wiki/Getting started - Get module cross-references.md
  docs/wiki/Getting started - Scenario 1 Consume library.md
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  utilities/tools/Get-CrossReferencedModuleList.ps1
Labels: documentation

#3495 [Wiki] Updated 'solution creation' to latest
  docs/wiki/Solution creation.md
Labels: documentation

#3486 [Wiki] Updated 'Fetching changes' to latest version
  docs/wiki/Fetching latest changes - Scenario 1 Consume library.md
  docs/wiki/Fetching latest changes - Scenario 2 Module library and CI environment.md
Labels: documentation

#3493 [Wiki] Updated 'known issues' to latest
  docs/wiki/Known issues.md
Labels: documentation

#3505 [Modules] Added Private Endpoint support to Cosmos DB
  .azuredevops/modulePipelines/ms.documentdb.databaseaccounts.yml
  .github/workflows/ms.documentdb.databaseaccounts.yml
  modules/document-db/database-accounts/.test/sqldb/dependencies.bicep
  modules/document-db/database-accounts/.test/sqldb/main.test.bicep
  modules/document-db/database-accounts/README.md
  modules/document-db/database-accounts/main.bicep
  modules/document-db/database-accounts/main.json
Labels: enhancement, [cat] modules

#3484 [Wiki] Update 'Contribution Guide' to latest
  docs/wiki/Contribution guide - Contribution flow.md
  docs/wiki/media/ContributionGuide/projectsTab.png
Labels: documentation

#3524 [Modules] Updated Synapse CMK interface
  modules/synapse/workspaces/main.bicep
  modules/synapse/workspaces/main.json
Labels: enhancement, [cat] modules

#3499 [Wiki] Updated "CI Environment' to latest
  docs/wiki/The CI environment - Pipeline design.md
  docs/wiki/The CI environment - Pipeline usage.md
  docs/wiki/The CI environment - Publishing.md
  docs/wiki/The CI environment - Static validation.md
  docs/wiki/media/CIEnvironment/dependencyPipelineInput.png
  docs/wiki/media/CIEnvironment/modulePipelineInput.png
  docs/wiki/media/CIEnvironment/pipelinePhasesADO.png
  docs/wiki/media/CIEnvironment/pipelinePhasesGH.png
  docs/wiki/media/CIEnvironment/pipelineStart3.png
  docs/wiki/media/CIEnvironment/publishingOutput.png
  docs/wiki/media/CIEnvironment/staticValidationOutput.png
Labels: documentation

#3471 [Utilities] Updated utility references to new naming scheme
  utilities/pipelines/resourceDeployment/New-TemplateDeployment.ps1
  utilities/pipelines/resourceDeployment/Test-TemplateDeployment.ps1
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromPrivateBicepRegistry.ps1
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromTemplateSpecsRG.ps1
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromUniversalArtifactsFeed.ps1
  utilities/pipelines/resourcePublish/Get-ModulesToPublish.ps1
  utilities/pipelines/resourcePublish/Get-PrivateRegistryRepositoryName.ps1
  utilities/pipelines/resourcePublish/Get-TemplateSpecsName.ps1
  utilities/pipelines/resourcePublish/Get-UniversalArtifactsName.ps1
  utilities/pipelines/resourcePublish/Publish-ModuleToPrivateBicepRegistry.ps1
  utilities/pipelines/resourcePublish/Publish-ModuleToTemplateSpecsRG.ps1
  utilities/pipelines/resourcePublish/Publish-ModuleToUniversalArtifactsFeed.ps1
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
  utilities/pipelines/sharedScripts/Get-ModuleTestFileList.ps1
  utilities/pipelines/sharedScripts/Get-NestedResourceList.ps1
  utilities/pipelines/staticValidation/Set-PesterGitHubOutput.ps1
  utilities/tools/ConvertTo-ARMTemplate.ps1
  utilities/tools/Get-CrossReferencedModuleList.ps1
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/Test-ModuleLocally.ps1
  utilities/tools/Update-RoleAssignmentList.ps1
  utilities/tools/helper/Get-ModulesAsMarkdownTable.ps1
Labels: [cat] utilities

#3488 [Modules] Update SA/blobservice - deleteRetentionPolicy fix and addition
  modules/storage/storage-accounts/.test/common/main.test.bicep
  modules/storage/storage-accounts/.test/encr/main.test.bicep
  modules/storage/storage-accounts/README.md
  modules/storage/storage-accounts/blob-services/README.md
  modules/storage/storage-accounts/blob-services/main.bicep
  modules/storage/storage-accounts/blob-services/main.json
  modules/storage/storage-accounts/main.bicep
  modules/storage/storage-accounts/main.json
Labels: bug, enhancement, [cat] modules

#3508 [CI environment] Retrieve main resource type leveraging api specs
  modules/authorization/locks/resource-group/README.md
  modules/authorization/locks/subscription/README.md
  modules/authorization/policy-assignments/management-group/README.md
  modules/authorization/policy-assignments/resource-group/README.md
  modules/authorization/policy-assignments/subscription/README.md
  modules/authorization/policy-definitions/management-group/README.md
  modules/authorization/policy-definitions/subscription/README.md
  modules/authorization/policy-exemptions/management-group/README.md
  modules/authorization/policy-exemptions/resource-group/README.md
  modules/authorization/policy-exemptions/subscription/README.md
  modules/authorization/policy-set-definitions/management-group/README.md
  modules/authorization/policy-set-definitions/subscription/README.md
  modules/authorization/role-assignments/management-group/README.md
  modules/authorization/role-assignments/resource-group/README.md
  modules/authorization/role-assignments/subscription/README.md
  modules/authorization/role-definitions/management-group/README.md
  modules/authorization/role-definitions/resource-group/README.md
  modules/authorization/role-definitions/subscription/README.md
  modules/cache/redis/README.md
  modules/db-for-postgre-sql/flexible-servers/README.md
  modules/db-for-postgre-sql/flexible-servers/configurations/README.md
  modules/db-for-postgre-sql/flexible-servers/databases/README.md
  modules/db-for-postgre-sql/flexible-servers/firewall-rules/README.md
  modules/insights/private-link-scopes/README.md
  modules/network/express-route-gateway/README.md
  modules/policy-insights/remediations/management-group/README.md
  modules/policy-insights/remediations/resource-group/README.md
  modules/policy-insights/remediations/subscription/README.md
  modules/resources/tags/resource-groups/README.md
  modules/resources/tags/subscriptions/README.md
  modules/security/azure-security-center/README.md
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/helper/ConvertTo-ModuleResourceType.ps1
  utilities/tools/helper/Get-SpecsAlignedResourceName.ps1
Labels: documentation, [cat] modules, [cat] testing

#3504 [Wiki] Updated 'Module Library' section to latest
  docs/wiki/The library - Module design.md
  docs/wiki/The library - Module usage.md
Labels: documentation

#3411 [CI Environment] Improved robustness of registry publishing logic
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromPrivateBicepRegistry.ps1
Labels: enhancement, [cat] publishing, [cat] utilities

#3557 [Fixes] Update storage account main.json
  modules/storage/storage-accounts/blob-services/containers/immutability-policies/main.json
  modules/storage/storage-accounts/blob-services/containers/main.json
  modules/storage/storage-accounts/blob-services/main.json
  modules/storage/storage-accounts/file-services/main.json
  modules/storage/storage-accounts/file-services/shares/main.json
  modules/storage/storage-accounts/local-users/main.json
  modules/storage/storage-accounts/main.json
  modules/storage/storage-accounts/management-policies/main.json
  modules/storage/storage-accounts/queue-services/main.json
  modules/storage/storage-accounts/queue-services/queues/main.json
  modules/storage/storage-accounts/table-services/main.json
  modules/storage/storage-accounts/table-services/tables/main.json
Labels: bug, [cat] modules

#3559 [Fixes] DB for postgreSQL regenerate readmes and json files
  modules/db-for-my-sql/flexible-servers/databases/main.json
  modules/db-for-my-sql/flexible-servers/firewall-rules/main.json
  modules/db-for-my-sql/flexible-servers/main.json
  modules/db-for-postgre-sql/flexible-servers/README.md
  modules/db-for-postgre-sql/flexible-servers/configurations/README.md
  modules/db-for-postgre-sql/flexible-servers/configurations/main.json
  modules/db-for-postgre-sql/flexible-servers/databases/README.md
  modules/db-for-postgre-sql/flexible-servers/databases/main.json
  modules/db-for-postgre-sql/flexible-servers/firewall-rules/README.md
  modules/db-for-postgre-sql/flexible-servers/firewall-rules/main.json
  modules/db-for-postgre-sql/flexible-servers/main.json
Labels: bug, [cat] modules

#3562 [Fixes] ExpressRouteGateway - Update pipeline name to align with naming convention
  .azuredevops/modulePipelines/ms.network.expressroutegateways.yml
  .github/workflows/ms.network.expressroutegateways.yml
Labels: bug, [cat] pipelines, [cat] testing

#3558 [Fixes] VM - Update cross reference to updated rsv module
  .azuredevops/modulePipelines/ms.compute.virtualmachines.yml
  .github/workflows/ms.compute.virtualmachines.yml
  modules/compute/virtual-machines/README.md
  modules/compute/virtual-machines/extensions/main.json
  modules/compute/virtual-machines/main.bicep
  modules/compute/virtual-machines/main.json
Labels: bug, [cat] modules

#3567 [Fixes] Update get core function
  .github/workflows/ms.network.expressroutegateways.yml
  utilities/tools/helper/Get-SpecsAlignedResourceName.ps1
Labels: bug, [cat] testing, [cat] utilities

#3338 [Modules] Feature/azure firewall basic SKU
  modules/network/azure-firewalls/README.md
  modules/network/azure-firewalls/main.bicep
Labels: enhancement, [cat] modules

#3569 [Modules] Azure Firewall - Added 'Basic' SKU support
  modules/network/azure-firewalls/.test/addpip/dependencies.bicep
  modules/network/azure-firewalls/.test/addpip/main.test.bicep
  modules/network/azure-firewalls/README.md
  modules/network/azure-firewalls/main.bicep
  modules/network/azure-firewalls/main.json
Labels: enhancement, [cat] modules

#3582 3523 hosts pools ScheduledAgentUpdates issue
  .gitignore
  modules/desktop-virtualization/host-pools/README.md
  modules/desktop-virtualization/host-pools/main.bicep
  modules/desktop-virtualization/host-pools/main.json
Labels: bug, [cat] modules

#3719 [PSRule] Fix Rule Azure.Policy.AssignmentAssignedBy #2667
  modules/authorization/policy-assignment/.test/mg.common/main.test.bicep
  modules/authorization/policy-assignment/.test/mg.min/main.test.bicep
  modules/authorization/policy-assignment/.test/rg.common/main.test.bicep
  modules/authorization/policy-assignment/.test/rg.min/main.test.bicep
  modules/authorization/policy-assignment/.test/sub.common/main.test.bicep
  modules/authorization/policy-assignment/.test/sub.min/main.test.bicep
  modules/authorization/policy-assignment/README.md
Labels: enhancement, [cat] modules

#3717 [Fixes] Fix Set-EnvironmentOnAgent param mapping
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .azuredevops/pipelineTemplates/jobs.validateModulePester.yml
  .azuredevops/platformPipelines/platform.deployment.history.cleanup.yml
  .github/actions/templates/setEnvironment/action.yml
  .github/workflows/platform.apiSpecs.yml
  utilities/pipelines/sharedScripts/Set-EnvironmentOnAgent.ps1
Labels: bug, [cat] pipelines, [cat] utilities

#3713 [Modules] Allowed missing Front Door SKUs
  modules/cdn/profile/README.md
  modules/cdn/profile/main.bicep
  modules/cdn/profile/main.json
Labels: enhancement, [cat] modules

#3576 [Fixes] Fixed script resolving local referenecs
  modules/compute/virtual-machine/README.md
  utilities/tools/Get-CrossReferencedModuleList.ps1
Labels: bug, documentation

#3780 [Fixes] Update remaining API for networking resources
  constructs/Network/virtualNetwork/virtualNetworkPeeringsMultiRemoteVnets/README.md
  constructs/Network/virtualNetwork/virtualNetworkPeeringsMultiRemoteVnets/main.bicep
  modules/network/express-route-gateway/.test/common/dependencies.bicep
  modules/network/firewall-policy/README.md
  modules/network/firewall-policy/main.json
  modules/network/firewall-policy/rule-collection-group/README.md
  modules/network/firewall-policy/rule-collection-group/main.bicep
  modules/network/firewall-policy/rule-collection-group/main.json
  modules/network/load-balancer/README.md
  modules/network/load-balancer/backend-address-pool/README.md
  modules/network/load-balancer/backend-address-pool/main.bicep
  modules/network/load-balancer/backend-address-pool/main.json
  modules/network/load-balancer/inbound-nat-rule/README.md
  modules/network/load-balancer/inbound-nat-rule/main.bicep
  modules/network/load-balancer/inbound-nat-rule/main.json
  modules/network/load-balancer/main.json
  modules/network/network-interface/.test/common/dependencies.bicep
  modules/network/network-security-group/README.md
  modules/network/network-security-group/main.json
  modules/network/network-security-group/security-rule/README.md
  modules/network/network-security-group/security-rule/main.bicep
  modules/network/network-security-group/security-rule/main.json
  modules/network/virtual-network-gateway/README.md
  modules/network/virtual-network-gateway/main.json
  modules/network/virtual-network-gateway/nat-rule/README.md
  modules/network/virtual-network-gateway/nat-rule/main.bicep
  modules/network/virtual-network-gateway/nat-rule/main.json
  modules/network/virtual-network/README.md
  modules/network/virtual-network/main.bicep
  modules/network/virtual-network/main.json
  modules/network/virtual-network/subnet/.bicep/nested_roleAssignments.bicep
  modules/network/virtual-network/subnet/README.md
  modules/network/virtual-network/subnet/main.bicep
  modules/network/virtual-network/subnet/main.json
  modules/network/virtual-network/virtual-network-peering/README.md
  modules/network/virtual-network/virtual-network-peering/main.bicep
  modules/network/virtual-network/virtual-network-peering/main.json
  modules/network/vpn-gateway/README.md
  modules/network/vpn-gateway/main.json
  modules/network/vpn-gateway/nat-rule/README.md
  modules/network/vpn-gateway/nat-rule/main.bicep
  modules/network/vpn-gateway/nat-rule/main.json
  modules/network/vpn-gateway/vpn-connection/README.md
  modules/network/vpn-gateway/vpn-connection/main.bicep
  modules/network/vpn-gateway/vpn-connection/main.json
Labels: [prio] high, [cat] modules

#3871 [Fixes] Update deployment search to not prematurely throw an exception
  utilities/pipelines/resourceRemoval/helper/Get-DeploymentTargetResourceList.ps1
  utilities/pipelines/resourceRemoval/helper/Remove-Deployment.ps1
Labels: bug, [cat] pipelines

#3873 [Modules] New module for `Microsoft.ResourceGraph/queries`
  .azuredevops/modulePipelines/ms.resourcegraph.queries.yml
  .github/workflows/ms.resourcegraph.queries.yml
  modules/resource-graph/query/.bicep/nested_roleAssignments.bicep
  modules/resource-graph/query/.test/common/dependencies.bicep
  modules/resource-graph/query/.test/common/main.test.bicep
  modules/resource-graph/query/.test/main.test.bicep
  modules/resource-graph/query/.test/min/main.test.bicep
  modules/resource-graph/query/README.md
  modules/resource-graph/query/main.bicep
  modules/resource-graph/query/main.json
  modules/resource-graph/query/version.json
Labels: [cat] modules

#3718 Bicep module to create Front Door WAF Policy
  .azuredevops/modulePipelines/ms.network.frontdoorwebapplicationfirewallpolicies.yml
  .github/workflows/ms.network.frontdoorwebapplicationfirewallpolicies.yml
  modules/network/front-door-web-application-firewall-policy/.bicep/nested_roleAssignments.bicep
  modules/network/front-door-web-application-firewall-policy/.test/common/main.test.bicep
  modules/network/front-door-web-application-firewall-policy/.test/main.test.bicep
  modules/network/front-door-web-application-firewall-policy/README.md
  modules/network/front-door-web-application-firewall-policy/main.bicep
  modules/network/front-door-web-application-firewall-policy/main.json
  modules/network/front-door-web-application-firewall-policy/version.json
Labels: [cat] modules

#3881 [Modules] Bicep module to create Front Door WAF Policy (#3718)
  .azuredevops/modulePipelines/ms.network.frontdoorwebapplicationfirewallpolicies.yml
  .github/workflows/ms.network.frontdoorwebapplicationfirewallpolicies.yml
  modules/network/front-door-web-application-firewall-policy/.bicep/nested_roleAssignments.bicep
  modules/network/front-door-web-application-firewall-policy/.test/common/dependencies.bicep
  modules/network/front-door-web-application-firewall-policy/.test/common/main.test.bicep
  modules/network/front-door-web-application-firewall-policy/.test/main.test.bicep
  modules/network/front-door-web-application-firewall-policy/.test/min/main.test.bicep
  modules/network/front-door-web-application-firewall-policy/README.md
  modules/network/front-door-web-application-firewall-policy/main.bicep
  modules/network/front-door-web-application-firewall-policy/main.json
  modules/network/front-door-web-application-firewall-policy/version.json
Labels: [cat] modules
