Repository Azure/ResourceModules, pull requests merged in 2023-09, with the labels that each got.

#3893 [PSRule] Fix Rule Azure.Policy.AssignmentDescriptors #2668
  .ps-rule/min-suppress.Rule.yaml
  modules/authorization/policy-assignment/.test/mg.min/main.test.bicep
  modules/authorization/policy-assignment/.test/rg.min/main.test.bicep
  modules/authorization/policy-assignment/.test/sub.min/main.test.bicep
  modules/authorization/policy-assignment/README.md
Labels: enhancement, [cat] pipelines, [cat] modules, [cat] testing

#3895 Fix Rule Azure.Policy.Descriptors
  .ps-rule/min-suppress.Rule.yaml
Labels: enhancement, [cat] pipelines, [cat] modules, [cat] testing

#3897 [PSRule] Fix Rule Azure.Policy.ExemptionDescriptors
  .ps-rule/min-suppress.Rule.yaml
Labels: enhancement, [cat] pipelines, [cat] modules, [cat] testing

#3899 [Modules] Update SQL Server test to support dynamic location parameter for Maintenance Configuration
  modules/sql/server/.test/common/main.test.bicep
Labels: bug, [cat] modules

#3892 [CI Environment] Enabled the usage of both the old published module name, as well as the new PBR-aligned
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .github/actions/templates/publishModule/action.yml
  .github/workflows/template.module.yml
  settings.yml
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromPrivateBicepRegistry.ps1
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromTemplateSpecsRG.ps1
  utilities/pipelines/resourcePublish/Get-ModulesMissingFromUniversalArtifactsFeed.ps1
  utilities/pipelines/resourcePublish/Get-PrivateRegistryRepositoryName.ps1
  utilities/pipelines/resourcePublish/Get-TemplateSpecsName.ps1
  utilities/pipelines/resourcePublish/Get-UniversalArtifactsName.ps1
  utilities/pipelines/resourcePublish/Publish-ModuleToPrivateBicepRegistry.ps1
  utilities/pipelines/resourcePublish/Publish-ModuleToTemplateSpecsRG.ps1
  utilities/pipelines/resourcePublish/Publish-ModuleToUniversalArtifactsFeed.ps1
  utilities/tools/Set-ModuleReadMe.ps1
  utilities/tools/helper/ConvertTo-ModuleResourceType.ps1
  utilities/tools/helper/Get-SpecsAlignedResourceName.ps1
Labels: bug, enhancement, [cat] publishing, [cat] github, [cat] azure devops

#3905 Fixed diverse references
  modules/document-db/database-account/README.md
  modules/document-db/database-account/mongodb-database/README.md
  modules/network/virtual-network/README.md
  modules/operational-insights/workspace/README.md
Labels: bug, documentation

#3900 [Modules] Updated ACR common test case to support Paired region dependencies and updated to latest API version
  modules/container-registry/registry/.bicep/nested_roleAssignments.bicep
  modules/container-registry/registry/.test/common/dependencies.bicep
  modules/container-registry/registry/.test/common/main.test.bicep
  modules/container-registry/registry/README.md
  modules/container-registry/registry/main.bicep
  modules/container-registry/registry/main.json
  modules/container-registry/registry/replication/README.md
  modules/container-registry/registry/replication/main.bicep
  modules/container-registry/registry/replication/main.json
  modules/container-registry/registry/webhook/README.md
  modules/container-registry/registry/webhook/main.bicep
  modules/container-registry/registry/webhook/main.json
Labels: bug, [cat] modules

#3667 [Suggestion] - Some changes to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement, [cat] github, [cat] organization

#3715 [Modules] ML - Wait on Private Endpoints before creating compute instances
  modules/machine-learning-services/workspace/main.bicep
  modules/machine-learning-services/workspace/main.json
Labels: enhancement, [cat] modules

#3326 [Modules] New child module ACR cache-rules
  modules/container-registry/registries/cache-rules/README.md
  modules/container-registry/registries/cache-rules/main.bicep
  modules/container-registry/registries/cache-rules/metadata.json
  modules/container-registry/registries/cache-rules/version.json
  modules/container-registry/registry/README.md
  modules/container-registry/registry/main.bicep
Labels: enhancement, [cat] modules, wait for author

#3909 [Modules] New child module ACR cache-rules
  modules/container-registry/registry/.test/common/main.test.bicep
  modules/container-registry/registry/README.md
  modules/container-registry/registry/cache-rules/README.md
  modules/container-registry/registry/cache-rules/main.bicep
  modules/container-registry/registry/cache-rules/main.json
  modules/container-registry/registry/cache-rules/version.json
  modules/container-registry/registry/main.bicep
  modules/container-registry/registry/main.json
Labels: enhancement, [cat] modules

#3915 [Utilities] Added 'required module' to `Set-ModuleReadMe.ps1` script
  utilities/tools/Set-ModuleReadMe.ps1
Labels: enhancement, [cat] utilities

#3583 [Fixes] Update ADO pipeline conditions to make it impossible to continue on canceled job
  .azuredevops/pipelineTemplates/stages.module.yml
Labels: bug, [cat] pipelines, [cat] azure devops

#3906 [CI Platform] Enabled module publishing from feature branch prerelease publishing without publishing stable version
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .github/actions/templates/publishModule/action.yml
  utilities/tools/Set-ModuleReadMe.ps1
Labels: bug, [cat] publishing, [cat] github, [cat] azure devops

#3883 [Modules] New module for `Microsoft.Search/searchServices`
  .azuredevops/modulePipelines/ms.search.searchservices.yml
  .github/workflows/ms.search.searchservices.yml
  modules/search/search-service/.bicep/nested_roleAssignments.bicep
  modules/search/search-service/.test/common/dependencies.bicep
  modules/search/search-service/.test/common/main.test.bicep
  modules/search/search-service/.test/main.test.bicep
  modules/search/search-service/.test/min/main.test.bicep
  modules/search/search-service/.test/pe/dependencies.bicep
  modules/search/search-service/.test/pe/main.test.bicep
  modules/search/search-service/README.md
  modules/search/search-service/main.bicep
  modules/search/search-service/main.json
  modules/search/search-service/shared-private-link-resource/README.md
  modules/search/search-service/shared-private-link-resource/main.bicep
  modules/search/search-service/shared-private-link-resource/main.json
  modules/search/search-service/shared-private-link-resource/version.json
  modules/search/search-service/version.json
Labels: [cat] modules

#3924 [Wiki] Updated Guidelines around publishing
  docs/wiki/Getting started - Scenario 2 Onboard module library and CI environment.md
  docs/wiki/The CI environment - Publishing.md
Labels: documentation, enhancement

#3923 [Modules] Updated Data-Protection Vault API version
  modules/data-protection/backup-vault/.bicep/nested_roleAssignments.bicep
  modules/data-protection/backup-vault/README.md
  modules/data-protection/backup-vault/backup-policy/README.md
  modules/data-protection/backup-vault/backup-policy/main.bicep
  modules/data-protection/backup-vault/backup-policy/main.json
  modules/data-protection/backup-vault/main.bicep
  modules/data-protection/backup-vault/main.json
Labels: enhancement, [cat] modules

#3920 [Modules] Update the AKS API Version to latest and added new features
  modules/container-service/managed-cluster/.test/azure/dependencies.bicep
  modules/container-service/managed-cluster/.test/azure/main.test.bicep
  modules/container-service/managed-cluster/.test/kubenet/main.test.bicep
  modules/container-service/managed-cluster/.test/priv/main.test.bicep
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/agent-pool/README.md
  modules/container-service/managed-cluster/agent-pool/main.bicep
  modules/container-service/managed-cluster/agent-pool/main.json
  modules/container-service/managed-cluster/main.bicep
  modules/container-service/managed-cluster/main.json
Labels: bug, enhancement, [cat] modules

#3930 [Modules] Added 'Known Issue' for Lighthouse
  docs/wiki/Known issues.md
  modules/managed-services/registration-definition/.test/common/main.test.bicep
  modules/managed-services/registration-definition/.test/rg/main.test.bicep
  modules/managed-services/registration-definition/README.md
Labels: documentation, [cat] modules

#3931 [Fixes] Fixed `ConvertTo-ARMTemplate` test case
  .github/workflows/platform.convertToArmTemplate.tests.yml
  utilities/tools/tests/ConvertTo-ARMTemplate.Tests.ps1
Labels: bug, [cat] testing

#3932 [Fixes] ManagementGroup: Fixed test template target scope
  modules/management/management-group/.test/main.test.bicep
Labels: bug, [cat] testing

#3935 [Fixes] Policy-Insights: Fixed possible scope for test cases
  modules/policy-insights/remediation/.test/main.test.bicep
Labels: bug, [cat] testing

#3934 [Fixes] Lock: Removed unused test parameter
  modules/authorization/lock/.test/common/main.test.bicep
  modules/authorization/lock/.test/main.test.bicep
Labels: bug, [cat] testing

#3928 [Modules} Network Application-Gateway: Added private endpoint support
  .azuredevops/modulePipelines/ms.network.applicationgateways.yml
  .github/workflows/ms.network.applicationgateways.yml
  modules/network/application-gateway/.test/common/dependencies.bicep
  modules/network/application-gateway/.test/common/main.test.bicep
  modules/network/application-gateway/README.md
  modules/network/application-gateway/main.bicep
  modules/network/application-gateway/main.json
Labels: enhancement, [cat] modules

#3933 [Fixes] NetworkWatcher: Removed unused input param for min test
  modules/network/network-watcher/.test/main.test.bicep
  modules/network/network-watcher/.test/min/main.test.bicep
Labels: bug, [cat] testing

#3936 [Fixes] Tags: Removed unused param
  modules/resources/tags/.test/main.test.bicep
  modules/resources/tags/.test/min/main.test.bicep
  modules/resources/tags/.test/rg/main.test.bicep
  modules/resources/tags/.test/sub/main.test.bicep
Labels: bug, [cat] testing

#3937 [Fixes] Fixed ConvertTo-ARMTemplate test case
  utilities/tools/tests/ConvertTo-ARMTemplate.Tests.ps1
Labels: bug, [cat] utilities

#3942 [Modules] Updated Redis RBAC nested module naming
  modules/cache/redis/main.bicep
  modules/cache/redis/main.json
Labels: bug, [cat] modules

#3941 [Modules] Updated Managed Identity API Version and Added Federated Identity Credential
  modules/managed-identity/user-assigned-identity/.test/common/main.test.bicep
  modules/managed-identity/user-assigned-identity/.test/min/main.test.bicep
  modules/managed-identity/user-assigned-identity/README.md
  modules/managed-identity/user-assigned-identity/federated-identity-credential/README.md
  modules/managed-identity/user-assigned-identity/federated-identity-credential/main.bicep
  modules/managed-identity/user-assigned-identity/federated-identity-credential/main.json
  modules/managed-identity/user-assigned-identity/federated-identity-credential/version.json
  modules/managed-identity/user-assigned-identity/main.bicep
  modules/managed-identity/user-assigned-identity/main.json
Labels: enhancement, [cat] modules

#3946 [Modules] Updated Cosmos DB Module tests to support dynamic primary and secondary region locations
  modules/document-db/database-account/.test/gremlindb/dependencies.bicep
  modules/document-db/database-account/.test/gremlindb/main.test.bicep
  modules/document-db/database-account/.test/mongodb/dependencies.bicep
  modules/document-db/database-account/.test/mongodb/main.test.bicep
  modules/document-db/database-account/.test/plain/dependencies.bicep
  modules/document-db/database-account/.test/plain/main.test.bicep
  modules/document-db/database-account/.test/sqldb/dependencies.bicep
  modules/document-db/database-account/.test/sqldb/main.test.bicep
  modules/document-db/database-account/README.md
Labels: bug, [cat] modules

#3951 [Modules] Update allowed version values
  modules/db-for-postgre-sql/flexible-server/README.md
  modules/db-for-postgre-sql/flexible-server/main.bicep
  modules/db-for-postgre-sql/flexible-server/main.json
Labels: enhancement, [cat] modules

#3952 [Modules] Enable AAD authentication
  modules/db-for-postgre-sql/flexible-server/README.md
  modules/db-for-postgre-sql/flexible-server/administrator/README.md
  modules/db-for-postgre-sql/flexible-server/administrator/main.bicep
  modules/db-for-postgre-sql/flexible-server/administrator/main.json
  modules/db-for-postgre-sql/flexible-server/administrator/version.json
  modules/db-for-postgre-sql/flexible-server/main.bicep
  modules/db-for-postgre-sql/flexible-server/main.json
Labels: enhancement, [cat] modules

#3953 [Modules] Enable AAD authentication (#3952)
  modules/db-for-postgre-sql/flexible-server/.test/public/dependencies.bicep
  modules/db-for-postgre-sql/flexible-server/.test/public/main.test.bicep
  modules/db-for-postgre-sql/flexible-server/README.md
  modules/db-for-postgre-sql/flexible-server/administrator/README.md
  modules/db-for-postgre-sql/flexible-server/administrator/main.bicep
  modules/db-for-postgre-sql/flexible-server/administrator/main.json
  modules/db-for-postgre-sql/flexible-server/administrator/version.json
  modules/db-for-postgre-sql/flexible-server/main.bicep
  modules/db-for-postgre-sql/flexible-server/main.json
Labels: enhancement, [cat] modules

#3957 [CI Platform] Fixed ADO Publish Job for Bicep Registry ordering for prerelease and feature branch publishing
  .azuredevops/pipelineTemplates/jobs.publishModule.yml
  .github/actions/templates/publishModule/action.yml
Labels: bug, [cat] publishing, [cat] github, [cat] azure devops

#3956 [Modules] Support for inGuest Patch support with Azure Update Manager
  modules/maintenance/maintenance-configuration/.test/common/main.test.bicep
  modules/maintenance/maintenance-configuration/README.md
  modules/maintenance/maintenance-configuration/main.bicep
  modules/maintenance/maintenance-configuration/main.json
Labels: enhancement, [cat] modules

#3979 [Modules] Updated Log Analytics Workspace - Saved Search module typo
  modules/operational-insights/workspace/main.bicep
  modules/operational-insights/workspace/main.json
  modules/operational-insights/workspace/saved-search/README.md
  modules/operational-insights/workspace/saved-search/main.bicep
  modules/operational-insights/workspace/saved-search/main.json
  modules/operational-insights/workspace/saved-search/version.json
Labels: bug, [cat] modules

#3983 [Fixes] Adjusted case-handling for NFSv3 to improve idempotency
  modules/storage/storage-account/main.bicep
  modules/storage/storage-account/main.json
Labels: bug, [cat] modules

#3982 [Modules] Added support for Azure AD Authentication for MySQL Flexible Server
  modules/db-for-my-sql/flexible-server/.test/private/dependencies.bicep
  modules/db-for-my-sql/flexible-server/.test/private/main.test.bicep
  modules/db-for-my-sql/flexible-server/README.md
  modules/db-for-my-sql/flexible-server/administrator/README.md
  modules/db-for-my-sql/flexible-server/administrator/main.bicep
  modules/db-for-my-sql/flexible-server/administrator/main.json
  modules/db-for-my-sql/flexible-server/administrator/version.json
  modules/db-for-my-sql/flexible-server/main.bicep
  modules/db-for-my-sql/flexible-server/main.json
Labels: enhancement, [cat] modules

#3984 [Modules] Added module for Redis Cache Enterprise and Database
  .azuredevops/modulePipelines/ms.cache.redisenterprise.yml
  .github/workflows/ms.cache.redisenterprise.yml
  modules/cache/redis-enterprise/.bicep/nested_roleAssignments.bicep
  modules/cache/redis-enterprise/.test/common/dependencies.bicep
  modules/cache/redis-enterprise/.test/common/main.test.bicep
  modules/cache/redis-enterprise/.test/geo/dependencies.bicep
  modules/cache/redis-enterprise/.test/geo/main.test.bicep
  modules/cache/redis-enterprise/.test/min/main.test.bicep
  modules/cache/redis-enterprise/README.md
  modules/cache/redis-enterprise/database/README.md
  modules/cache/redis-enterprise/database/main.bicep
  modules/cache/redis-enterprise/database/main.json
  modules/cache/redis-enterprise/database/version.json
  modules/cache/redis-enterprise/main.bicep
  modules/cache/redis-enterprise/main.json
  modules/cache/redis-enterprise/version.json
Labels: enhancement, [cat] modules

#3958 [AVM] Added disclaimer draft
  README.md
Labels: [prio] high

#3991 [Fixes] Readme updates for updated resource type url ref
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/agent-pool/README.md
  modules/healthcare-apis/workspace/README.md
  modules/healthcare-apis/workspace/dicomservice/README.md
  modules/healthcare-apis/workspace/fhirservice/README.md
  modules/healthcare-apis/workspace/iotconnector/README.md
  modules/healthcare-apis/workspace/iotconnector/fhirdestination/README.md
  modules/insights/action-group/README.md
Labels: bug, documentation, [cat] modules

#4022 [Utilities] Enabled `Set-ModuleReadMe` to find looped test cases
  utilities/tools/Set-ModuleReadMe.ps1
Labels: enhancement, [cat] utilities

#4026 [CI Environment] Updated reference resolution to simplified AVM approach
  .azuredevops/pipelineTemplates/jobs.validateModuleDeployment.yml
  .github/actions/templates/validateModuleDeployment/action.yml
  .github/actions/templates/validateModulePester/action.yml
  modules/key-vault/vault/README.md
  modules/web/site/slot/README.md
  utilities/pipelines/sharedScripts/Get-LocallyReferencedFileList.ps1
  utilities/tools/Get-CrossReferencedModuleList.ps1
Labels: enhancement, [cat] utilities

#4029 [Modules] Updated Key Vault Module Readme
  modules/key-vault/vault/README.md
  modules/key-vault/vault/access-policy/main.json
  modules/key-vault/vault/key/main.json
  modules/key-vault/vault/secret/main.json
Labels: bug, [cat] modules

#4027 [Modules] Updated Web Sites API Version to '2022-09-01' and added new parameters
  modules/web/site/.bicep/nested_roleAssignments.bicep
  modules/web/site/.test/webAppCommon/main.test.bicep
  modules/web/site/README.md
  modules/web/site/basic-publishing-credentials-policy/README.md
  modules/web/site/basic-publishing-credentials-policy/main.bicep
  modules/web/site/basic-publishing-credentials-policy/main.json
  modules/web/site/config--appsettings/README.md
  modules/web/site/config--appsettings/main.bicep
  modules/web/site/config--appsettings/main.json
  modules/web/site/config--authsettingsv2/README.md
  modules/web/site/config--authsettingsv2/main.bicep
  modules/web/site/config--authsettingsv2/main.json
  modules/web/site/hybrid-connection-namespace/relay/README.md
  modules/web/site/hybrid-connection-namespace/relay/main.bicep
  modules/web/site/hybrid-connection-namespace/relay/main.json
  modules/web/site/main.bicep
  modules/web/site/main.json
  modules/web/site/slot/.bicep/nested_roleAssignments.bicep
  modules/web/site/slot/README.md
  modules/web/site/slot/config--appsettings/README.md
  modules/web/site/slot/config--appsettings/main.bicep
  modules/web/site/slot/config--appsettings/main.json
  modules/web/site/slot/config--authsettingsv2/README.md
  modules/web/site/slot/config--authsettingsv2/main.bicep
  modules/web/site/slot/config--authsettingsv2/main.json
  modules/web/site/slot/hybrid-connection-namespace/relay/README.md
  modules/web/site/slot/hybrid-connection-namespace/relay/main.bicep
  modules/web/site/slot/hybrid-connection-namespace/relay/main.json
  modules/web/site/slot/main.bicep
  modules/web/site/slot/main.json
Labels: enhancement, [cat] modules

#4034 [Modules] Fixed AKS Key Vault Secrets Provider Output and added additional test parameters
  modules/container-service/managed-cluster/.test/azure/dependencies.bicep
  modules/container-service/managed-cluster/.test/azure/main.test.bicep
  modules/container-service/managed-cluster/README.md
  modules/container-service/managed-cluster/agent-pool/main.json
  modules/container-service/managed-cluster/main.bicep
  modules/container-service/managed-cluster/main.json
Labels: bug, [cat] modules
