Repository Azure/ResourceModules, pull requests merged in 2024-01, with the labels that each got.

#4418 [Fixes] Ensure that VirtualMachineImages are removed before MSIs are removed as there's otherwise a high chance for a lock
  modules/virtual-machine-images/image-template/main.json
  modules/virtual-machine-images/image-template/tests/e2e/max/dependencies.bicep
  modules/virtual-machine-images/image-template/tests/e2e/max/main.test.bicep
  modules/virtual-machine-images/image-template/tests/e2e/waf-aligned/dependencies.bicep
  modules/virtual-machine-images/image-template/tests/e2e/waf-aligned/main.test.bicep
  utilities/pipelines/resourceRemoval/Initialize-DeploymentRemoval.ps1
Labels: bug, [cat] utilities

#4424 [Modules] Added MOVED-TO-AVM.md to Web-Serverfarm module
  modules/web/serverfarm/MOVED-TO-AVM.md
  modules/web/serverfarm/README.md
Labels: documentation, [cat] modules

#4431 [Modules] Added AVM disclaimer
  modules/resources/resource-group/MOVED-TO-AVM.md
  modules/resources/resource-group/README.md
Labels: documentation, [cat] modules

#4392 [Modules] Updates to the Azure Monitor Private Link Service (AMPLS) Module
  modules/insights/private-link-scope/README.md
  modules/insights/private-link-scope/main.bicep
  modules/insights/private-link-scope/main.json
  modules/insights/private-link-scope/scoped-resource/main.json
  modules/insights/private-link-scope/tests/e2e/max/main.test.bicep
  modules/insights/private-link-scope/tests/e2e/waf-aligned/main.test.bicep
Labels: enhancement, [cat] modules

#3918 [PSRule] Fix Rule Azure.VMSS.AMA
  .ps-rule/min-suppress.Rule.yaml
  modules/compute/virtual-machine-scale-set/README.md
  modules/compute/virtual-machine-scale-set/extension/main.json
  modules/compute/virtual-machine-scale-set/main.bicep
  modules/compute/virtual-machine-scale-set/main.json
  modules/compute/virtual-machine-scale-set/tests/e2e/linux.ssecmk/main.test.bicep
  modules/compute/virtual-machine-scale-set/tests/e2e/linux/main.test.bicep
  ps-rule.yaml
Labels: enhancement, [cat] pipelines, [cat] modules, [cat] testing

#4440 [Modules] Added missing `Moved-to-AVM.md`
  modules/network/application-security-group/MOVED-TO-AVM.md
  modules/network/application-security-group/README.md
  modules/network/connection/MOVED-TO-AVM.md
  modules/network/connection/README.md
  modules/network/ddos-protection-plan/MOVED-TO-AVM.md
  modules/network/ddos-protection-plan/README.md
  modules/network/express-route-circuit/MOVED-TO-AVM copy.md
  modules/network/express-route-gateway/MOVED-TO-AVM copy.md
  modules/network/load-balancer/MOVED-TO-AVM copy.md
  modules/network/nat-gateway/MOVED-TO-AVM.md
  modules/network/nat-gateway/README.md
  modules/network/route-table/MOVED-TO-AVM.md
  modules/network/route-table/README.md
  modules/network/virtual-network/MOVED-TO-AVM.md
  modules/network/virtual-network/README.md
  modules/network/vpn-gateway/MOVED-TO-AVM.md
  modules/network/vpn-gateway/README.md
  modules/network/vpn-site/MOVED-TO-AVM.md
  modules/network/vpn-site/README.md
  modules/resource-graph/query/MOVED-TO-AVM.md
  modules/resource-graph/query/README.md
  modules/resources/deployment-script/MOVED-TO-AVM.md
  modules/resources/deployment-script/README.md
  modules/web/static-site/MOVED-TO-AVM.md
  modules/web/static-site/README.md
Labels: documentation

#4463 Moved to AVM
  modules/analysis-services/server/MOVED-TO-AVM.md
  modules/analysis-services/server/README.md
  modules/cache/redis/MOVED-TO-AVM.md
  modules/cache/redis/README.md
  modules/compute/disk/MOVED-TO-AVM.md
  modules/compute/disk/README.md
  modules/compute/image/MOVED-TO-AVM.md
  modules/compute/image/README.md
  modules/consumption/budget/MOVED-TO-AVM.md
  modules/consumption/budget/README.md
  modules/data-protection/backup-vault/MOVED-TO-AVM.md
  modules/data-protection/backup-vault/README.md
  modules/databricks/access-connector/MOVED-TO-AVM.md
  modules/databricks/access-connector/README.md
  modules/databricks/workspace/MOVED-TO-AVM.md
  modules/databricks/workspace/README.md
  modules/db-for-my-sql/flexible-server/MOVED-TO-AVM.md
  modules/db-for-my-sql/flexible-server/README.md
  modules/health-bot/health-bot/MOVED-TO-AVM.md
  modules/health-bot/health-bot/README.md
  modules/net-app/net-app-account/MOVED-TO-AVM.md
  modules/net-app/net-app-account/README.md
Labels: documentation

#4468 [Utilities] Ported updated reference resolution from AVM
  modules/analysis-services/server/README.md
  modules/cache/redis/README.md
  modules/compute/disk/README.md
  modules/compute/image/README.md
  modules/consumption/budget/README.md
  modules/data-protection/backup-vault/README.md
  modules/databricks/access-connector/README.md
  modules/databricks/workspace/README.md
  modules/db-for-my-sql/flexible-server/README.md
  modules/health-bot/health-bot/README.md
  modules/net-app/net-app-account/README.md
  utilities/tools/Get-CrossReferencedModuleList.ps1
Labels: [cat] utilities
